[2017-05-22 17:37] mereghost opened #407 "Associations are returning ROM::Structs instead of Entities"
As reported by @sovetnik on #398
---
i'am on `belongs_to` branch found this behaviour:
Assume we have two models and relations between them:
User has_many Projects
Project belongs_to User

When we aggregate users from projects, aggregated entities (users) becomes ROM::Struct like `#<ROM::Struct[User]…` instead a `User` instance?

[code]

[2017-05-22 18:20] beauby commented on #407
Possibly related: #378.

[2017-05-22 18:54] mereghost commented on #407
@beauby @sovetinik please check if you are requiring `hanami/model/sql` on your application.

[2017-05-22 19:20] sovetnik commented on #407
In console i see constant
[code]
but i nothing to do with require manually,  I'm on hanami 1.0.

[2017-05-22 19:37] mereghost commented on #407
Hmmm... that's kinda weird. I'm not able to reproduce on a fresh hanami 1.0 app pointing to `develop` on both `model` and `utils`.

[code]
[code]

[code]

[2017-05-22 19:39] mereghost commented on #380
Any progress on this, @cllns ?

[2017-05-22 21:33] sovetnik commented on #407
Just updated hanami-utils and hanami-model to corresponding versions.
And found causer of this.
when experimant with schema and tries manually add user
wrote `    attribute :user, Types::Object` and forgot about it.
This not affect tests with attributes, and when you tell me about `.to_a` and `.all` i remarked this.
So, close a bug.

[2017-05-23 10:21] #407 closed

[2017-05-25 21:31] Mehonoshin commented on #380
Guys, I'm getting started with hanami, and this issue confused me very much.
We need to document it properly.
I guess everyone who switches from Rails - will meet this.

Does anyone work on it? I can do, if there are no volunteers.

[2017-05-25 21:49] cllns commented on #380
@Mehonoshin Sorry you ran into this issue. Yes, please open a PR :) <3

[2017-05-29 10:29] solnic commented on #380
FYI we started working on rom-4 and I already ported auto-map/struct feature from repository to rom core and now this works consistently:

[code]

This means that hanami will be able to enable auto-map/struct for its relations and it'll work consistently.

Furthermore, you'll be able to rely on built-in rom structs, as we added a feature where you can provide your own namespace and base struct cla

[2017-06-09 11:24] rybex opened #408 "DB apply command removes migrations even if fail"
Hi,

It isn't major bug but I had following inconsistency on my local environment:

[code]

When I used the `bundle exec hanami db apply` command it didn't filled up the `schema.sql` file but still removed all my migrations. Fortunately we have git ;P

[2017-06-20 18:36] spectator commented on #406
@jodosha would you point me to a direction how something like `multi_create` can be implemented w/o upcoming `Hanami::Model::Command` ?

[2017-06-22 21:16] mereghost commented on #406
@spectator You can plug directly on rom commands, be aware that the following line won't update your `created_at` and `updated_at` fields

[code]

[2017-06-22 21:38] spectator commented on #406
Thanks a lot @mereghost ! I led myself too deep into ROM commands and completely overlooked something as simple as this. BTW, you can add timestamps plugin like so

[code]

[2017-06-23 23:18] janz93 opened #409 "Mysqldump no external host possible"
I have the following docker-compose setup

[code]

[code]

during the `docker-compose run web bundle exec hanami db apply`
I get the following error message
`mysqldump: Got error: 2002: "Can't connect to local MySQL server through socket '/run/mysqld/mysqld.sock' (2 "No such file or directory")" when trying to connect`

this is because the [mysql adapter](https://github.com/hanami/model/blob/maste

[2017-06-25 14:37] solnic commented on #406
rom-rb may use a bulk insert whenever you pass in a collection of tuples (or structs, doesn't matter). It of course depends on the db backend, so ie on PG we use multi_insert which does a bulk insert on the database side. This is completely transparent from the user point of view because each adapter may provide custom command subclasses for each database type. It's also worth to mention that in r

[2017-06-26 18:01] spectator commented on #406
@solnic I see what you mean, but hanami-repository always returns one result even though collection of tuples was passed into `create` and rom-rb of course created all those records in the database, and thus the need for special bulk insert API so I can get full result back.

[2017-06-28 08:32] jodosha commented on #409
Hi @janz93 thanks for reporting this issue. For sure we want to improve our compatibility with virtualization vendors.

Yes, for now our MySQL strategy assumes localhost. I'm fine to add that change. Would you like to craft a PR for that?

[2017-06-28 08:35] janz93 commented on #409
Yes I will do that.

[2017-06-30 07:54] davydovanton opened #410 "Entity as a type does not work"
I think that "entity type" in entity attributes is a good idea and I want to use something like this:

[code]

But this code does not work. For fix this issue I need to add a hack like this:
[code]

I think we can create a new type (like `Type::Entity(User)`) or update entity for using this as a type.

WDYT?

/cc @hanami/core

[2017-06-30 12:12] jodosha commented on #410
@davydovanton @mereghost what do we use for _one-to-many_ relationship?

[2017-06-30 13:36] davydovanton commented on #410
@jodosha
[code]

[2017-06-30 17:00] mereghost commented on #410
On the many-to-one (and one-to-one) side of things the type is initialized as such:

[code]

Which itself is a subclass of `Hanami::Model::Types::Schema::CoercibleType`

[2017-07-10 12:57] jodosha commented on #410
@davydovanton I was referring to the other side of the association, which is what @mereghost mentioned.

@mereghost Is it possible to rename it to `Types::Entity`, so it can be used like:

[code]

What do you think?

[2017-07-10 17:26] korolvs opened #411 "How to make Hanami::Entity behave like Dry::Struct?"
For example, I have classes A and B:
[code]
If I create an empty instance of class A there will be an error:
[code]
But if I create an empty instance of class B - no:
[code]

How can I get the same error for class B?
Thanks

[2017-07-11 15:07] cllns commented on #411
`Dry::Struct` (through `Dry::Types`) is more flexible than `Hanami::Entity`. `Dry::Types` let you specify this behavior, but `Hanami::Entity` doesn't. See the `constructor_type` option for `Dry::Types` http://dry-rb.org/gems/dry-types/hash-schemas/

If you need this behavior, can you use `dry-struct` for your Entities? I'm not 100% sure, but I think it should work. The API for `Hanami::Entity` is

[2017-07-11 19:06] korolvs commented on #411
@cllns Thank you for your answer!
I found that it is possible to use ```Dry::Struct``` for Entities like this:
[code]

[2017-07-12 08:09] BenBach opened #412 "Automated setting of created_at does not work"
I have a repository with a created_at column with `Null: false` constraint. My database is postgresql

When I try to do a create similar to the example code from the guide it fails because created_at can't be null (http://hanamirb.org/guides/models/repositories/)

[code]

Expected: `created_at` is set automatically

[2017-07-12 09:57] BenBach commented on #412
I found the problem:

If only a created_at column is existing this does not work. Once I add the updated_at column it works
I think having only a created at column should work as well (eg. in case of immutable objects)

[2017-07-12 11:21] KamilLelonek commented on #168
What is the status here? Can we modify this value?

[2017-07-12 14:32] TiteiKo commented on #412
Hi @BenBach, thanks for reporting this!

I've made a quick fix, could you review it please? :)

[2017-07-12 14:46] BenBach commented on #412
@TiteiKo I did. Thanks for fixing it so quick. :-)

[2017-07-13 11:08] gohkhoonhiang opened #414 "Wrong number of arguments initializing Associations::BelongsTo"
I have the following associations in my repositories:

[code]

[code]

Now I'm trying to load `credit_attempt` with `credit` by the following method:

[code]

Then I get the following error:

[code]

Upon looking into the source code, I find out that there is no `initialize` method defined in `Associations::BelongsTo`, which was used somewhere in `hanami/model/association.rb`:

[code]

Is this WIP

[2017-07-17 07:39] genya0407 commented on #414
@gohkhoonhiang The `wrong number of arguments` error might be solved on the `develop` branch. Could you test the same code on `develop`?

[2017-07-17 10:18] gohkhoonhiang commented on #414
@genya0407 This works on `develop`. Do you know when will this feature be released next? Thanks!

[2017-07-17 10:43] genya0407 commented on #414
@gohkhoonhiang I don't know since I'm not owner/contributor of hanami :)

[2017-07-17 10:45] gohkhoonhiang commented on #414
@genya0407 No problem. Thanks for being so helpful! :D

[2017-07-17 10:45] #414 closed

[2017-07-18 14:37] mereghost commented on #414
@gohkhoonhiang Sorry for missing this earlier. Yeah, we intend to association support for many-to-1, 1-to-1 and many-to-many on 1.1. =)

[2017-07-18 15:37] mereghost commented on #410
I think it could work since it would be a simple class rename. :P

[2017-07-19 03:15] gohkhoonhiang commented on #414
@mereghost Thanks for the heads-up! Will look out for 1.1 release. =D

[2017-07-19 17:27] greggilbert opened #416 "Error: missing attributes in ROM::Relation"
Hey. I'm getting this error as part of my model: `Hanami::Model::Error: missing attributes in ROM::Relation::Name(commits) schema: :payload`. I think I'm doing everything right, but maybe not?

[code]

[code]

The error backtraces to hanami/model/config line 134. I just tried deleting the `payload` field from the table, and it works again.

Is there something actually wrong here, or did I make a m

[2017-07-19 18:43] greggilbert opened #417 "Can't specify encoding in migrations for MySQL tables/columns"
I can't find anything in the documentation or code on how to set the encoding/collation for a MySQL database. I tried something like `column :foo, String, null: false, encoding: :utf8mb4` but that doesn't seem to have any effect. There's nothing in the rom-rb docs either that I can find. Is this not supported?

[2017-07-19 18:45] whatthewhat opened #418 "ArgumentError: invalid value for Hash() when working with jsonb arrays"
Hi!
Looks like using automatic schema and jsonb arrays in postgres is currently not possible.

Assuming this simple setup:
[code]

I get a ArgumentError when trying to create a record with a jsonb array:
[code]

After some digging and a lot of `bundle open`_ing_ I'm pretty sure this line is to blame: https://github.com/hanami/model/blob/36003ff50c571574269cd81d0c0554cc9d949bf5/lib/hanami/model/sql

[2017-07-24 15:15] cllns commented on #417
Can you try [`charset` instead of `encoding`](http://sequel.jeremyevans.net/rdoc/classes/Sequel/Database.html)?

[2017-07-27 15:53] greggilbert commented on #417
@cllns I thought hanami/model is using rom-rb, not Sequel?

[2017-07-28 13:37] kaikuchn commented on #416
As discussed in the Chat on [July 24, 2017 10:05 AM](https://gitter.im/hanami/chat?at=5975aa52bc464729741c9cd4), the probable cause is that rom-sql does not support mysql types.

[2017-07-30 14:31] davydovanton commented on #411
@hanami/core should we add information about "dry-struct as an entity" to guides?

[2017-07-30 14:40] davydovanton opened #420 "Allow to use ROM plugins in hanami-model"
You can find many useful plugins for ROM library, for example, [pagination](https://github.com/rom-rb/rom-sql/blob/master/lib/rom/sql/plugin/pagination.rb). Also, you can create own plugin too. WDYT if we add the ability for using ROM plugins in hanami apps?

I had a discussion about it with @flash-gordon, and he told me that we need update [`Hanami::Repository::define_relation`](https://github.co

[2017-07-31 14:56] cllns commented on #420
👍

[2017-07-31 15:02] cllns commented on #417
@greggilbert Indeed, but `rom-sql` relies on `sequel` :) https://github.com/rom-rb/rom-sql/blob/master/rom-sql.gemspec#L18

[2017-08-01 13:11] #380 closed

[2017-08-01 15:26] jodosha commented on #408
@rybex I'm sorry about this problem. Even if it's a minor one, we aim to have the most frictionless user experience for our devs.

Would you mind to try this fix? https://github.com/hanami/model/pull/421 Thank you.

[2017-08-01 15:28] jodosha commented on #410
@mereghost It's all yours, then please take care of this.

[2017-08-01 15:29] jodosha commented on #412
Fixed by #413

[2017-08-01 15:29] #412 closed

[2017-08-01 15:32] jodosha commented on #417
@greggilbert @cllns We use `sequel` directly for migrations. See: https://github.com/hanami/model/blob/163b1958f58930af622ce00bd58324e6274e5c10/lib/hanami/model/migrator/adapter.rb#L81

---

I'm closing this as you found an answer. 👍

[2017-08-01 15:32] #417 closed

[2017-08-01 15:36] jodosha commented on #420
@davydovanton please do 👍

[2017-08-01 15:37] jodosha commented on #409
@janz93 Hi, are you still in for a PR to fix this problem? Thanks.

[2017-08-01 16:12] jodosha commented on #416
@greggilbert @kaikuchn I debugged the problem, this `rom-sql` [method](https://github.com/rom-rb/rom-sql/blob/release-1.0/lib/rom/sql/schema/inferrer.rb#L84) is responsible to build a ROM type for each attribute, but it fails because Sequel doesn't return a "ruby type" for MySQL's `:longtext`.

[code]

Because of that lacking information, ROM skips that column/attribute.

---

@flash-gordon @solni

[2017-08-02 08:13] jodosha commented on #411
@davydovanton Nope, I think we can do better.

The solution found by @korolvs is a hack, but that is a clear sign that we can make our entities more flexible by taking advantage of the new features from `dry-types`.

[code]

[2017-08-02 15:10] cllns commented on #411
Ooh, I like it @jodosha!

[2017-08-02 16:18] jodosha commented on #418
@whatthewhat Hi, I'm sorry about this problem. We assumed: JSONB => `Hash`, PG Array => `Array`.

Thanks to your debugging I got straight to the point and wrote a patch for this: https://github.com/hanami/model/pull/422

Can you please verify if it works for you? Thanks.

[2017-08-03 11:18] whatthewhat commented on #418
@jodosha just tested and both #422 and #423 seem to be working, cheers! 👍

[2017-08-03 12:47] janz93 commented on #409
@jodosha Yes but currently I had some other problems who needed my attention.
My goal is to get it done within this month.
Sorry for the delay

[2017-08-03 14:42] jodosha commented on #418
Fixed by #423

[2017-08-03 14:42] #418 closed

[2017-08-03 14:59] jodosha commented on #409
@janz93 May I ask to try with the current `master` of `hanami-model`?

I've added this commit: https://github.com/hanami/model/commit/a1b03c091e336171e796c6696a1d0fd3ddf3a1e9 which passes `--host`, `--port`, `--user` options both to `mysql` and `mysqldump`. These informations are extracted from the connection string (eg. `ENV['DATABASE_URL']`, if you use Hanami).

Can you please give it a shot, so

[2017-08-04 07:51] #408 closed

[2017-08-05 21:56] jodosha commented on #168
@KamilLelonek yes, you can.

[2017-08-06 07:04] KamilLelonek commented on #168
Great! Where and how then? I cannot find any mention of that in [the readme](https://github.com/hanami/model/blob/master/README.md).

[2017-08-06 08:14] genya0407 opened #426 "Add multiple records in one query."
Is there any way to `add` multiple records in one query?

What I wanna do:
[code]

However, above code raises error: `NoMethodError: undefined method 'merge' for [{:name=>'hoge'}, {:name=>'fuga'}, {:category_id=>'piyo'}]:Array`.

I know I can do it by issuing query for each time:

[code]

However this will produce performance problem.

Is there any cleverer way to do that?

Thanks.

[2017-08-06 09:25] genya0407 opened #427 "Deprecation warning when passing string to `Repository#where`."
When I do:

[code]

`where('deadline > ?', now)` produces warning:

"""
SEQUEL DEPRECATION WARNING: Calling a dataset filtering method with multiple arguments or an array where the first argument/element is a string is deprecated and will be removed in Sequel 5.  Use Sequel.lit("deadline > ?", 2017-08-06 18:17:05 +0900) to create an SQL fragment expression and pass that to the dataset filtering me

[2017-08-07 14:15] jodosha commented on #168
@KamilLelonek In the connection URL. Does it work for you?

[2017-08-07 16:57] jodosha commented on #426
@genya0407 Thanks for the feedback. I'm working on a patch to allow this.

[2017-08-08 04:07] cllns opened #429 "createdb not in PATH error message"
I opened issue #264 a couple years ago, but I just ran into it again. The error is a little better now, but it should be more informative.

I'm using Postgres.app on OS X, and I just ran into a problem running `hanami db create` where I didn't have `createdb` in my `PATH`.

The error that's displayed is: `Hanami::Model::MigrationError: No such file or directory - createdb` which is only slightly h

[2017-08-08 04:15] cllns opened #430 "More helpful error for nonexistent DB"
[code]

Instead of just:
[code]

Should we say something like:
[code]
(only show the HANAMI_ENV part if it's already equal to 'test')

Thoughts?? @hanami/core

[2017-08-08 08:06] jodosha commented on #429
@cllns Make it happen! 👍

[2017-08-08 08:06] jodosha commented on #430
@cllns yup 👍

[2017-08-08 17:10] jodosha commented on #411
@korolvs Would you like to give a try to #431?

[2017-08-09 19:10] graywolf opened #432 "Repository::find doesn't seem to work with composite keys"
Assuming I have table containing composite primary key

    primary_key [:name, :version]

    column :name, String
    column :version, String

I didn't find a way to retrieve such record using `Repository.new.find`. Tried this

    repository.find({ name: n, version: v })

but got

    Hanami::Model::Error: ROM:Relation[Statuses]#by_pk arity is 2 (1 args given)

Is there a way to retrieve it? Do

[2017-08-09 20:03] graywolf opened #433 "Repository assumes that primary key is integer"
It seems to me, that repository assumes that primary key is integer. When I have schema

[code]

and I print it in repository via

[code]

I see that both `name=:name` and `name=:version` are `ROM::SQL::Attribute[Integer]` descpite schema specifying them as string.

[2017-08-10 08:05] jodosha commented on #409
@janz93 In the meantime we have released `hanami-model-1.0.2`, you can try with that version too.

[2017-08-11 07:55] jodosha commented on #411
Implemented by #431

[2017-08-11 07:55] #411 closed

[2017-08-14 11:53] ekremkaraca opened #436 "mongodb support?"
Hey guys,

is it possible to add mongodb support for near future? Do you have any plans for this?

[2017-08-14 14:53] mereghost commented on #436
@ekremkaraca right now we depend on `rom` so it would be possible to support it, using `rom-mongo`, which is still in its very early stages. AFAIK support for `nosql`  is not on the horizon right now.

OTOH you can always remove the `hanami-model` gem from your Gemfile and use something like 'mongoid`.

[2017-08-16 13:35] mereghost commented on #436
Oh! Also you can always reach us on [gitter](https://gitter.im/hanami/chat) for questions, feedback and help =)

[2017-08-16 13:35] #436 closed

[2017-08-16 21:17] janz93 commented on #409
Yes this does the trick.
Thanks for that 👍

[2017-08-16 21:17] #409 closed

[2017-08-23 09:54] solnic commented on #416
I'd say we should raise an error, as in, we should not infer an attribute when ruby type is nil, then you'll get an 'attribute missing error' and you'll know you need to define it manually.

[2017-08-23 12:00] flash-gordon commented on #416
I changed the error message in 4.0 btw https://github.com/rom-rb/rom/blob/7ed4ad8b030210692bc850ae8fbf3e293922b9e1/core/lib/rom/schema/inferrer.rb#L12-L19

[2017-08-30 17:30] mereghost commented on #432
ROM can deal with composite keys but it seems that `hanami-model` can't deal with them right now.

[2017-08-30 17:34] mereghost commented on #433
Pinging @solnic or @flash-gordon for clarification, as it seems that `rom` infers PKs as Integers.

[2017-08-31 19:38] graywolf commented on #432
If ROM can deal with it, would changing

https://github.com/hanami/model/blob/ff2dae480a5736b2dfd6c4a0f9bb6ef9e1aec94f/lib/hanami/repository.rb#L411

to

      root.by_pk(*id).as(:entity).one

suffice? It would than be called

    repository.find([name, version])

or

    repository.find(name, version)

I would prefer the first one imho. But supporting syntax like

    repository.find({ name: n, v

[2017-08-31 21:21] davydovanton commented on #436
@ekremkaraca hello. Sorry for late response but I think you can try to use [mongoid](https://github.com/mongodb/mongoid) with(or instead) hanami-models

[2017-09-02 20:02] flash-gordon commented on #433
@mereghost it depends on the database actually, by default it's integers, PG's inferrer works differently. @graywolf what DB are you using?

[2017-09-02 22:08] graywolf commented on #433
@flash-gordon in this case it was just sqlite3

[2017-09-02 22:55] flash-gordon commented on #433
so, atm inferring non-integer PKs is supported on PG only

[2017-09-04 23:16] mereghost commented on #433
@flash-gordon Thanks for the heads up. Any idea if that's some kind of limitation of the underlying libs (making it almost impossible to work) or just a `NotImplementedError`? ;)

[2017-09-04 23:43] flash-gordon commented on #433
@mereghost it just works like that atm, absolutely nothing prevents from having support for inferrable PKs with other DBs :)

[2017-09-06 14:07] jodosha commented on #409
@janz93 Thanks for getting back. I appreciate it. 👍

[2017-09-06 14:26] jodosha commented on #410
@mereghost Please make this happen 💚

[2017-09-06 15:00] janz93 commented on #409
Your welcome :)

[2017-09-10 18:39] AlfonsoUceda commented on #432
@mereghost what do you think? can you implement this?

[2017-09-12 02:03] rafaels88 opened #440 "TypeError Exception: can't convert ROM::Relation::Loaded into Hash"
When using Hanami `0.9` I use to implement query for some objects combining some relations (as described here http://rom-rb.org/learn/advanced/combine/ ) doing:

[code]

and everything was fine. But now, after upgrading to `1.0` I am having this error:

[code]

It seems that the new implementation on `Hanami::Model::Sql::Entity#call` is not handling this anymore. Following below more details of th

[2017-09-12 02:49] rafaels88 commented on #440
I just figured it out that I can do:

[code]

instead of using `#combine`. But anyway, since it is an public method and it used to work with Hanami `0.9`, I still think it could be an issue.

[2017-09-17 20:13] AlfonsoUceda commented on #429
Closing it, PR: #435

[2017-09-17 20:13] #429 closed

[2017-09-18 20:22] AlfonsoUceda commented on #426
@genya0407 sorry for the late answer. Please can you try the following described here? https://github.com/hanami/hanami.github.io/pull/333/files Thanks

[2017-09-18 20:52] AlfonsoUceda commented on #430
This happens too when you run the server and access `localhost:2300`, it only happens with postgresql and not with mysql and sqlite. So I think we need to rescue that exception in our error classes and create something like `Hanami::Model::ConnectionError`.

@cllns will you take care of this?

[2017-09-19 16:16] micdahl opened #442 "Postgres: Remove need of installing local Postgres when using remote database"
`Hanami::Model::Migrator::PostgresAdapter` uses commands like `createdb` and `dropdb` which require a local Postgres installation, even when a non-local database is used.
Would it be possible to use the corresponding SQL-queries (e.g. `CREATE DATABASE`) instead?

[2017-09-19 18:17] cllns commented on #442
For context, see #200. I've run into issues with `createdb` not being in my PATH, which causes problems. I hadn't thought about non-local installations, though.

I wish there was some way we could use `CREATE DATABASE`, but it seems like `createdb` is the best solution :/

[2017-09-20 08:47] micdahl commented on #442
Just forked and got `CREATE DATABASE` and `DROP DATABASE` running in `PostgresAdapter`. Even I seem to have managed `load_structure` via `File.read`.
So at least `hanami db prepare` and `hanami db drop` are running without dependency of local postgres installation.

Problems I still see are the `pg_dump` related commands, as there AFAIK is no alternative way of doing this. Possibly could be done v

[2017-09-20 17:24] cllns commented on #442
`createdb` and `dropdb` should be available by installing the postgres client utilities without the server. I use OS X and homebrew, I can't figure out how you'd do it with that (`brew install postgresql` gives you both server and client), but I know you could do it on debian/ubuntu as `sudo apt-get install postresql-client`.

https://www.postgresql.org/docs/9.6/static/reference-client.html

[2017-09-20 18:10] micdahl commented on #442
Yes, (under good circumstances) one can install the client only or even the full server.
But I still think it is an additional dependency which does not necessary belong to the application server. Just my opinion.

[2017-09-30 17:41] AlexanderMint opened #445 "[Question] Whether it is possible to receive a name of the field in which a sql error?"
Example:

[code]

[2017-10-01 19:55] AlfonsoUceda commented on #445
@AlexanderMint we have an idea to improve `UniqueConstraintViolationError` getting the table, column and constraint so we'll be able to access them and could be used in params using something like `params.errors.add(e.column, e.message)`

[2017-10-01 20:08] AlfonsoUceda commented on #426
@genya0407 is it worked?

[2017-10-01 20:42] flash-gordon commented on #445
FWIW, unique validations should be done before data goes to a database. Of course, there is small (most likely) chance of getting a constraint violation error but such errors should be handled in another way, by rescuing and retrying the whole transaction including the validation step. Another possible option is using the `ON CONFLICT` statement introduced in recent PG versions

[2017-10-01 23:15] genya0407 commented on #426
@AlfonsoUceda sorry for late reply.

In that way, I will write code like this:

[code]

Is that okay to use another `Repository` in a `Repository`'s method?

By the way, `SomeRepository#create` method seems to be able to do `create_many`, though it doesn't return all records (first created record is returned).

[code]

[2017-10-02 07:46] AlfonsoUceda commented on #426
Yeah, no problem, tell us if that work for you.

[2017-10-02 08:10] #445 closed

[2017-10-02 08:14] jodosha opened #446 "Associations: HMT fails to associate entities"
I'm using `1.1.0.beta1` with the following repositories:

[code]

[code]

[code]

When `StoryRepository#feed` is invoked, it performs the following queries:

[code]

Please note **the last query**: it loads the user for a comment, but it isn't associated to the `Comment` instance:

[code]

[2017-10-02 08:31] jodosha commented on #442
@micdahl If you can make this to happen via a PR, we'll be more than happy to accept it.

I'm also wondering about `psql`. That is useful to execute manual queries and it powers `hanami db console` commands. Do you have any plan for that too? Thanks!

[2017-10-02 08:34] genya0407 commented on #426
Then, it worked. Thanks!

[2017-10-02 08:35] AlfonsoUceda commented on #426
Closing then, thanks to you.

[2017-10-02 08:35] #426 closed

[2017-10-02 17:44] erubin opened #447 "Two problems with one-to-many associations in Hanami 1.1.0.beta1"
I have a has_many/belongs_to association:

[code]
When I call this `EventRepository` method:

[code]

I get this error:

I look into has_many.rb and found that the `id` was present in `subject`, but it gets removed when `to_hash` is called in `initialize`.  I got around this by adding this `to_hash` method to my entity:
[code]

**********************************************************************

[2017-10-03 13:51] micdahl commented on #442
@jodosha Pull request is available.
I think to use `hanami db console` you will not get away from `psql`, even rails does this. But this should be ok, as this is only used in development and not in production and the user is not forced to use it, as he can run psql on the database server, if it is not identical to the application server.

[2017-10-05 16:35] graywolf opened #449 "Entity doesn't seem to work same way as in tutorial"
I followed the tutorial (with few changes), so I have these two files

    class AlohaVersionStatus < Hanami::Entity
    end

and

    require 'spec_helper'

    describe AlohaVersionStatus do

      it 'can be initialized with attributes' do
        avs = AlohaVersionStatus.new(name: 'POS', version: '12.3', status: 'F')
        avs.name.must_equal 'POS'
        avs.version.must_equal '12.3'

[2017-10-05 16:52] graywolf commented on #449
Please ignore.

[2017-10-05 16:52] #449 closed

[2017-10-05 22:16] 7even opened #450 "Weird jsonb insertion behaviour"
Hi.

I encountered a really strange bug trying to create a parent object along with it's children (associated via `has_many`): it seems like hanami/model (or maybe ROM) doesn't recognize that the table column type is jsonb and sends it to Sequel without wrapping in `Sequel.pg_json` (just a guess).

Furthermore, this only happens when the child table doesn't have timestamp columns; if I add `create

[2017-10-06 07:35] jodosha commented on #447
@erubin Hi, I'm sorry about these problems. I tried to reproduce them, but I couldn't. Please check this demo project I created for you: https://github.com/jodosha/hanami-model-447

The only issue that I get is the returning value of `#add_action` is `ROM::Struct::Action`, instead of `Action` entity. /cc @mereghost

Anything else works fine. Would you like to check the unit tests from the demo pro

[2017-10-07 11:21] rafaels88 opened #451 "TypeError when using Repository#select"
I have this code in my repository:

[code]

When executing it, I get:

[code]

Then I tried: `moments.select([:id])`, and got:

[code]

Then I tried: ``, and got:

[code]

Not sure how to use this method, and I really need it =/

[2017-10-07 17:34] mereghost commented on #446
Did you have a line on `CommentRepository` for a  `belong_to :story`?

[2017-10-07 20:46] rafaels88 commented on #427
This is not going to solve your problem because I think coupling your Repositories (or on your configurations) with Sequel is a bad thing, but if you want to avoid the warning, you can literally do what the warning is asking:

`where(Sequel.lit('deadline' > ?, now))`

[2017-10-07 23:44] genya0407 commented on #427
Ah, I misunderstood the warning.
I'll try `where(Sequel.lit('deadline' > ?, now))` .

Thanks.

[2017-10-07 23:44] #427 closed

[2017-10-08 10:48] nerdinand opened #452 "Documentation about postgres JDBC DATABASE_URL needs improvement"
When generating a new hanami app with JRuby and `--database postgres`, the resulting `DATABASE_URL` variable in `.env.development` looks something like this:

[code]

The documentation on http://hanamirb.org/guides/1.0/models/database-configuration/ suggests adding user/password like this:

[code]

however, this will not work in the case of jdbc. After a bunch of googling, I figured out user and p

[2017-10-10 19:29] AlfonsoUceda commented on #451
Hi @rafaels88 could you provide more info? for example what hanami version you are using and if `moments` is the relation. Thanks!

[2017-10-10 19:31] AlfonsoUceda commented on #452
thanks @nerdinand we need to test this because not long ago I improved url postgresql connection https://github.com/hanami/model/pull/441 allowing params for the configuration

[2017-10-10 19:36] AlfonsoUceda commented on #450
Hi @7even we'll take a look and update you with more info when found the problem. Thanks!

[2017-10-10 19:47] davydovanton commented on #440
@flash-gordon hey! Do you have any ideas? 😊

[2017-10-11 09:02] flash-gordon commented on #451
this must be related to https://github.com/rom-rb/rom-repository/issues/91, since it was fixed in 1.3.3+, what version of rom-repository are you on @rafaels88?

[2017-10-11 20:45] AlfonsoUceda commented on #452
@nerdinand I've tested in develop branch so this is resolved in 1.1.0.beta3. So in 1.1.0 this fix will be available. I'm going to update the docs for the new version

[2017-10-12 12:06] #452 closed

[2017-10-12 13:54] jodosha commented on #440
@rafaels88 Thanks for reporting this issue, and I'm sorry about the poor experience.

I don't see it as a public API problem as below 1.0. According to SemVer 2.0,  public API can break backward compatibility until 1.0.

[2017-10-12 13:54] #440 closed

[2017-10-12 14:00] jodosha commented on #446
@mereghost yes.

[2017-10-12 14:08] jodosha commented on #451
@flash-gordon I was be able to reproduce all the variations of this problem with `hanami-model` master (at 0f99788) and with the following ROM versions:

[code]

[2017-10-12 17:55] rafaels88 commented on #440
@jodosha good point! Agreed, thanks for the answer!

[2017-10-12 21:27] flash-gordon commented on #427
This can be done without falling back to Sequel with `where(meetings[:deadline] > now)` or `where { deadline > now }`.

[2017-10-13 07:16] AlfonsoUceda commented on #432
Working on this.

[2017-10-13 07:53] #450 closed

[2017-10-13 08:07] jodosha commented on #451
I debugged the issue, the method that the `relation` is invoking is `Kernel#select`, not the one exposed by `rom-repository`.

If in [`#method_missing`](https://github.com/rom-rb/rom-repository/blob/master/lib/rom/repository/relation_proxy.rb#L324) you use `#public_send` instead of `#__send__`, it will find the right method.

[code]

There is still a problem: array of column names can't be used. I

[2017-10-13 08:40] jodosha commented on #446
I make it to work with:

[code]

Please notice `:user`, not `:users`. I suspect because `Comment.belongs_to :user`.

[2017-10-13 08:52] jodosha commented on #446
I'm closing this as it isn't a bug, but a matter of using the right ROM syntax.

[2017-10-13 08:52] #446 closed

[2017-10-13 17:14] jodosha commented on #410
Implemented by #457

[2017-10-13 17:14] #410 closed

[2017-10-14 13:23] #451 closed

[2017-10-15 11:15] jodosha commented on #447
I'm closing this as I manually verified that this isn't an issue. @erubin If I'm missing something, please reopen this ticket. Thanks!

[2017-10-16 13:16] erubin commented on #447
If you add attributes to the Entity

[code]
When you call `add_action` you get this error:

[code]

[2017-10-16 13:20] erubin commented on #447
Luca,

I sent you this reply a week ago, which shows that there is a crash when
the Entity has attributes.  Perhaps you didn't receive it.

I added this this as a comment to #447, but it seems that I don't have
permission to reopen it.

I hope you can take a look at it.

Eric

______________________________________

Luca,

It doesn't seem that having more than 1 has_many relations make a
differenc

[2017-10-19 14:04] jodosha commented on #447
@erubin Sorry for the late feedback, but I only had now the time to look at it again.

We require an entity to have an `:id` in its attributes. It's a fundamental prerequisite for it to work.

Having an identity (ID) is the main difference between an entity and a _value object_, where the identity is determined by its values.

I'm sorry, but we can't support the absence of `:id` for entities.

---

[2017-10-19 14:04] #447 closed

[2017-10-22 12:23] postgred opened #461 "Entity class uninitialized in other entity"
I have `User` and `Message` entities and I want to add `users` attribute to `Message`.

I have tried to do it like in entities guide: http://hanamirb.org/guides/1.0/models/entities/

[code]

But the code returned an exception:

[code]

After that, I tried to use `Hanami::Entity::User` and got the same result.

[code]

At last time, I tried to add `messages` attribute to `User` for check and I was

[2017-10-23 10:41] jodosha commented on #461
@postgred Code in `lib/` directory is eager loaded in alphabetical order.

`lib/vkbus/entities/message.rb` is required **before** of `lib/vkbus/entities/user.rb`, that's why it fails to find `User` as constant.

To fix this you should add at the top of `lib/vkbus/entities/message.rb`

[code]

[2017-10-23 10:41] #461 closed

[2017-10-26 09:34] genya0407 commented on #427
@flash-gordon Cool! I love this. Thanks!

[2017-10-30 12:14] maxlapshin opened #463 "key not found: :name when mapping covers not all fields"
I have a table in mysql database:
[code]

Yes, this table don't have primary key.

I have created streams_repository:

[code]

I have declared here not all fields, only one.

Now I start console:

`$ bundle exec hanami console
key not found: :name`

After digging in code I've found that inside `Hanami::Model::Configuration.load!` there is call to `define_entities_mappings(container, repositories)`

[2017-11-06 10:39] malin-as opened #464 "Return type of private queries, incomplete documentation?"
Hi,

The [repository's guide](http://hanamirb.org/guides/1.1/repositories/overview/) states that all the queries should be private. However, the first example provided returns a `ROM::Repository::RelationProxy` object, instead of, say, an `Array` of `Book`s. I think this causes two problems:

1. This object contains a pending query, which might be executed way later, when rendering the web page
2.

[2017-11-07 00:16] Drenmi commented on #426
@AlfonsoUceda: It seems that using the [example](https://github.com/hanami/hanami.github.io/pull/333/files) in the guide with an entity that has timestamps will fail if not explicitly setting the timestamps.

ROM::SQL::NotNullConstraintError: PG::NotNullViolation: ERROR:  null value in column "created_at" violates not-null constraint

[2017-11-20 13:44] larssolem opened #466 "Error with groub by / count ?"
Looks like there is an issue with the mapping of result from the sql query given by the example below.
The SQL query that is generated from the function is correct. But only the destination and result data becomes available in the returned Relation object. If i rename :count to a name that is a field in the table it gets mapped to the returned Relation object.

[code]

returned object:
`#<Outgoing

[2017-11-20 13:47] jodosha commented on #466
@larssolem Can you please also share here an example of the generated SQL? Thanks.

[2017-11-20 13:48] larssolem commented on #466
SELECT "destination", "result", COUNT("destination") AS "message_tag" FROM "outgoings" WHERE (("timestamp" >= '2017-10-01 00:00:00.000000+0000') AND ("timestamp" <= '2017-11-21 00:00:00.000000+0000') AND ("message_tag" ILIKE 'tag:seas-next%' ESCAPE '\'))

[2017-11-20 13:52] jodosha commented on #466
@larssolem

I think this is the expected behavior. If you use `#select`, only the referenced columns are filled in the returning object. Am I missing something? What would you expect?

[2017-11-20 13:55] larssolem commented on #466
The sql does generate a count column in adition too the columns. If i run the generated query directly on the SQL database I get: destination: xxxxxxxxxx, result: 1, count: 1
but the returned relation object only includes destination and result.

[2017-11-20 16:46] gstn-caruso opened #467 "Return empty list instead of nil for empty has many associations"
Documentation says:

[code]
[code]

So, if I want to do something with those books I sould handle the case when there is no books, i.e.:

[code]
[code]
Then, I have to use the safe operator:
[code]

But if the collection would be an empty list, I could use just #map.
http://wiki.c2.com/?NullConsideredHarmful

The problem is that currently we have:

[code]

Instead of nil, we should use a **nil obj

[2017-11-20 18:33] kaikuchn commented on #466
Yeah that does not work, because you do not have an entity with a `count` attribute.
I think that's how ROM is supposed to work. I.e., you need to have an entity for your aggregate, say something like this:

[code]

[2017-11-20 18:52] #467 closed

[2017-11-27 09:31] jodosha commented on #442
@micdahl
Thanks for the PR, but the CI build doesn't pass with that changes.

I'm confused by this sentence ☝️ . I assumed that your problems with PG `createdb`/`dropdb` commands were in development mode, not in production.

Please be aware that `hanami db create` and `hanami db drop` are **disabled** in production env. We can't guess where you're are gonna deploy your software, and we can't assum

[2017-11-27 10:02] jodosha commented on #420
Closing this as stale, but marked _for future consideration_, as it we want probably to have this enhancement in 2.0.

[2017-11-27 10:02] #420 closed

[2017-11-27 10:40] jodosha commented on #463
@maxlapshin Hi, `mapping` should be used to "translate" database columns into entity attributes. This mechanism expects to act on all the schema columns.

If you want to work only with a subset of the database columns, you must manually define your schema, and not let the repository to automatically infer it:

[code]

[2017-11-27 10:40] #463 closed

[2017-11-27 10:48] jodosha commented on #464
@malin-as

Which one, specifically?

Why is this a problem? If you won't take advantage of the query laziness, you can materialize it immediately with `to_a` (inside the method implementation).

It returns that `RelationProxy` for reusability: you can pass around queries as scopes to other methods.

With Ruby nothing is really "private" like in other languages. Even the SemVer conventions that we

[2017-11-27 10:48] #464 closed

[2017-11-27 10:50] jodosha commented on #466
@larssolem Thanks to @kaikuchn now I understand the question. His suggestion should fix the problem.

[2017-11-27 10:50] #466 closed

[2017-11-28 01:05] diawl opened #469 "Repository coerces string datetime inconsistently in daylight saving timezone"
I created a new hanami project with latest version of Hanami(1.1)
`hanami new time_zone_experiments`

In this project, I did following things to set up experiments:

1, create a model with datetime field
`hanami generate model model_with_datetime`

2, add `pg` to `gemfile`
[code]

3, `bundle install`

4,  update the following files.
[code]
[code]
[code]
[code]
[code]
5, `hanami db prepare`
6, then

[2017-11-28 01:06] diawl commented on #469
@kaikuchn @jodosha here is the timezone issue we talked about in gitter.

[2017-11-28 09:59] micdahl commented on #442
@jodosha

Yes, generally, I think so.
But I even need this in my development environment.
I am used to rails, where my development setup is like follows:
I use docker-compose with separated docker containers for each, database and rails application. So the PG commands are not available from the application container.
I have tried to adapt the same setup to run hanami, where I got into this issue.

[2017-11-28 10:20] kaikuchn commented on #469
`DateTime` creates a timestamp without time zone field in postgres. As the [docs](https://www.postgresql.org/docs/current/static/datatype-datetime.html#DATATYPE-DATETIME-INPUT) say "In a literal that has been determined to be timestamp without time zone, PostgreSQL will silently ignore any time zone indication."

It is therefore no surprise that your offset is ignored. What I do not understand yet

[2017-11-28 10:27] kaikuchn commented on #469
Just to check, what does `SHOW timezone;` say in psql? And when you go into the psql shell and run `INSERT INTO "model_with_datetimes" ("start_at", "end_at") VALUES ('2017-10-01 02:00:00', '2017-10-01 02:30:00') RETURNING *` what does that return?

[2017-11-28 10:30] malin-as commented on #464
@jodosha
My main consideration here is the "fail fast" approach. If my query is going to fail for some reason, I would like that to happen as early as possible, so typically when running it from the controller. If I want to write some code to handle the exceptions, I know I can do it in the controller. It is also going to spare some CPU cycles.

I would argue that query re-use should only happen f

[2017-11-28 11:58] jodosha commented on #442
@micdahl It would be great if we can remove these issues in development with Docker. Please iterate again with that PR.

Nope. Of course `db migrate` and `db rollback` are available in production.

We disabled destructive operations (eg `db drop`), or hard to solve problems (eg. `db create`).

[2017-11-29 00:37] diawl commented on #469
`SHOW timezone;` gives me this
[code]

`INSERT` gives me this
[code]
and here is the description of table
[code]

[2017-11-29 08:19] kaikuchn commented on #469
Alright, so now we know that there is a bug somewhere in handling the values returned from the insert statement. Probably the time without timezone information is wrongly assumed to be in local time, the period is not found and thus gracefully corrected to the nearest existing period (i.e., DST).

[2017-11-29 08:37] kaikuchn commented on #469
@jodosha this is most likely a downstream bug, though I cannot tell where exactly.

[2017-12-09 18:39] apohllo commented on #442
@micdahl I use the very same Docker setup. As a workaround I have created noops for these commands in the application server, i.e.

[code]
This was necessary in order for the `schema_migrations` table to be created. But I think that decoupling `hanami db prepare` from creation of the database would be another option. I can have the DB schemas created in the Docker script.

BTW how this problem (na

[2018-01-17 14:21] apohllo opened #470 "Entity#to_h is not recursive"
The implementation of Entity#to_h is not recursive. i.e. doesn't convert to hash entities that are associated with the entity being converted. Would you consider making it recursive?

[2018-01-17 17:10] cllns commented on #470
What's the use-case for this?

Would the representer pattern be helpful? Something like [`roar`](https://github.com/trailblazer/roar).

We'd need to deal with circular dependencies somehow, if we did this.

[2018-01-17 17:57] apohllo commented on #470
Well, the primary use-case for me is a JSON API. I compared the output of `Dry::Struct#to_h` (which I believe is much similar to `Hanami::Entity`) and it does a recursive conversion. I considered the replacement of `Hanami::Entity` with `Dry::Struct` but it's not as straightforward as it seems.

To give you more context - I'm experimenting with `Transproc` as the primary library for building the J

[2018-01-25 14:01] mereghost commented on #470
@apohllo I'm pretty sure we had some troubles with this before but could not find the exact issue. =/

That being said, you can use `Hanami::Utils::Hash.deep_serialize` to do what you need.

[2018-01-25 20:15] AlexVKO opened #472 "How to map to a custom postgres schema?"
Hello Guys,
I'm using PostgreSQL and I'm having a hard time to make Hanami search for tables inside a custom schema instead of the public...

How can I do that?

[2018-01-27 03:08] mereghost commented on #472
Hey there, @AlexVKO !

Well, if I'm not mistaken `rom-rb` does not still support multiple schemas, and we use it under the hood. That being said, postgres has a `search_path` setting that can be passed onver dureing connection (`postgres://localhost/rom_sql?search_path=schema1,schema2`).

The original issue (and this solution) can be found over rom-rb/rom-sql#163 .

[2018-02-01 09:38] wuarmin opened #473 "Inconsistent access to ROM::SQL::Attribute while querying"
Hey,

I'm on hanami 1.1 and have some inconsistencies while accessing ROM::SQL::Attributes.
Following code
[code]
fails with
[code]
If I change code to following, it works.
[code]
So conclusion is that if I want to access ROM::SQL::Attribute's of repositories-table I have to use root, instead of stations. stations seems to be a  composite.

Bit if I use ROM's block syntax root does not work. At ro

[2018-02-02 16:04] wuarmin opened #475 "NoMethodError if select_append-method is sent before i.e. left_join-method"
Hey,
the method "all_addresses" of following Repository
[code]
fails with
[code]
If I refactor "all_addresses" to
[code]
it works. This is a very simple-example, but the issue is, I have some very complex repos with i.e. a core_statement-method, which serves as a base-brick for further query-methods.

For now I fixed it with explicit joins:
[code]

Best regards.

[2018-02-20 14:38] AlfonsoUceda commented on #472
Hi @AlexVKO sorry fo the trouble, did @mereghost's suggestion work fine?

[2018-02-28 09:24] alexey-klimuk opened #476 "SystemStackError: stack level too deep"
Hi guys,
I have some issues calling `update` method for repo.

`
repository.update(id, attrs)
`

Backtrace
[code]
Details:
`consume_deep_social_refreshed_data.rb" line 60-62`
[code]
`consume_deep_social_refreshed_data.rb" line 5-25`
[code]

Any ideas why it can happen?

[2018-02-28 09:49] flash-gordon commented on #476
Hello, this was fixed in 1.0.1 https://github.com/hanami/model/blob/563b1d58ceefca1ea6136044e137b2970dbed7ee/CHANGELOG.md#fixed-6

[2018-02-28 09:49] #476 closed

[2018-02-28 10:11] alexey-klimuk commented on #476
@flash-gordon thanks, I've missed it for some reasons when was reading changelog 👍

[2018-03-07 18:19] mereghost commented on #473
Hi @wuarmin thanks for reporting this. I'll take a look at it and at least give you some explanation. =p

[2018-03-19 18:01] mereghost commented on #473
Heya @wuarmin , are you using postgresql as your DB?

I've nailed part of the problem as our wrapping of the relations in a MappedRelation and already have some ways to fix that. But I just need to be sure if there aren't any other shennanigans going around when using PG. =/

[2018-03-19 18:19] wuarmin commented on #473
Hi @mereghost!
Thank you for your work. Yes I'm using postgresql. Great to hear that.

[2018-03-20 13:03] AlexVKO commented on #472
Hello,

Sorry for the delay.

The search patch was not doable for us, due de fact we have tables with the same name in different schemas, some examples:
[code]

Unfortunately we moved from Hanami for this and other reasons, we we're spending a lot of time for doing things that should be faster, and you know, in a startup real world we need to deliver things fast to hear feedback and etc, it was no

[2018-03-20 13:03] #472 closed

[2018-03-20 13:18] AlfonsoUceda commented on #472
@AlexVKO thanks for your feedback because it is valuable for us. Can you tell us more reasons about that decision? we need to improve and that would be awesome.

[2018-03-21 21:20] mereghost commented on #473
@wuarmin Yeah, the fix works in granting consistent access using the relation name (`stations` on your example).
I'm writing some tests to ensure that no regression will happen and put up a PR in the next few days.

[2018-03-22 11:28] wuarmin commented on #473
@mereghost great. I'm looking forward to v1.2.0

[2018-03-23 12:24] wuarmin opened #477 "Hot to get a raw result(no Hanami::Entity) from a query."
Hello,

I have following query:
[code]
and expect a unmapped result like
[code]
but get an array of Hanami::Entities without "months", because it is not defined at entity-schema.
I think this worked in previous hanami-versions, but I'm not sure.

**Just for info:** To workaround the issue, I ended with a hack like this.
[code]
best regards

[2018-03-29 12:12] jodosha commented on #473
Fixed by #478

[2018-03-29 12:12] #473 closed

[2018-03-29 16:37] wuarmin commented on #473
Thanks!

[2018-04-05 13:09] jodosha commented on #442
Closing as stale discussion.
The PR https://github.com/hanami/model/pull/448 tries to solve this problem, but it's stale as well.

If someone would take care of this, we'll be more than happy to merge it. Thank you all.

[2018-04-05 13:09] #442 closed

[2018-04-12 17:11] jodosha opened #481 "Use `dry-inflector`"
Association names are generated by pluralizing/singularizing target entities/relations.
Internally these inflections are handled by `Utils::String.pluralize` and `.singularize`. These two methods will be removed in Hanami 2.0, alongside with `Utils::Inflector`.

For this reason, starting from 2.0, `hanami-model` should use `dry-inflector`. The main difference between `Utils::Inflector` and `dry-in

[2018-04-12 19:01] mereghost commented on #470
As the opener seems to have solved his troubles, I'm closing this.

[2018-04-12 19:01] #470 closed

[2018-04-13 07:51] apohllo commented on #470
Yes, thanks, that's fine. I started using Transproc as a primary means for converting the data, which suites my needs perfectly. So I think there's no need to repeat the same functionality in Hanami.

[2018-04-13 07:58] flash-gordon commented on #470
transproc ftw!

[2018-04-17 12:53] mereghost commented on #477
It's one of those cases where the POLS bites back at you. We make sure that everything that a repository returns is turned into an Entity. But entities have schemas and aren't really all that a repository can return.

What I can offer you, so you can get rid of the fetch call, is calling `#map` over the relation you get on your example.

[code]

That will skip the mapper and should return you an a

[2018-04-17 13:06] mereghost commented on #475
I might be wrong but this seems to be related with `rom`'s auto schema inference. As soon as you add a new column that isn't on the table anymore and it tries to check it for association information, it blows up.

[2018-04-19 15:02] iJackUA opened #483 "Entity to_h - nested attribute entity is not converted to hash"
Is it by design? Because I was expecting it to work a bit different.

Suppose I have two Entities
[code]
[code]

I can initialize it that way
[code]
now when I do `user.to_h`
[code]
User entity is serialized to hash, but enclosed UserAuthData is still an object, we did not return to the same `user_params`

The only way I see to do that is
`Hanami::Utils::Hash.new(user).to_hash`
or
` Hanami::Utils:

[2018-04-19 16:03] cllns commented on #483
Duplicate of #470.

You noticed you can use `Hanami::Utils::Hash.deep_serialize`, which is the recommendation from that issue.

But we didn't really answer the question why this doesn't happen by default though. I agree it's surprising that it doesn't work that way. Any input @mereghost? I wonder if a workaround could be adding an optional param, like`#to_h(deep: false)` might make sense?

[2018-04-19 16:11] mereghost commented on #475
OTOH probably @solnic or @flash-gordon can provide a more in-depth explanation.

[2018-04-19 16:31] flash-gordon commented on #475
see https://github.com/rom-rb/rom-sql/issues/288

[2018-04-20 10:13] iJackUA commented on #483
Thanks @cllns it seems I searched not very good before creating an issue.
There are really valid points (of why current behaviour is "as it is now"):
* that is how ruby's #to_h works
* for JSON API we need to use better serializers (what I actually do) than `to_h`

My potential use case to have recursive to_h serialization was in adopting Entity in Trailblazer's Operation. Input of the typical Ope

[2018-05-10 14:57] mereghost commented on #433
Closing this for now as it's more dependant on `rom-sql` than on hanami aaaand we intend to move to a more modern `rom` asap.

[2018-05-10 14:57] #433 closed

[2018-05-13 11:33] bhanuone opened #486 "Geting error when using interval type in postgres"
I have a table(videos) with a column named duration of type `interval`. I am getting the following error when I try to run the app.

`Hanami::Model::Error: missing attributes in ROM::Relation::Name(videos) schema: :duration`

Then I followed the instructions specified [here](http://sequel.jeremyevans.net/rdoc/files/doc/postgresql_rdoc.html#label-PostgreSQL-specific+Database+Type+Support) to enable

[2018-05-14 11:39] apohllo commented on #477
@wuarmin it's a good idea - specially in case somebody needs only skinny API. I tried to find it somewhere in the docs, but without success, so a guide extension is a great idea.

[2018-06-01 16:20] ippachi opened #488 "Apply the Strict to only a part."
On hanami-1.2.0, I ran a below code

[code]
and not raises a error.
I expect `ArgumentError: name  is missing in Hash input`.

and after saw the `hanami/entity/schema.rb: 111`, I tried the below code.

[code]
and not raises a error.

It seems that `Dry::Types::Hash` doesn't support `Types::Strict`
I have no idea that this is bug or a specification.

I have a way for solve this bug.
but if apply th

[2018-06-02 10:19] unrooty opened #489 "Sequel and rom-sql version"
I see that hanami-model 1.2 depends on rom-sql 1.3.5. Will you change this dependence? I want to use sequel 5.9 but I can't because of this :C

[2018-06-04 07:42] jodosha commented on #489
@unrooty I'm sorry but this isn't possible because of Semantic Versioning. Bumping dependencies on `rom-sql` 2.x and `sequel` 5.9 would break the existing API.

[2018-06-04 07:42] #489 closed

[2018-06-04 07:45] jodosha commented on #488
@ippachi Yes, you can choose to apply strict policy only for a few attributes. That means the last snippet should work. If it doesn't, it's a bug.

[2018-06-04 07:45] #488 closed

[2018-06-29 03:46] saiidalhalawi opened #491 "Some alter-table methods are unavailable at migration"
Hi, I use following versions.

- `hanami (1.1.1)`
- `sequel (4.49.0)`

[The document](http://hanamirb.org/guides/migrations/alter-table/#alter-tables) says `set_column_allow_null` is available at migration, but I've encountered `undefined method` error.

[code]
[code]

In addition, some other methods, like `set_column_not_null ` or `add_unique_constraint`, are same.
It seems to be good the documen

[2018-06-29 04:16] cllns commented on #491
Thanks for opening this. I found this bug a year ago but forgot about it :(

See: #387 and #391

[2018-07-02 13:14] jodosha commented on #475
Fixed by https://github.com/rom-rb/rom-sql/pull/292

This will be released with Hanami 2.0 alpha in more than a month.

[2018-07-02 13:14] #475 closed

[2018-08-15 17:18] jc00ke commented on #349
I've recently run into this issue and I think that @beauby is correct, in that in an OO language, *not* being able to override a public method violates `POLS`.

I'm working on an application where I need to hash and encrypt attributes in several models. Currently, I have to write a `CreateX` and `UpdateX` interactor for each model `X` instead of overriding `XRepository#create` and `XRepository#upd

[2018-08-28 09:17] checkbutton opened #497 "Type of Postgres json/b columns is not correctly inferred"
While the regular repository `update` method correctly infers the json/b column type, this here does not:
[code]
`meta` is a Ruby Hash. It works with `.update(meta: Sequel.pg_jsonb(meta))`, yet this breaks the repository's storage independency.

[2018-08-31 07:10] mereghost commented on #497
Hi @checkbutton , thanks for the report.
I'll see if there's anything we can do to make the user experience a bit better (although I think it's more a problem outside of our reach - Sequel in this case).

OTOH, one might argue that using jsonb already makes you DB dependent as the field exists only on PG anyway.

[2018-08-31 07:11] mereghost commented on #486
@solnic @flash-gordon how does `rom` deals with it?

[2018-09-05 12:55] vonchristian opened #498 "How to implement polymorphic association?"
How do i implement polymorphic association in hanami? Example. Address can either belong to a User or a Member. Thank you.

[2018-09-06 12:20] nbfritz opened #499 "Update to ROM 4.0?"
I wanted to incorporate ROM Factory into a project but ran into a number of version conflicts that locked me to version 0.4 rather than the newest 0.6 of the library. That led me to notice that ROM is currently version locked to the 3.3 line which was replaced by version 4.0 almost a year ago (from what I'm reading...I'm new to Hanami and ROM).

Is there an initiative to update the dependencies of

[2018-09-06 13:13] davydovanton commented on #499
hey, we want to update rom to 4.0 version in next release. Now, to fix your problem try to use this gem:

[2018-09-06 18:49] nbfritz commented on #499
Thank you. That's good to know.

I had looked at Fabrication as an alternative, but shifted to ROM Factory thinking it would play more nicely with ROM. I'll give hanami-fabrication another try. It does appear that ROM Factory is still a bit early in its development anyway...

[2018-09-06 18:49] #499 closed

[2018-09-17 09:04] checkbutton commented on #497
@mereghost Agree, jsonb is very specific here. Can I use a type "Hash" on the schema, which then infers a type according to DB driver?

[2018-10-15 15:33] jdickey commented on #499
@nbfritz Not sure why I only saw this notification now (I'm watching the repo), but I've been using `hanami-fabrication` for months now and it's been sweet. Ping me if I can help with anything.

[2018-10-15 19:04] katafrakt commented on #497
@checkbutton I think it would still be ambiguous. In PostgreSQL for example it can be jsonb, json or even hstore if the hash is one-level deep.

[2018-10-21 19:22] SamyRai opened #500 "Date with BC note in PostgreSQL parsed incorrectly"
Hello,

I am using:
[code]
and PostgreSQL 10.5 with table `authors` in it. This table has a column `date_of_birth` (Date type).
I have an entity `Author` with schema containing `date_of_birth` attribute and type `Types::Date`.

For one author this column contains following
[code]
If i try to parse this string manually via
[code]
I get correct date with minus.

But if I do this
[code]
it ignores BC

[2018-12-11 03:34] mbriggs opened #510 "Optimistic Locking"
Is there a way to do something similar to this with hanami? https://api.rubyonrails.org/classes/ActiveRecord/Locking/Optimistic.html

Essentially, "UPDATE ... WHERE version = <version_from_model>" with an exception if it fails. I saw a mention of Custom Commands in the docs, but it doesn't really go into detail on how to use them

[2018-12-11 13:50] mbriggs commented on #510
asking in gitter

[2018-12-11 13:50] #510 closed

[2018-12-12 12:49] kaikuchn commented on #510
For posteriority, according to jodosha:

[Source](https://gitter.im/hanami/chat?at=5c0fc47080986419d57474f8)

[2019-02-26 12:32] Naniakl3 commented on #360
How to configure database in hanami. I am using pg.

[2019-02-26 16:52] mereghost commented on #360
@Naniakl3 Considering your are running the latest stable version, there should be an `.env.development` (and a `.env.test`) file on your project. There you will find a variable that holds the database connection string.

Edit that and you should have DB access.

[2019-03-01 19:46] matheusazzi opened #516 "Repository #find_or_create_by"
Is there any interest in having something similar to [AR#find_or_create_by](https://apidock.com/rails/v4.0.2/ActiveRecord/Relation/find_or_create_by) as a `Hanami::Repository` core method?

[code]

[2019-03-01 19:48] #516 closed

[2019-03-04 15:39] whysthatso opened #517 "Databasecolumn defaults are not replacing empty string or nil values"
When invoking `ObjectRepository.new.create`, a new Object is indeed persisted with the default values as defined in the migration.

When invoking `ObjectRepository.new.create( Object.new( attribute1: '', attribute2:'foobar', attribute3:nil )
an Object with all these attributes set is persisted, but neither empty string nor nil is set to the default value.

Possibly unimportant context:
The attribu

[2019-03-04 15:47] whysthatso commented on #517
[code]

[code]

[code]

[2019-03-05 23:53] cllns commented on #517
Can you handle the default values at the model layer instead? A ["Custom schema"](https://guides.hanamirb.org/entities/custom-schema/) might get you what you want.

Semantically, the city is `nil` (or `null` in SQL lingo): it wasn't provided. That you want to present it as "n/a" shouldn't affect how you store it.

Honestly, I'd probably go higher than the model and handle this in a [`Presenter`](h

[2019-03-06 10:19] kaikuchn commented on #517
I guess a work-around would be to convert the entity into a hash and compact it. Then all keys where the value is nil would be removed (empty strings would still be around though!) and defaults of the database should be filled in.

A better approach would be to have defaults specified in the entity. In that case one needs to create a custom schema... @cllns Couldn't the auto-discovery of the schem

[2019-03-09 04:05] PWx21 opened #518 "Sqlite3 'dumps database schema.sql' test failing"
Short version: `bundle exec rspec 'spec/unit/hanami/model/migrator_spec.rb[1:1:5:2]'` fails after install on at least ruby v2.5.1
[code]

[2019-03-13 10:32] ahmeddwaheed opened #519 "Private method 'Array' in hanami entity"
while type Array is defined in hanami entity attributes when trying to use it, it throws an error of a private method 'Array'  called for Hanami::Entity::Types:Module

[code]

[2019-03-13 11:42] flash-gordon commented on #519
No, it's not defined, this method is from `Kernel`, it's overridden in later versions of dry-types, seems like the version used by hanami-model doesn't have it yet. Use `Types::Array.of(User)` or `Types::Array.member(User)`. One of the two should work.

[2019-03-13 15:02] ahmeddwaheed commented on #519
@flash-gordon thank you it worked :+1:

[2019-03-26 17:26] ippachi opened #521 "Extra query with assoc and that make app slow"
[code]

above code issue three query.

[code]

I don't need second query because this make my application slow when record is increased.
Is this necessary?

[2019-03-30 13:37] ippachi commented on #521
I notice this bug will be resolved by #509. So I close this issue.

[2019-03-30 13:37] #521 closed

[2019-04-06 08:11] glaszig commented on #385
similar issue here. i'm trying to force hanami to de-/serialize a sqlite text column with json. for that, i need to set my column type.

[code]

of course, this does not work because i now need to define my entire schema myself. but when i do that, the associations don't work anymore. it's a pain.

[2019-04-12 21:35] glaszig commented on #518
same here and i investigated. it must have something to do with the sqlite version.

    $ sqlite3 --version
    3.19.3 2017-06-27 16:48:08 2b0954060fe10d6de6d479287dd88890f1bef6cc1beca11bc6cdb79f72e2377b

the test case expects the dump to contain the following:

`spec/unit/hanami/model/migrator/sqlite.rb:285`
[code]

but the `.dump` command with the above sqlite version actually produces an inser

[2019-04-12 22:04] glaszig commented on #518
sqlite versions seem to be the following:

- travis: **3.8** (by way of the [ubuntu trusty package][ubuntu-sqlite])
- circle: **3.16** (by way of the [debian stretch package][debian-sqlite])

[ubuntu-sqlite]: https://packages.ubuntu.com/trusty/sqlite3
[debian-sqlite]: https://packages.debian.org/stretch/sqlite3

[2019-04-12 23:25] glaszig commented on #518
ok. i stumbled upon the sqlite commit that changed the quoting behavior in _drumroll_ version **3.18**.
mackyle/sqlite@31866aa (original source: [that commit][sqlite-commit]) adds a quoting algorithm that dynamically decides whether to quote an identifier or not. it also contains test case where the quotes around table names got removed.

**summary**

- the test suite is successful on ci because c

[2019-05-13 17:26] jodosha commented on #516
@matheusazzi Hi and thanks for this proposal.

The main design principle behind repositories is: hide low level details.
By exposing `name` as a keyword argument goes against this principle.

---

Why did you closed the ticket right after you opened it?

[2019-05-13 17:36] matheusazzi commented on #516
Hey @jodosha, I should have been clearer on why I closed it, but it was what you said.
I figured out it doesn't make much sense as a Repository responsibility and I think if having a logic like that it should be done in another place.

[2019-05-16 16:10] DangerDawson commented on #486
@bhanuone did you manage to solve this? I have hit exactly the same problem with the `tstzrange` type although I have loaded the `pg_range` extension

[2019-05-17 08:05] DangerDawson commented on #486
So the only way I managed to get this to work, was to monkey patch rom-sql with the types I needed which I stole from a later version of rom-sql. If you need a hand I can post a gist?

[2019-05-22 08:18] mereghost commented on #486
I'm sorry for your experience. =( Good news is that we are updating ROM for the next release, hopefully to ROM 5.

[2019-05-22 08:18] #519 closed

[2019-05-22 08:29] DangerDawson commented on #486
@mereghost that is fantastic news, really looking forward to having the latest version of ROM

[2019-05-24 11:24] #518 closed

[2019-06-27 18:48] TheTharin opened #539 "Associations don't seem to work well with as: aliases."
Hey there! I can't successfully use `has_many :books` with `as: :journals` alias in repositories due to ROM::RelationRegistry error popping up when I try to `assoc(:journals, author).add(title: 'Something')`

Here's the link to the gist to reproduce the bug: https://gist.github.com/TheTharin/39f9b2db96440ae3b7a9259c861651ef#file-assoc_bug-rb

If you replace `:journals` to `:books` on line 60 - it

[2019-07-03 18:19] mereghost commented on #539
Hello @TheTharin . I'll take a look into this, thanks for reporting.

[2019-07-05 10:29] mereghost commented on #517
If the column allows `NULL`s and you send a nil, this one will get persisted as this was what you asked for (or so the underlying layers think).

Same goes with the empty string. @whysthatso You can probably properly handle these with a validator either on the Action or Interactor level.

[2019-07-05 10:32] mereghost commented on #486
Just some belated news: just confirming that ROM 5 will be included out of the box for the 2.0 release.

[2019-07-10 13:44] ifyouseewendy opened #541 "What's the recommend way to use transactions?"
👋 I've searched around the code base. It seems the transaction support is removed from hanami model. `Hanami::Model.container.gateways[:default].connection` seems to be a `Sequel::Mysql2::Database` which I could call `transaction` on it. May I ask if there is a recommended way to do it in hanami model? Thanks!

[2019-07-11 20:53] TheTharin commented on #539
@mereghost  you're welcome! :)

[2019-07-19 14:46] mereghost commented on #539
Heya @TheTharin good news & bad news.

Aliases are kinda borked as 1.3 is still using ROM 3, that gets kinda lost with them. Good news is that we are getting the release of model 2.0 wrapped up, that which will include ROM 5 which should sort the problem out (solved on my contrived tests at least).

[2019-09-16 10:53] checkbutton opened #550 "NoMethodError: undefined method `one' for #<Hanami::Model::Associations::HasMany>"
The following example returns a `NoMethodError: undefined method 'one' for #<Hanami::Model::Associations::HasMany>`:
[code]
Tested it on Hanami 1.3.1, according to this documentation:
https://guides.hanamirb.org/associations/has-many/#querying
It seems that it is also wrongly documented.

[2019-09-16 10:53] jodosha commented on #550
@mereghost Would you please have a look? Thanks.

[2019-10-02 20:26] landongrindheim commented on #550
I'll provide two solutions to this. One adds the method `#one` to `HasMany` (#553), the other will remove the documentation from this repository as well as the guides repository (coming soon) 🙂

[2019-10-30 13:44] landongrindheim commented on #550
@jodosha @mereghost Any thoughts on the solutions referenced above?

[2019-11-08 03:20] #469 closed

[2020-02-07 19:04] CryptoRodeo opened #570 "BigDecimal.new error with Postgres"
Hello,

So I'm going off the **hanami getting started tutorial** and unless i go with the default sqlite db option i get a boot error.

This is the message i keep getting anytime I run the web server:

**Hanami::Model::Error: undefined method new' for class #Class:BigDecimal' Did you mean? next**

Nothing was modified except the .env files to connect to the postgresql db. I simply followed the dir

[2020-02-07 19:34] cllns commented on #570
Hi there, thanks for reporting this and sorry you're having trouble.

Can you post the full stack trace of the error, if there is one? And let us know which version of Ruby you're using. If you could upload the project as a repo on GitHub, that'd be swell too :)

[2020-02-07 19:44] CryptoRodeo commented on #570
Thanks for responding!

Here is the repo: https://github.com/CryptoRodeo/hanami_project

I'm using **ruby 2.7.0**

Here is the stack trace i get whenever i run the server:

**Boot Error**
Something went wrong while loading /home/bryan/Documents/projects/hanami_project/bookshelf/config.ru

**Hanami::Model::Error: undefined method `new' for class `#<Class:BigDecimal>' Did you mean? next**
/home/brya

[2020-02-07 20:19] jodosha commented on #570
Ruby 2.7.0 removed `BigDecimal.new`, so we need to monkey-patch `BigDecimal` 😢 .

[2020-02-07 20:24] cllns commented on #570
@jodosha Could we specify using BigDecimal v1.x? It seems like v2.0 is causing this
https://github.com/ruby/bigdecimal#which-version-should-you-select

Or, we could convert calls of `BigDecimal.new()` to just `BigDecimal()`, assuming they behave the same way.
https://ruby-doc.org/stdlib-2.7.0/libdoc/bigdecimal/rdoc/Kernel.html#method-i-BigDecimal

[2020-02-07 20:50] cllns commented on #570
@CryptoRodeo Yea, putting `gem 'bigdecimal', '~> 1.4'` (or 1.3, if you don't want warnings) in your Gemfile fixes this for now. We'll figure out a better solution of course, but this will get you unblocked :)

Note, you may also have to do `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES bundle exec hanami server` [if you're seeing an EOFError](https://github.com/hanami/hanami/issues/1024)

[2020-02-07 20:52] CryptoRodeo commented on #570
@cllns @jodosha Thanks for the help!

[2020-02-07 21:00] cllns commented on #570
Going to re-open this Issue so we can keep track of it and fix it properly 🌸

[2020-02-07 21:45] jodosha commented on #570
@cllns yeah `BigDecimal.new()` to just `BigDecimal()` is worth a try. 👍

[2020-02-27 13:31] #570 closed

[2020-04-01 14:43] smarthouseprojectdotorg commented on #349
I agree with @jc00ke and @beauby and using the recent version of Hanami still get the above issues, hence found this discussion. It's 2020 and I see the issue is closed but not solved. I'm adding a cache to a repository and was surprised by the fact that I could not override #update and #delete and call super and update the cache in the overridden methods. Why? @jodosha Could you suggest a nice so

[2020-04-01 16:07] solnic commented on #349
@smarthouseprojectdotorg this will be fixed in hanami-model 2.0.0

[2020-05-21 12:27] diegotoral opened #581 "Can't prepare testing PostgreSQL database"
Hi all!

I'm not sure this is a bug or I've made some mistake.

I am trying to follow the steps in the [Getting Started](https://guides.hanamirb.org/introduction/getting-started/) guide and have setup a basic Docker and docker-compose environment for development (just like I usually do for Rails) but I am stuck on the very beginning of the guide when trying to run `HANAMI_ENV=test bundle exec hana

[2020-05-21 12:35] jodosha commented on #581
@diegotoral Hi, do you have PG CLI commands installed?

`db prepare` does:

  * drop the database (if existing)
  * create the database
  * run the migrations

For the first two steps, it uses `dropdb` and `createdb` from PG utilities. If you login to your Docker image are you able to find these executables?

[code]

[2020-05-21 12:38] diegotoral commented on #581
Yes, I forgot to mention that I already checked that. I do have and can connect to postgres using psql.

[code]

[2020-05-21 17:35] cllns commented on #581
@diegotoral It looks like this might be due to having an old version of bundler (2.0.2) Can you run `gem update --system` (with `sudo` if needed). See: https://github.com/rubygems/rubygems/issues/1668 for other possible similar solutions if that doesn't work.

[2020-05-21 18:42] diegotoral commented on #581
@cllns @jodosha Thanks for the help but I just figured out the problem... `DATABASE_URL` is missing the database name part! 🤦‍♂️ 😂

[2020-05-22 07:22] jodosha commented on #581
@diegotoral Hey, I'm happy that you found the solution to this problem. 😄

[2020-05-22 07:22] #581 closed

[2020-06-01 14:51] dudo commented on #570
Seems as though closing this was a bit premature, no? locking the version of bigdecimal is a bandaid. Any plans to fix the root cause?

[2020-08-21 06:32] tadejm commented on #570
We're depending on the `oj` gem for JSON generation/parsing and they've recently added `bigdecimal` as a runtime dependency, https://github.com/ohler55/oj/issues/617 which conflicts with `hanami-model` `1.3.2`.

A quick way to get around this is to point to latest `hanami-model` master which contains @cllns's fix:

[code]

Any plans on releasing `1.3.3` with this patch?

[2020-09-23 22:22] antstorm opened #584 "#to_hash and implicit conversion"
Something that caught me off guard when using an instance of `Hanami::Entity` with Ruby's double splat:

[code]

Due to implicit conversion (`#to_hash`) User instance gets deconstructed into a hash when passed into the test method. The behaviour was introduce in this PR — https://github.com/hanami/model/commit/26c17ebca4a52d11f3169e4e9af184af05375c33.

My question is — was it intentional and there

[2020-09-24 08:40] solnic commented on #584
This will be addressed in Hanami 2.0. This method will be gone as it has confusing behaviors like you noticed.

[2020-09-24 11:28] antstorm commented on #584
This is great, thank you, @solnic!

Do you have a timeline in mind for Hanami 2.0? I know things have been a bit stale recently

[2020-09-25 09:20] solnic commented on #584
@antstorm we'll be posting an official roadmap/timeline very soon! I recommend following Tim's updates on [his blog](https://timriley.info/writing/) too. You can also see [our Trello board](https://trello.com/b/lFifnBti/hanami-20) to get a sense of where we are in the process.

[2020-09-27 21:29] antstorm commented on #584
@solnic ah, lovely, great to see there's some progress on the project. I really enjoy Hanami and have been running it in production for 1.5 years now

[2020-10-01 11:42] Jai007-code opened #586 "Error"
Skip

[2020-10-01 13:05] #586 closed

[2020-11-16 12:15] #497 closed

[2020-11-29 12:19] nomanurrehman commented on #570
I am still getting this error with the latest stable release. Do I still need to patch it in the `Gemfile` as mentioned above?

[2020-11-29 12:36] nomanurrehman commented on #570
Adding the `Gemfile` fix above solves it for me.

[2020-11-29 21:40] hedselu opened #595 "db prepare raises Postgres createdb error"
I encountered error from postgres version 13 in `createdb` command while trying to run `hanami db prepare` on clean app.

error trace shows problem in `path/hanami/model/migrator/postgres_adapter.rb:103`.

Checking `command_with_credentials` method I see there's password option applied for database command:
[code]
I thought it might be the case, that postgres version 13 dropped support of passing

[2020-11-29 21:48] hedselu commented on #595
Ok, after further investigations the problem lays in master branch which has a possible bug. I was basing on master as it was recommended in this issue https://github.com/hanami/model/issues/570 for ruby 2.7. I think it will be better to downgrade ruby to 2.3 instead :thinking:

[2020-12-01 22:28] cllns commented on #595
I've tried to reproduce this in a number of ways but I haven't been able to. It'd be super helpful if you can provide a short list of commands/instructions that reproduce this issue, and/or if you can create a GitHub repo and link to it here so I can look into this more. Thanks!

[2020-12-05 16:18] hedselu commented on #595
I've added repository right here: https://github.com/hedselu/hanami-db-error

I am unsure how did you set up db connection when trying to reproduce (thanks for trying and my apologies for not including this info), but have a look at `.env.development` file, where database credentials are included in URL. The problem might be only when authenticating with password.

[2021-01-04 03:58] ablce9 opened #607 "Unable to control production DB log"
The db log is always logged and we'd like to make it go away at production environment. Looked through documentations and source code and finally reached [this PR](https://github.com/hanami/model/pull/368). I reckon no options available to disable SQL logging?
I worked on a few hours and found a workaround that is:

[code]

Is this a legit solution to disable log? This issue should be tagged as `q

[2021-01-04 20:04] MichalJaneda commented on #432
@AlfonsoUceda are you still working on it? If not, may I try to take this over?

[2021-01-04 20:41] adam12 commented on #432
@MichalJaneda they removed their assignment so you're probably safe to work on it,

[2021-01-04 22:14] AlfonsoUceda commented on #432
Hey @MichalJaneda yes you can work on that, but better confirm with @jodosha if it worths it

[2021-02-08 12:06] wenderjean opened #616 "[QUESTION] There is a "How to" guide for the test/development process?"
Hey guys,

I recently forked the repository in order to contribute to it but I'm actually getting into problems when trying to run specs. I believe the problem is actually related to any specific flow I should follow, basically what I'm getting is:

[code]

I've spent some time debugging and trying to understand what I'm missing and I realized that [this piece of code](https://github.com/hanami/mo

[2021-02-11 12:03] adam12 commented on #616
That's a strange error. I don't feel it's related to the deletion of the database file as SQLite will happily create missing database files.

Which Ruby version?
Which OS?
What version of `uri`? (`gem list uri`)
Is this on the `master` branch?
Can you share the output of `env` with anything critical redacted (specifically, anything starting with `HANAMI_`)?

[2021-02-17 05:38] dudo commented on #570
Where we at with 1.3.3, folks?

[2021-02-17 16:30] adam12 commented on #570
Is `master` working for you? or are you using a different solution?

I'm not super keen on the `bigdecimal` dependency; I'd almost rather a monkeypatch for `BigDecimal.new` in this case.

[2021-02-17 16:41] adam12 commented on #570
I looked at this back in December and the changes are possible but might not be worth it.

The dependency on `sequel` that our `rom-sql` dependency has needs to be relaxed to allow `sequel 5.x`, but there are breaking changes that require other changes to `rom-sql` (I have a branch [here](https://github.com/rom-rb/rom-sql/compare/v1.3.5...adam12:changes-for-1.3.6) that I was working on, which you

[2021-02-17 17:52] dudo commented on #595
I ran into the same issue on `master`. Monkey patching the adapter to remove the password fixed it. I'm on postgres 11.11. Set the db back to 11.10, and 11.9, with the same results, so it definitely doesn't appear to be a database issue.

I printed out `command_with_credentials` and it definitely includes `--password`, which isn't supported.

Reverting to `1.3.2` resolves it as well, so there seem

[2021-02-25 14:14] adam12 commented on #616
Closing due to lack of feedback. If you're able to update this issue with further information, please do so.

[2021-03-02 14:45] hedselu commented on #595
@adam12 I see a merged PR related to this issue. Thanks for taking care of this! Do you think this issue is closable now?

[2021-03-02 14:46] adam12 commented on #595
@hedselu Not yet, but thanks for checking.

I think there is still an underlying issue that `--password=` isn't a valid argument to Postgres CLI tools. I'd like to fix it, but the mentioned PR is to get tests working reliably first.

[2021-03-02 14:51] dudo commented on #595
That seems to be only CI related... code change doesn't address our issue at all. If anything, that PR just further hides this bug.

[2021-03-02 14:56] adam12 commented on #595
Possibly, tho I did highlight it in the opening of the PR and would like to resolve it without manually forcing `PGPASSWORD` in the CI config.

Are you interested in submitting a PR for this issue?

[2021-03-04 19:59] wenderjean commented on #595
If there is no one else dealing with this issue I can do that @adam12

[2021-03-04 20:11] adam12 commented on #595
Thanks for the offer but I did end up with a [fix in another branch](https://github.com/hanami/model/tree/ad/pg-env-variables), but I need to debug the CI failing again.

[2021-03-05 02:04] adam12 commented on #595
I've opened https://github.com/hanami/model/pull/622 to fix this. Is anybody willing to give it a try?

[2021-03-05 16:44] wenderjean commented on #595
I'll give it a try later on today :)

[2021-03-19 14:13] adam12 commented on #595
Did you ever get a chance to try out my fix? No worries if you didn't.

[2021-03-19 20:44] wenderjean commented on #595
I did @adam12, sorry for the delay.
I used those versions below to test, both of them I got the error before and I could create/migrate successfully on your branch.

- [x] Postgresql 11
- [x] Postgresql 12
- [x] Postgresql 13

[2021-04-30 09:01] marfoldi commented on #541
👋

[code]

[2021-05-12 17:36] #595 closed

[2021-05-18 13:28] kirqe commented on #570
Having this on a newly generated project. I remember having the same issue at least a year ago when I wanted to try hanami. Such things are discouraging and most people would just stick to Rails and Sinatra...

[2021-06-16 13:26] trafium opened #637 "Use original error in case role is missing for Postgres"
First of all, I want to thank developers and maintainers for all the good work 👍

We encountered the problem described in #537 while configuring Github Actions for our tests. Pull request was closed without any further info. The problem itself was easily fixed by providing the correct database url, but it took a while to find the source of issue.

[2021-06-16 20:17] adam12 commented on #637
I think we could resurrect #537.

[2021-06-20 22:50] morissetcl commented on #570
FYI I tried many things mentioned in this ticket and none of them is working for me. 😐

[2021-06-21 23:12] cllns commented on #570
For reference, `hanami-model` v1.3.3 was [released on May 22, 2021](https://twitter.com/hanamirb/status/1396082715762495493). If you're having this issue, upgrade to that version and you should be good to go.

[2021-07-08 12:03] skcc321 commented on #607
I faced with a similar problem - I expected changing log_level to "info" should disable SQL logs (similar to Rails logger) but it just does not work. When I change the log level to "warn" - SQL logs disappear. So I think the problem is in SQL logs level as well.
I found this line https://github.com/jeremyevans/sequel/blob/master/lib/sequel/database/logging.rb#L22 which seems not fine for those who

[2021-07-28 08:19] jaypandya73 opened #645 "Change default dataset configured in ROM"
As ROM is providing way to adjust default dataset here: https://rom-rb.org/3.0/learn/sql/relations/

I'm trying to change default dataset(remove default ordering) in latest hanami application and it seems that changing `dataset` isn't available here: https://github.com/hanami/model/blob/1.3.x/lib/hanami/repository.rb

So can you guys help me to find a way to change this default dataset as ROM docu

[2021-12-15 09:11] #539 closed

[2021-12-30 01:06] monicao commented on #541
Thanks @marfoldi . How about if you need to write records to two  or more separate tables in a transaction?

For example, you have some `User` data and some `UserAddress` data that needs to be persisted in an atomic way.

[2022-01-02 12:04] marfoldi commented on #541
Maybe something like:

[code]

[2022-10-05 11:14] thegeorgeous opened #664 "Outdated dependencies"
Several dependencies are far behind their latest versions. `dry-types` is locked to 0.11 when the latest version is 1.5. The dep-fu PRs were closed and deleted.

[2022-10-24 10:35] jodosha commented on #664
@thegeorgeous This is because the actual stable version of `hanami-model` targets ROM 3.

For Hanami 2.0, it will target ROM 5.

[2022-10-24 10:35] #664 closed