[2014-04-21 23:31] sidonath opened #2 "Few API questions"
Hi there,

I was playing today with extracting the mapper and adapter configuration from application.rb and entitiy files to the "framework" in [the room reserevation app](https://github.com/sidonath/room-reservation/commit/3177a349f585d168b058fe5c6013454dfcaad876).

So I've got few questions to help me better understand the Lotus::Model design and the Lotus direction in general.

It seems that th

[2014-04-22 17:29] #2 closed, assigned to nobody

[2014-04-26 18:47] jeremyf opened #13 "Feature comparison of Lotus::Model and Virtus"
I really like what I'm seeing in Lotus::Model. Its creating further separation of concerns.

I'm wondering how Lotus::Entity relates to the very feature complete Virtus https://github.com/solnic/virtus. I've used Virtus for modeling and found it extremely robust. I then use a repository to persist the entities to their constituent tables.

I'm also curious how Lotus::Models cleaves to the Ruby Obj

[2014-04-29 09:32] #13 closed, assigned to nobody

[2014-05-02 17:00] vdmgolub opened #17 "Missing `id` accessor when `.attributes=` is not called"
[code]

I believe we have to set `attr_accessor :id` explicitly in Lotus::Entity. Thoughts?

[2014-05-05 15:27] jodosha opened #19 "Better exception handling for Repository w/o an adapter"
When we have the following repository:

[code]

And we forgot to assign an adapter, but we use like this:

[code]

It raises an hard to debug error:

[code]

It would be nice to have a more debug friendly exception.

[2014-06-13 20:52] krasnoukhov opened #24 "Make sequel dependency optional"
Since Lotus::Model is designed to have as many as possible pluggable adapters, it doesn't seem right having 'sequel' as a runtime dependency. Some people definitely won't using it :smiley:

Thoughts?

[2014-06-15 09:57] #24 closed, assigned to nobody

[2014-06-19 01:00] radar opened #25 "Ruby 1.9.3 - Lotus::Model::Mapping::UnmappedCollectionError"
I have [a build](https://travis-ci.org/radar/spree_poro/builds/27917106) on Travis which is using Ruby 1.9.3, 2.0.0 and 2.1.2. The code is at [radar/spree_poro](https://github.com/radar/spree_poro) and is easy enough to set up. While the 2.x builds are passing, the 1.9.3 build does not. I would expect it would, given it's the same code. I am able to reproduce this issue on my local machine using R

[2014-06-19 04:06] #25 closed, assigned to nobody

[2014-06-26 06:33] Partyschaum opened #28 "Can't get the example running."
Hi,

I'm struggling with getting the [lotus_model](https://gist.github.com/jodosha/11211048) example running. Am I just holding it wrong or needs it to be updated?

Maybe you can have a look at my comment.

[2014-06-26 11:02] #28 closed, assigned to nobody

[2014-06-26 16:33] #17 closed, assigned to jodosha

[2014-06-27 22:02] ndelage opened #31 "Forcing query execution"
What's the preferred approach to forcing a query to execute? Following the docs/EXAMPLE.md, you'd think the following method `best_article_ever` would return an `Article`:

[code]

But this method actually returns an unexecuted `Lotus::Model::Adapters::Sql::Query` object. Calling `.to_a` works, but it feels awkward to call `.to_a.first` when the `.first` call is present in the original query.

[2014-06-28 00:36] ndelage opened #32 "Joins?"
Does `Lotus::Model` include any support for join queries? I didn't see any evidence of joins in the SQL adapter, but I thought I'd ask to be sure.

[2014-06-28 13:28] jodosha opened #33 "DRY initialisation"
The initialization of the framework is [verbose](https://github.com/lotus/model/blob/master/EXAMPLE.md) and requires a lot of manual setup.

We can enhance those mechanisms with the following changes:
- [x] Make `Lotus::Model` to register adapters instances, and to specify a default one (see _example 1_).
- [x] Because of the previous requirement, consider to introduce a configuration and duplicat

[2014-06-28 13:30] jodosha opened #34 "SQL Joins"
Add support to SQL joins to `Sql::Adapter` and `Sql::Query`.

[2014-06-28 13:41] jodosha opened #35 "Associations"
Support associations between collections.

[code]

The first association is `1-n`, where an article has many comments. The `[]` syntax specifies this.

The second association is `n-1`, where a comment belongs to an article (lack of `[]`). The `foreign_key` should be optional and only specified when the following convention isn't respected: association name + `_id`. In the example above: `article`

[2014-06-28 13:44] jodosha opened #36 "Custom coercions"
**Status:** In Progress
**Taker:** @midas

Allow the mapper to accept custom coercers.

Given the following SQL table
[code]
[code]

[2014-06-30 10:14] #32 closed, assigned to nobody

[2014-06-30 10:27] #31 closed, assigned to nobody

[2014-07-22 01:53] jwright opened #42 "SQL Comparison Operators"
I have the following method in a repository:

[code]

Calling the class method `active` via `WidgetRepository.active` results in the following error:

[code]

I do not see any examples or documentation for this functionality within Lotus. Any help would be appreciated.

[2014-07-30 16:53] #42 closed, assigned to nobody

[2014-08-18 21:18] viking opened #54 "Adapter interchangeability"
Currently, the memory adapter and SQL adapter behave in slightly different ways. The memory adapter will accept any condition specified by `where` (see https://github.com/lotus/model/blob/56eb7afb9e0129cf38cde909ab4a125442f0330a/lib/lotus/model/adapters/memory/query.rb#L435), whereas the SQL adapter requires that all conditions are met. Also, the memory adapter cannot be used to chain methods like

[2014-09-03 07:57] #54 closed, assigned to nobody

[2014-10-03 14:11] jeremyf opened #65 "Should SQL Adapter and Memory Adapter methods have similar signature?"
From [Memory Adapter](https://github.com/lotus/model/blob/master/lib/lotus/model/adapters/memory/query.rb#L101-L105)

[code]

From [SQL Adapter](https://github.com/lotus/model/blob/master/lib/lotus/model/adapters/sql/query.rb#L120-L124)

[code]

[2014-10-05 20:42] #65 closed, assigned to nobody

[2014-10-06 20:13] jeremyf opened #68 "Question about frequent use of `instance_eval` in initialize methods"
In looking through the code of various Lotus repositories, I'm noticing the following pattern:

[code]

Is there a reason to prefer `instance_eval` vs. `yield(self)`? I understand that the resulting blocks will look a little different. Are there other advantages? I am cautious about instance_eval.

A detailed dive (though a bit old) that may be applicable. http://merbist.com/2011/09/05/ruby-optimi

[2014-10-07 16:53] #68 closed, assigned to jodosha

[2014-10-15 13:00] jeremyf opened #70 "Naming confusion"
Throughout the code there are two Collection concepts. A Mapping::Collection and an Adapter::Collection. Are there perhaps better names for the variables?

In the Memory adapter, the `dataset` variable is an instance of `Lotus::Model::Adapters::Memory::Collection`. Is that a better name?

The reason I'm asking is that I've been working on a custom adapter for Fedora Commons and now Solr, and juggl

[2014-10-15 18:46] viking opened #71 "Memory adapter does not coerce values when matching conditions"
See below for an example:

[code]

[2014-10-15 18:49] viking opened #72 "Memory adapter accepts any condition when querying, which differs from SQL adapter"
See below for an example:

[code]

[2014-10-18 01:33] jeremyf opened #75 "Question: Memory::Command vs. Sql::Command"
As I've been working on two separate adapters for Lotus::Model, I've been using the MemoryAdapter as my control adapter; That is the test should pass against the MemoryAdapter and the other Adapter.

One thing I've noticed is that the `Lotus::Model::SqlAdapter` and `Lotus::Model::MemoryAdapter` have what appear to be varying responsibilities. In the case of the `Sql` adapter, the Collection is per

[2014-10-22 08:41] jodosha opened #77 "[Deprecation] Raise Lotus::Model::EntityNotFound when an entity is not found"
I have to confess that this was introduced by me because _"devs will expect this behavior"_. But this isn't the way I'm building Lotus. First create things that are correct, and then meet expectations. So, _mea culpa_ and let's move on.

We are using exceptions for control flow, which is a poor design.

When we query the database, we expect that a record can't be found, so instead of raising an ex

[2014-11-10 17:17] #70 closed, assigned to jodosha

[2014-11-10 17:18] #72 closed, assigned to jodosha

[2014-11-11 16:33] jeremyf opened #84 "The assigned adapter is being obliterated by the `Mapper.load!` method."
[code]

The assigned adapter is being obliterated by the `Mapper.load!` method.
## Mapping

[code]
## Call Trace

**First invocation**

[code]

**Second invocation**

[code]

[2014-11-12 18:44] #84 closed, assigned to jodosha

[2014-11-18 14:00] jodosha opened #94 "Implement Entity#to_h"
This will make serializations easier.

[code]

[2014-11-21 02:04] cgarvis opened #97 "Entity is not updated based on Repository state"
I've noticed that if I persist an entity with attributes that have not been added to the schema yet and no mapper has been created for them, that the entity is not modified.  I would expect it to remove those fields from the object returned from persist.

[2014-11-22 19:55] tak1n opened #100 "Entity doesn't allow strings as keys in initializer attributes hash"
Currently entities only allow `{ name: "myname" }` and not `{ "name" => "myname" }` and former.
For example an entity which looks like https://github.com/bennyklotz/timetracker-ruby/blob/master/backend/models/entities/user.rb#L24 works because an explicit initalizer is set and super called which therefore calls https://github.com/lotus/model/blob/master/lib/lotus/entity.rb#L142 where hash keys as

[2014-11-23 15:32] #94 closed, assigned to nobody

[2014-11-23 15:42] #97 closed, assigned to nobody

[2014-11-23 15:54] #77 closed, assigned to jodosha

[2014-11-24 14:00] #100 closed, assigned to nobody

[2014-11-24 14:00] #19 closed, assigned to nobody

[2014-11-24 14:02] #33 closed, assigned to runlevel5

[2014-11-24 14:26] #75 closed, assigned to nobody

[2014-11-28 11:03] jodosha opened #107 "Raise meaningful exception when `mapping` is missing in configuration"
When we omit `mapping` in configuration block, at the time we invoke `Lotus::Model.load!` it raises a cryptic exception `undefined method`load!' for nil:NilClass (NoMethodError)`.

[code]

[code]

[2014-11-28 11:07] jodosha opened #108 "Allow `mapping` to take a path as argument"
When we configure Lotus::Model, it would be great to make `mapping` to accept a path where to find the mapping definitions.

[code]

[code]

We already support this syntax in `lotusrb` for routes definitions.

[2014-11-30 09:10] #107 closed, assigned to runlevel5

[2014-12-02 20:22] schultyy opened #112 "lotus model version on rubygems outdated"
When I try to do all steps from `EXAMPLE.md`, I get the following error message:

[code]

My application.rb looks like this:

[code]

This works only when I use lotus-model from github:

[code]

[2014-12-02 22:07] #112 closed, assigned to jodosha

[2014-12-03 01:29] cgarvis opened #113 "Postgresql - Default values and Nil"
So I'm having the issues have setting a default value and not allowing null.  It seems that if an attribute is nil, Lotus is explicitly sending NULL.

[2014-12-04 14:25] #108 closed, assigned to runlevel5

[2014-12-05 05:46] joneslee85 opened #115 "Add migration mechanism"
**UPDATE**: Please see proposed changes in my PR https://github.com/lotus/model/issues/144

What: Schema Migration for SQL adapter
How:
* Wrap [Sequel::Migrator](http://sequel.jeremyevans.net/rdoc/classes/Sequel/Migrator.html) vs Writing from scratch?
* Migrator class has `up`, `down` method
* Schema file is the source of truths, and it should not reflect local changes of DB schema.
* There is `db

[2014-12-05 14:27] kimh opened #116 "Saving an entity to repository will make "false" field to nil"
Saving an entity where a field is `false` to Repository will turn the field to nil.

Pseudo code that demonstrate the issue.

[code]

I also created [gist](https://gist.github.com/kimh/48962ea40dc048565dd2) that reproduces the issue, so please have a look.

[2014-12-05 18:05] #116 closed, assigned to nobody

[2014-12-05 18:14] jodosha opened #119 "[Breaking] Change Entity.attributes= to Entity.attributes"
With the recent introduction of Entity's attributes inheritance, the current API looks counter-intuitive. The semantic of assignment is: "add the following set by erasing the previous".

[code]

For some developers it may be unexpected to still see `:title`.
Look at the following Ruby code:

[code]

It erases the previous assigment, and replace it with the new value.
What I'm suggesting is to add

[2014-12-05 18:24] jodosha opened #120 "Remove Entity attributes inheritance"
This is just an exploratory discussion.

I'm thinking if we want to allow Entity's inheritance.
Entities are Ruby objects that can be persisted by a Repository.

Imagine the following mapping:

[code]

Also imagine to have the following entities:

[code]

Now, this scenario may lead to some problems:
1. `Book` instances can't be fetched, because the mapping will try to invoke a setter for `price`,

[2014-12-11 14:23] #119 closed, assigned to runlevel5

[2014-12-16 11:32] jodosha opened #128 "Make Configuration#mapping lazy"
`Configuration#mapping` should store the block from `blk` or `path`, and evaluate it when `#load!` is invoked.

[2014-12-18 08:34] #128 closed, assigned to runlevel5

[2014-12-18 08:36] #120 closed, assigned to runlevel5

[2014-12-18 09:35] anicholson opened #130 "Implementing many-to-many relationships"
I understand that [associations are under discussion](https://github.com/lotus/model/issues/35), but how is the best way to implement many-to-many relationships currently?

I can understand how to model 1-many (by calling the corresponding `Repository` on the many side), but what about many-to-many?

[2014-12-19 12:32] AlfonsoUceda opened #131 "Add method count to repository"
I think it would be a nice idea add the method count to the repository, an example:

[code]

what do you think?

[2014-12-19 15:01] #131 closed, assigned to nobody

[2014-12-19 15:06] #130 closed, assigned to nobody

[2014-12-23 11:27] #71 closed, assigned to runlevel5

[2014-12-26 21:05] jodosha opened #133 "Add SQL transactions support"
This should be implemented in `Sql::Query`.
Here's the related Sequel documentation: http://sequel.jeremyevans.net/rdoc/files/doc/transactions_rdoc.html

I'd say to not support/document `Sequel::Rollback`. Using exceptions for control flow is always a poor choice. If an exception is raised as side effect, the transaction should be rolled back.

[code]

[code]

The second style is the one that we s

[2014-12-26 22:52] joneslee85 opened #134 "Add created_at/updated_at timestamp"
What: Having a conventional / implicit timestamp plugin
How:
  * Implement a special attribute helper for collection declaration, eg:
[code]

* Enable [Sequel::Plugins::Timestamps](http://sequel.jeremyevans.net/rdoc-plugins/classes/Sequel/Plugins/Timestamps.html) If the DB table has column `created_at` and `updated_at`

Pending for discussion

[2014-12-28 16:24] AlfonsoUceda opened #136 "Add default option to #attribute in collection"
Suppose we have this mapper

[code]

[2015-01-02 14:30] AlfonsoUceda commented on #115
the migrations should be stored in db/migrations, what do you think?
the name of the file should be add the timestamp for sorting purpose.

what is this? ```Support schema file location configuration```

:+1: other things

[2015-01-03 15:15] jodosha commented on #134
@joneslee85 Doing this via coercer is a bad idea :( It can work when the value is `nil` (`created_at` on a non-persisted entity). But when it comes to update an already existing timestamp (`updated_at`), it won't replace it with a default value.

[2015-01-07 10:41] AlfonsoUceda commented on #134
I think the default option should be in the migrations and not in the coercer.

And only care here about include this timestamps

[2015-01-07 12:28] AlfonsoUceda commented on #133
something like that using sequel like the link provided:

[code]

[2015-01-08 03:29] angeloashmore commented on #134
@AlfonsoUceda Right, migration-less/schema-less databases (e.g. a JSON store) don't have default values or types. Although there are ways to coerce data to certain data types natively within some of these databases, not every database has that functionality. It would have to take place at the application level.

Is there a reason `#create` only updates the id versus the whole entity reference? My

[2015-01-08 04:04] angeloashmore opened #138 "Attributes not coerced when persisted"
[code]

When `user1` is persisted, the age is **not** coerced to an `Integer` before persisting and remains as a string. For dynamic datastores (e.g. RethinkDB), the type is kept intact.

When retrieved from storage, `user1.age` is coerced to an `Integer` from a `String`.

Is this behavior intended? I can see how input should be type-validated before it reaches the persisting method, but defining

[2015-01-08 11:52] AlfonsoUceda commented on #138
IMHO I think should be coerced before and after, maybe if we coerce the value before, after it doesn't make sense and so the correct value coerced is stored in the database (or another system) with the correct type

[2015-01-08 12:06] joneslee85 commented on #138
The coercion is the job of the Repository. After the repository persist the entity, it does not refresh the entity thus you might see the entity's values are not coerced.

 If you look into the DB, the stored values are coerced. And when you use Repository to find the entity, this time the entity values would reflect correctly.

I think it is a good idea to refresh the states of the entity after s

[2015-01-09 12:53] joneslee85 commented on #138
@angeloashmore I'll have further discussion with @jodosha as I try to avoid additional calls. Thanks for reporting.

[2015-01-09 14:54] jodosha commented on #133
@AlfonsoUceda yes, but we don't have a `DB` constant. `SqlAdapter` holds an instance variable called `@connection`, which is the same Sequel type of `DB`.

[2015-01-09 14:54] jodosha commented on #133
Because the only high level object that we expose to developers is a repository, we should consider to add that method there. Example `BookRepository.transaction { ... }`.

[2015-01-09 14:58] jodosha commented on #134
@AlfonsoUceda @angeloashmore This isn't only a matter of schema(less) databases. If a column isn't mapped it's entirely ignored by the framework.

@angeloashmore RE entity: that is my fault. I'm sorry. I already discussed with @joneslee85 about this problem. You have opened a ticket for this, let's discuss over there.

[2015-01-09 15:11] AlfonsoUceda commented on #133
@jodosha can you assing to me please? I'm going to do a PR later or in this weekend

[2015-01-09 17:42] AlfonsoUceda commented on #133
@jodosha I have a dude with the implementation, If you use the Repository.transaction I think you will use the repository inside, isn't it? I give you 2 examples but I think it should be explicitly done.

what do you think?

[code]

[2015-01-09 18:44] jodosha commented on #138
@angeloashmore What's your use case? Is that database shared from with other services that need a stricter type check on data?

Until know, `#to_record` doesn't coerce because that information about the Ruby type can be lost while writing on certain databases.

Think of Redis:

[code]

[code]

We coerced our input from `String` (`"1"`) to `Integer` and then persisted it. Later on, if we introspect

[2015-01-09 18:46] jodosha commented on #138
@angeloashmore There is a different issue about the returned entity from a `BookRepository.create` operation, and I agree with you: it should return the coerced entity.

[code]

This can be easily fixed.

[2015-01-09 18:50] jodosha commented on #133
@AlfonsoUceda It should be a public method and context free (first option in your example).

A bit of explanation, this can be useful for complex scenarios where several entities needs to be persisted atomically, and eventually rolled back in case of error.

[code]

[2015-01-10 04:54] angeloashmore commented on #138
@jodosha @joneslee85 In my opinion, attributes should be coerced via the mapper before persisting. Is this what you mean with Option 2?

This would allow the adapter and database library to handle any entity/database type differences.

In your Redis example, the Redis library accepted an `Integer` despite not handling `Integer` as a type. The library automatically saved a `String` instead. Let's s

[2015-01-12 16:56] AlfonsoUceda commented on #115
what about to create rake tasks like rails has, starting with minimum rake tasks like `rake db:create`

[code]

[2015-01-13 14:52] jodosha commented on #138
@angeloashmore I was wrong, you were right.

I've replied without having the code around, so my thinking was biased by the initial design.
I've put in place coercion before persistence to avoid to hit the database to reload the record.

Can you please give #141 a try and see if it solves your problems? Because this is a blocking issue, once I get your and @joneslee85 go, I'm keen to release a patc

[2015-01-14 18:04] #138 closed

[2015-01-18 01:18] angeloashmore commented on #138
@jodosha Sorry for the late reply. Just had a chance to test it out. Everything looks good! :+1:

[2015-01-18 09:49] jodosha commented on #138
@angeloashmore No worries, expect a patch release soon.

[2015-01-18 10:33] jodosha commented on #138
@angeloashmore https://rubygems.org/gems/lotus-model/versions/0.2.2

[2015-01-18 15:57] midas commented on #36
@jodosha In the example you define `#to_int` on the `Money` struct.  Can you explain to me why you chose `#to_int` instead of `#to_i`?  What method would need to be defined if the coercion was to a string?

Are you trying to avoid naming collisions with the accepted convention of `#to_i`, `#to_f`, `#to_s`, `#to_a` and `#to_h`?  If so, should we be more explicit on the intention of the method?  Som

[2015-01-18 16:52] midas commented on #36
@jodosha @joneslee85 I have an initial pass at my implementation working for the custom coercions, however, I am running into a wall on the primitive coercions.  Because there is not a 1-to-1 mapping between Ruby primitives and DB primitives, I am having trouble determining if an attribute is primitive or custom from the adapter module.  See https://github.com/midas/model/commit/16a0fb97dbc7f395e1

[2015-01-19 02:05] joneslee85 commented on #115
[code]

+1, I like that.

Regarding `Support schema file location configuration` - I'd prefer users not doing long data migration (migration that does not change schema structure)

[2015-01-19 10:03] #133 closed

[2015-01-20 09:32] jodosha commented on #36
@midas Thank you for taking care of this. Have you tried if the code from `Lotus::Validations` does the trick? https://github.com/lotus/validations#custom-coercions

[2015-01-25 18:54] midas commented on #36
@jodosha I have not tried the code from Lotus::Validations yet.  I will give it a look.  However, I am a little confused.  Mentioned prior in this thread:

It does not seem to me that the code in Lotus::Validations could possibly honor the guidance in the quote above as it probably does not interface with the mapper.  Am I getting the issue of coercion confused with the more advanced feature spoke

[2015-01-25 20:26] AlfonsoUceda commented on #113
If there aren't news I think we shoul close this issue, what do you think?

[2015-01-27 15:16] jodosha commented on #36
### Initial idea

I've initially suggested that feature of custom coercions when they were used only in one direction from the database to Ruby land. It was easy then an similar to Lotus::Validations: take a scalar value (`23`) and instantiate a custom Ruby type (`FavNumber`).

### Current limitations

Then for data integrity reasons we needed to do a two ways coercion too. Please have a look at #

[2015-01-27 15:17] jodosha commented on #36
@midas Please ping me in chat if the explanation above isn't clear or if you have other questions.

[2015-02-03 22:56] alexsun opened #148 "duplicate declarations of attributes in: Migration, Entity and Mapping's"
Migration has fields
[code]

Entity has fields
[code]

mapping has too
[code]

Recently watched http://datamapper.org, serialization from one place, it looking nice, but maybe has own limitations. Auto-migrate, auto-update will reduce configurations but can alter table or drop it out.

May, inherit attributes from configuration, such as migration? Include / exclude necessary for Entities and Mappe

[2015-02-03 23:17] alexsun commented on #148
Gold rule: reduced configurations will increase a magic :+1. Perhaps now is not the most urgent issue, but hope is a bit relevant to #115

[2015-02-04 01:43] alexsun commented on #115
* attributes a minimal, think, anyway should be declared few validations in each entity
* rake tasks for parsing entities, watch changes or send events
* (idea) may possible: use validation rules for generate a proper Sequel.migration source
* additional classic migration can be difficult

new schema at first time, later do alter table, but it is very big deal or not
it look like a good abstractio

[2015-02-04 10:02] jodosha commented on #148
@alexsun Thanks for opening this discussion.

Data Mapper is a pattern that doesn't shine in simple setups where there is a direct correspondence between database schema to entities. Active Record (as pattern is recommended).

Lotus::Model embraced Data Mapper (still the pattern) because it allows advanced tasks like:

  * Easier adoption of legacy databases
  * Keep entities really, really lightw

[2015-02-04 14:07] alexsun commented on #148
@jodosha Thanks for detailed reply, good review of Lotus::Model goals. I'm fully agree and seen it as good solution, thanks a lot.

Now, think, need better understand AR, DM, ... as patterns and Lotus::Model, Sequel in current stage. Later can be helpful.

Auto-mapping, auto-migration it is not actual question right now. To some extent seen meaninglessness to send the first message. Probably wante

[2015-02-04 14:25] jodosha commented on #148
@alexsun We're in the process of writing high level guides to explain those things for Lotus::Model and for all other the other architectural choices.

[2015-02-04 14:36] alexsun commented on #115
migration is a fundamental process of controlling the database schema, later it data, but I believe each migrations should be close to the entity not to application, but here has many cases.

[2015-02-13 16:56] jodosha commented on #148
Closing this for inactivity, @alexsun If you have other questions please open a discussion on https://discuss.lotusrb.org Thank you!

[2015-02-13 16:56] #148 closed

[2015-02-13 17:01] jodosha opened #151 "FileSystem adapter isn't persistent across process forks"
When a new Lotus process is started (new console or server process fork), the persisted data isn't loaded in memory.

A subsequent write (form submission), erases the old and keeps only the new one.

[2015-02-13 17:40] #151 closed

[2015-02-14 12:43] fredwu opened #153 "Memory adapter does not support repository query chaining"
Hi,

Due to the different implementation of the sql and memory adapters, the memory one does not support query chaining like [this](https://github.com/lotus/model/blob/4f3aba549cc3c68ba9789500ac868543a800e4df/lib/lotus/model/adapters/sql/query.rb#L567-L617).

In fact, the memoy adapter's [`Query#method_missing`](https://github.com/lotus/model/blob/4f3aba549cc3c68ba9789500ac868543a800e4df/lib/lotus

[2015-02-14 17:48] fredwu commented on #153
It also appears for `apply` causes issues here, the chained method would actually alter the collection. Removing the use of `apply` seems to address this issue.

[2015-02-14 18:16] jodosha commented on #153
@fredwu Hello. Parity of features between adapters is really hard to achieve. Please consider Memory adapter as a basic tool to get started with some code, without worrying about to setup a real database.

Query chaining is something that I've built with SQL adapter in mind, because Sequel made it really easy to implement.

To be clear, if this feature can be easily ported to the memory adapter, I

[2015-02-15 04:09] fredwu commented on #153
@jodosha Thanks Luca! I'll try look into this. :)

[2015-02-15 04:09] #153 closed

[2015-02-17 14:45] KillaPL commented on #115
I'd love to have that. Client insisted on rails and I at least negotiated using Lotus::Model, but the lack of migrations sort of killed that idea: (

[2015-02-19 17:22] jodosha opened #154 "Wrong inherited configuration"
**Reported by: @mwallasch**

In Lotus Container applications we use `Lotus::Model` directly in `lib/bookshelf.rb` to setup connection params and mapping.

Imagine that we have two applications: `web` and `admin`. When we load those apps, because `Lotus::Model` is activated, we duplicate the framework and create `Web::Model` and `Admin::Model`, respectively.

Those duplicated frameworks **inherit t

[2015-02-19 17:31] #154 closed

[2015-02-19 20:17] mwallasch commented on #154
:+1:

[2015-02-20 21:00] angeloashmore commented on #134
It appears the Repository is the best place for this to happen. Maintaining timestamps should occur at `#persist`.

I wrote this quick module and it seems to work. I haven't written any tests for it yet, however.

https://gist.github.com/angeloashmore/05ef7f035f694cfa56d7

## Required setup
1. The database must accept `created_at` and `updated_at`.
2. The entity must respond to `#created_at=` and

[2015-02-24 07:37] 7even opened #155 "Working with default values"
Currently `lotus-model` doesn't respect default values in the database:

[code]

[code]

Seems like the empty `deployed_at` value is being written to the database. I see 2 possible ways to solve this issue: to read the default value into the entity upon it's creation (but I believe it breaks incapsulation and is not very helpful with a default value of `NOW()`), or to save only attributes that wer

[2015-02-24 08:07] jodosha commented on #155
@7even Thanks for reporting this. Which version are you using?

[2015-02-24 08:21] 7even commented on #155
The latest one, `lotus-model (0.2.4)`.

[2015-02-24 08:28] jodosha commented on #155
@7even Can you please also paste here the mapping for that entity?

[2015-02-24 08:31] 7even commented on #155
Yep, here it is:

[code]

[2015-02-24 12:17] luishurtado commented on #155
Although there is something to fix regarding the NOT NULL issue, indicating that a given attribute is required and it has a default value should also be clearly defined in the application level and not rely in the database.

[2015-02-24 13:11] joneslee85 commented on #113
Yup, let's close it.

[2015-02-24 13:11] #113 closed

[2015-02-28 19:14] tomkadwill opened #158 "two locations for mapping"
Is it potentially confusing to have two places to define mappings (in a freshly generated application)?

There is one under: `lib/example_app.rb` and one under `apps/web/config/mapping.rb`

[2015-03-01 01:35] joneslee85 commented on #158
Yes, it kinda is. But the idea is slice app could also have its own adapter. I am open for suggestion that makes thing less confusing, maybe adding more comment to explain that?

[2015-03-01 18:48] tomkadwill commented on #158
@joneslee85 Yes I agree, a better comment would help. Can you give me an example of what you mean by 'the idea is slice app could also have its own adapter'?

[2015-03-02 14:41] AlfonsoUceda commented on #158
@tomkadwill Imagine you use redis in one of your slices, maybe it makes sense one of the slices has it own adaptaer

[2015-03-04 08:11] jodosha commented on #134
@angeloashmore Thanks for the detailed investigation. I apologize for the late reply.

I do agree that there is a lot of repetition. I suggest to make it work and then to make it DRY. Would you love to craft a PR based on that gist? Thank you very much!

[2015-03-04 20:45] #158 closed

[2015-03-15 00:53] joneslee85 commented on #155
@7even this has been addressed in #161

[2015-03-15 00:53] #155 closed

[2015-03-16 11:09] jodosha opened #163 "Ensure to send nil values to database when explicitly set"
Ref https://github.com/lotus/model/pull/161/files#r26234023
Spec https://gist.github.com/jodosha/a702eff7418f72ba38c7#file-coercer_test-rb-L30

[2015-03-17 20:53] cgarvis opened #165 "Trouble using expressions in `where`"
I have the following in my repository based on #46
[code]
But I'm receive the following error:

[code]

[2015-03-18 16:24] cgarvis commented on #165
This works with the sql adapter.  Not on the memory.

[2015-03-20 11:11] #163 closed

[2015-03-20 16:13] jodosha commented on #165
@cgarvis Hello and thanks for this issue.
We want to achieve as much as possible feature parity between adapters, where it makes sense.
We haven't implemented it in `MemoryAdapter` because nobody had the need until now. Would you love to make this possible? Thank you.

[2015-03-20 16:50] cgarvis commented on #165
I use the memory adapter locally for TDD and the use the SQL adapter for CI and production. Having a memory adapter is a big selling point for me.

I'll take a crack at implementing this

On Fri, Mar 20, 2015 at 12:13 PM, Luca Guidi <notifications@github.com>
wrote:

[2015-03-25 13:36] joneslee85 opened #167 "Update #created_at when calling Repository#create"
Taker: LeoTeam

* Modify the SQL/Memory adapter so that `Repository#create` updates the `#created_at` if exists
* Ignore if `#created_at` does not exist

[2015-03-30 14:17] smt116 opened #168 "Connection pool"
Hi there,

https://github.com/lotus/model/blob/master/lib/lotus/model/adapters/sql_adapter.rb#L44-L49

Sequel by default sets `max_connections` to 4. Maybe it should be possible to allow user to set higher value? When you are using Puma as a webserver for your application, you are able to use more than 4 threads and each thread can "talk" with database using its own connection. It can be helpful o

[2015-03-30 16:16] Extazystas commented on #35
Is it official part of lotus model?
If yes, why its not mentioned in Readme?

[2015-03-30 16:48] AlfonsoUceda commented on #35
No, it isn't
El 30/03/2015 18:16, "Extazystas" <notifications@github.com> escribió:

[2015-03-31 20:05] dsnipe commented on #134
Is anybody works on this feature?
I can do task based on a proposed solution and then continue implementing this feature, if not.

[2015-04-01 07:33] AlfonsoUceda commented on #134
@dsnipe there isn't someone working on this, please feel free ;)

[2015-04-01 13:52] dsnipe commented on #134
@AlfonsoUceda cool :)
 so, I done with provided gist in PR
My plan is:
* Implement *timestamps* helpers for mapper and entity
* Equivalency for entities. We can use https://github.com/dkubb/equalizer or create our own solution to avoid dependency.

[2015-04-01 13:55] AlfonsoUceda commented on #134
avoid new dependencies please, create a custom solution for lotus ;)

thanks!
El 01/04/2015 15:52, "Dmitry Tymchuk" <notifications@github.com> escribió:

[2015-04-01 13:58] dsnipe commented on #134
ok, I think I'll place it in lotus/utils, it's better place for it I suppose

[2015-04-01 20:07] dsnipe opened #170 "Dirty checking for entities"
Why not to implement dirty checking for entities?

Something like this:
[code]
I think to put all in 'entity' for now.
Maybe any thoughts about it?

[2015-04-02 22:02] mvader commented on #170
I think it would be really cool to have that feature.

[2015-04-05 16:33] dsnipe commented on #134
After creating draft for timestamp implementation, I realised, that may be better place for defining timestamps will be in configuration.
### Global defining for all entities
[code]
### Global defining with exceptions
[code]
### Defining timestamps only for specific entities
[code]
It gives ability to manage timestamps from one place and generate migrations already with needed columns.
What are th

[2015-04-06 13:47] joneslee85 commented on #134
IMHO I think your suggestion is over killing for I don't find much gains in doing so. I'd rather let users self-define in their entity for sake of consistency and simplicity. Just my 5cent

[2015-04-06 14:52] dsnipe commented on #134
@joneslee85 actually I used timestamps almost on all entities usually. That why I suggest using it in global scope.
but maybe you're right and simplest way is a better way :) I'll finish #169
btw,  I see some duplication of functionality in #167 and this one – there are any reasons that both solutions are necessary?

[2015-04-07 03:45] joneslee85 commented on #134
@dsnipe much thanks, regarding #167, it is overlapping, however I'd like to ask you to wait for TeamLeo who is now working on it. :+1:

[2015-04-07 09:16] jodosha commented on #168
@smt116 Hey, I think this makes sense. What if we use the URI format and pass extra configuration arguments as params?

[code]

[2015-04-07 09:43] smt116 commented on #168
I didn't thought about it. Thanks.

[2015-04-07 09:43] #168 closed

[2015-04-10 23:40] #167 closed

[2015-04-13 21:53] guilhermeFranco commented on #165
Hey guys ! I'm interested in this feature too. Are you guys working on this one ? May I jump into it ? :dart: @cgarvis @jodosha

[2015-04-14 01:06] joneslee85 commented on #165
@guilhermeFranco please do

[2015-04-18 14:00] jodosha commented on #170
@dsnipe Thanks, I've just merged it! :+1:

[2015-04-18 14:02] jodosha commented on #170
Closed by #172

[2015-04-18 14:02] #170 closed

[2015-05-04 10:09] peterberkenbosch opened #183 "Array Coercion makes a 'record' not a text[] in pg"
Using postgresql and lotus model from the master branch. I would like to store an array of Strings in an entity like this:

[code]
Then migrate the database with this:
[code]

I verified that the database was migrated correctly.

When I try to run the specs storing an array of images like this:

[code]

I get this error from Sequel:

[code]

I would love follow that HINT, and I will try to. Not 10

[2015-05-04 12:45] #165 closed

[2015-05-04 14:36] fidothe commented on #136
There's a bigger problem here: imagine that the admin column in the example above is non-NULLable in addition to having a default set. Currently, if you don't explicitly set the value in the entity then Lotus sends `column => nil` on serialisation. This causes Postgres, at least, to choke and error - you can't explicitly set a non-nullable value to null.

It also suggests that we're explicitly set

[2015-05-15 10:38] jodosha commented on #134
Implemented by #173 #176 #182

[2015-05-15 10:38] #134 closed

[2015-05-15 16:19] solnic opened #186 "Dirty tracking should compare entire object attribute hash"
Here's what happens when you bypass lotus attr writers when mutating an enitity:

[code]

The only way to make it reliable is to compare entire attribute hash, it'll be slower but at least stable.

[2015-05-15 16:38] jodosha commented on #186
/cc @dsnipe

[2015-05-15 16:44] dsnipe commented on #186
@jodosha thanks for ping :+1:
Will fix on the weekends.

[2015-05-20 17:43] danelowe opened #188 "Re-use repository with different adapter."
It seems as though the adapter is attached to the repository as a class-level attribute.

I've got two applications mounted, using different adapters and mappings, but with the same repositories.

[code]

[code]

[code]

[code]

When I visit the jobs controller under `/admin` the adapter attached to and used by the  repository injected into the controller is the one with the uri  'http://localhost

[2015-05-20 17:55] danelowe commented on #188
or

[code]

Do these have any relevance? Are these new methods already being used anywhere?
https://github.com/lotus/model/pull/89
https://github.com/lotus/model/pull/122

[2015-05-20 21:39] jodosha commented on #188
@danelowe Thanks for starting this discussion, but this is out of scope. A repository must be tight to a single adapter for several reasons:

  * Simplicity
  * Mutating class level values can cause thread safety problems
  * Internal implementation details are tight to the current adapter (see the example below)

Imagine the following query implemented by a repository.

[code]

We use `#where`, w

[2015-05-20 21:39] #188 closed

[2015-05-21 10:57] danelowe commented on #188
Thanks @jodosha that makes sense. In essence, having the class interface is an easy way of interacting with repositories as singletons.

Somewhere in the docs or in the code from lotusrb generator, I think I got the idea that repositories are intended to be stored in `/lib` and could be used between apps. I guess this practice could have some disastrous consequences.

I also got a hint from the ot

[2015-05-21 12:43] jodosha commented on #188
It's correct. Main entities and repositories are stored under `lib/` and referenced from `apps/`. As long they use only one adapter, everything is fine. Eg. `BookRepository` uses SQL adapter. It lives in `lib/bookshelf/repositories/book_repository.rb` and can be used by `Web::Controllers::Books::Show`.

It can duplicate Lotus namespaces, if you need multiple usage of the same framework within the

[2015-05-22 14:53] #186 closed

[2015-05-28 23:08] joneslee85 opened #189 "Map default value for entity"
If my column DB has a default value, should we pick this up when we define `attributes` for Entity?

Atm, ofcourse I could reader like this:

[code]

However I think we should provide automatic default value mapping. Thoughts?

cc @jodosha @AlfonsoUceda @solnic

[2015-06-03 09:44] jodosha commented on #189
Duplicate of #136

[2015-06-03 09:44] #189 closed

[2015-06-03 10:11] jodosha opened #190 "Make Repository#execute private"
Ditto.

[2015-06-03 10:12] jodosha commented on #190
@peterberkenbosch Can you please take care of it? Thank you very much.

[2015-06-05 19:46] darwinrc opened #191 "Execute raw query postgres"
When trying to execute a raw query through postgresql adapter, the returned value from the method is a Fixnum representing the number of matches instead of the rows. When trying to simulate Sequel behavior as shown in link below, passing a block to the method to cursor the results, that block is not interpreted and a Fixnum is still returned.

The execute method in Sequel can be seen here:

https:

[2015-06-10 14:07] mjbellantoni commented on #190
@jodosha is this task as simple as moving this method into the private portion of `Repository`?

[2015-06-10 14:42] AlfonsoUceda commented on #190
@mjbellantoni yes

[2015-06-10 15:20] mjbellantoni commented on #190
I've taken a shot at this in pull #193.

[2015-06-16 12:00] cecillem opened #197 "Be able to add extension to Sequel connection"
Hi everyone,

I'm wondering if there is a way I can add the `pg_json` extension to the Sequel connection?

I forked and tried this https://github.com/DealGrocer/model/commit/dc95e0f932ec6dfddb54fd3671bf1f95bc8b47e8 and it seems to be working but I'm not quite sure if that is how it should be done.

Thoughts?

Thanks in advance.

[2015-06-16 12:20] jodosha commented on #197
@cecillem Hello and thank you for bringing this idea.

There are a few things to modify:

  * The option should be called `:extensions` instead of `:extension`.
  * We should be able to test it. In the linked code, there is only the [fixture](https://github.com/DealGrocer/model/commit/dc95e0f932ec6dfddb54fd3671bf1f95bc8b47e8#diff-3d9ed706a598dca3884ea15e15197b3eR19), but we don't verify it.

Can y

[2015-06-17 07:49] jodosha commented on #190
Implemented by #193

[2015-06-17 07:49] #190 closed

[2015-06-17 07:58] #115 closed

[2015-06-17 11:12] jodosha commented on #183
@peterberkenbosch I have looked at this issue several times, trying to find a quick solution, but it isn't the case. This is the reason of this late reply. I'm sorry about this.

Our serialization strategy right now tries to be adapter independent: one code for all the database types, file system and SQL. This design works fine when you have basic data types (string, integer), because they are und

[2015-06-17 12:16] cecillem commented on #197
Hi @jodosha appreciate the quick response.

Yeah I agree that it needs it's own test.

I want the test to be something like this,
[code]
to test that the connection responds to an `extension`, in this scenario it will be `pg_json`.

However that would mean that I have to require the `pg` gem and instantiate an actual pg db. I'm hesitant to that because I think it's too much for a small code change

[2015-06-18 10:29] jodosha commented on #197
@cecillem If you look at master, we now have tests that run with PG.

I've read Sequel documentation, extensions can be loaded at three level:

  * Global `Sequel.extension :foo` (which I hope we can avoid to make Lotus::Model a good Ruby citizen)
  * Connection `connection = Sequel.connect('...'); connection.extension :foo`
  * Dataset `conn = Sequel.connect('...'); ds = conn[:users]; ds.extensio

[2015-06-28 20:18] emilford opened #199 "Invalid connection URI results in PG::ConnectionBad: FATAL: database error"
There seems to be a bug when running `lotus db create` and other db-related commands on a new application:

`PG::ConnectionBad: FATAL:  database "Eric" does not exist (Sequel::DatabaseConnectionError)`

I haven't had a chance to dig into it fully, but the problem seems to stem from the following method:

[code]

It looks like the concatenated `uri` string does not include a database name.  PG is a

[2015-06-28 20:50] nickcoyne commented on #199
I'm no expert on Sequel, but it seems Sequel cannot run `CREATE` against postgresql. If I change `postgres_adapter.rb` to use the  `createdb` shell command, then the database is created as expected.

[2015-06-28 20:56] emilford commented on #199
I think :point_up: might be right.  I've come across several posts/comments that mention creating the db via `createdb` as a prerequisite for Sequel.

[2015-06-30 13:54] taylorfinnell opened #202 "Issues with memory adapter when id column is mapped as a string"
Repo.find does not seem to function. I believe it is because the `PrimaryKey` class in `Memory::Collection`always use an integer.

For some adapters, like a rest adapter, an `id` might only be expressible as a string, `MemoryAdapter` not handling string integers creates different behavior between adapters. I force all repositories to be use the `MemoryAdapter` in tests for faster tests, so it is i

[2015-06-30 14:24] joneslee85 commented on #202
@taylorfinnell thanks for the bug report, would you be able to write me a failed spec for my investigation?

[2015-06-30 17:04] taylorfinnell commented on #202
I'll try to get something in next day-ish. I think changing the `Integer` to `String` in this test test/model/adapters/memory_adapter_test.rb:25 will re-produce the error. I will try to get a real failing spec soon-ish :).

[2015-07-01 00:30] mjbellantoni commented on #202
@joneslee85 does this mean the memory adapter should be enhanced to support non-integer primary keys?

[2015-07-01 00:43] taylorfinnell commented on #202
Here is a failing test for the memory adapter

[code]
If you change the String mapping to Integer the test passes with no other changes. I was looking into extending `PrimaryKey` but after a quick was not sure how I could access the coercer.

[2015-07-02 15:39] taylorfinnell opened #203 "Issues when lotus validations is used with lotus entity."
It may not be exactly related to using validations but this code does not work as expected.

[code]

The first time user.user_id is the correct thing, the second time it is nil.

[2015-07-03 00:33] taylorfinnell commented on #203
This only happens if both modules are included. I think this issue should be in the validations repo and the failing test in the integration test that tests compatibility. Does that seem reasonable?

[2015-07-03 07:45] #199 closed

[2015-07-03 07:47] jodosha commented on #199
@emilford Thanks for reporting this. I agree, `createdb` is more reliable. Merged the fix. Thank you all :tada:

[2015-07-03 08:09] jodosha commented on #191
@darwinrc Sorry for the late reply on this. This is a good idea. Would you love to implement it yourself? We'll be happy to merge as soon as you'll craft it.

[2015-07-03 08:11] jodosha commented on #197
@cecillem We haven't heard you since two weeks. :smile: Are you still interested to introduce this great feature? Please let us to know :smiley:

[2015-07-03 08:30] jodosha commented on #202
@taylorfinnell Hello and thanks for reporting your problem :smile:

Memory/FileSystem adapters are toys that allow you rapid prototyping when you create a new app. Once you get into the phase where a real db is needed, you should stick with it. For instance, if you choose Postgres, you should use it in dev/testing/staging/production. Parity between environments is **really** valuable.

Don't trade

[2015-07-03 10:17] jodosha commented on #203
@taylorfinnell Thanks for reporting this. :+1:

I can confirm the problem. It happens only when you override `id`, if try to do the same thing with `name` it works fine:

[code]

I guess this is because `id` has a special handling. This is an edge case that we are happy that you have shared with us. Let me try to explain the complexity and how to reduce it or solve your problem.

  * Please don't

[2015-07-03 10:26] taylorfinnell commented on #202
I understand your points, thank you for the response. The adapter I need really only must implement #find and potentially #create. It reaches out to an HTTP endpoint for users. Since all adapters implemented #find and #create behave the same way it seemed reasonable to swap out adapters in the test environment instead of waiting for dummy users to be created, and http requests to fire etc etc. How

[2015-07-03 10:29] taylorfinnell commented on #203
The mapper `as: ` looks like it will do exactly what I need, for the reason you mentioned. My storage uses `user_id` as the primary key and I want `id` for my sanity :). I have not tested yet but I think it will. For what it's worth I traced the issue to this line. https://github.com/taylorfinnell/validations/commit/ca7290211be3bdb3c1293b2863fd9f7b302978de. I have not had time to dig in to see wha

[2015-07-03 10:35] jodosha commented on #203
@taylorfinnell I'm closing this. Feel free to reopen in case you still have problems. Thank you :+1:

[2015-07-03 10:35] #203 closed

[2015-07-05 16:25] theCrab commented on #136
[code]
How did you define the Sequel's `TrueClass` `FalseClass`?

[2015-07-06 19:47] pascalbetz commented on #35
How would associations work for the insert/remove workflow (adding a comment to/removing a comment from an article)? I guess there'd be no support from lotus/model as it's only a "stupid" ruby object?

About the syntax for declaring assocations:
Defining associations with/without ```[]```to indicate has many/ belongs to seems a bit limited (as @coenert already pointed out with the has one case (fo

[2015-07-07 06:50] jodosha commented on #202
@taylorfinnell Sure, happy to be helpful here. I'd suggest to use [webmock](https://github.com/bblimke/webmock) to avoid to hit the external service during your tests.

I'm closing this. Thank you. :+1:

[2015-07-07 06:50] #202 closed

[2015-07-07 06:52] jodosha commented on #136
@theCrab We use Sequel as migration engine. The list of Ruby types is defined here: http://lotusrb.org/guides/migrations/create-table/ :smile_cat:

[2015-07-07 06:54] jodosha commented on #35
@pascalbetz Thank you for your opinion. The workflow for add/remove associated records is something under discussion. We're trying to apply a simple design her. :smile:

[2015-07-10 07:45] pascalbetz commented on #35
@jodosha

If i understand correctly:

associations are just "stupid" getters/setters. So there is no syncing between the foreign key attribute and the association?

(pseudocode)
[code]

I guess you don't want to autogenerate methods like
[code]
on the entity?

[2015-07-10 07:49] pascalbetz commented on #35
@coenert

Wouldn't the collection/fk/... options be arguments to belongs_to? (assuming _belongs_to_ is a method which returns a type which represents the association)
[code]

[2015-07-10 08:38] coenert commented on #35
@pascalbetz Probably, but now after some time i think my suggested api isn't in any way simpeler to understand then the one @jodosha initially suggested. I think i missed the point of creating less magic DSL's to reduce complexity(still learning :smile:)

[2015-07-10 08:49] pascalbetz commented on #35
@coenert

The proposed API by @jodosha might hit some limits though (has and belongs to many, has many through).

How about

[code]
Pretty much like Rails does it. Just keep the associated class as the second argument.

[2015-07-10 10:13] jodosha commented on #191
@darwinrc Hello again, I forgot to mention that you can do something like this:

[code]

See https://github.com/lotus/model/blob/master/lib/lotus/repository.rb#L589-L592

I'm closing this for now, and open a ticket to promote command/query separation for repositories.

[2015-07-10 10:13] #191 closed

[2015-07-10 10:45] pascalbetz opened #206 "id not assigned to the entity on create"
According to the documentation in Repository:
[code]
the ID (primary key for RDBMS) should get assigned upon create which is not the case.
Failing Testcase here: https://github.com/pascalbetz/lotus-model/commit/c5e5150f811e84290cd7d03e12e77f88cdc8b5a6

[2015-07-10 10:56] jodosha commented on #206
@pascalbetz the returning value of `.create` has the assigned id. This is because we want to apply coercions to the given entity.

[code]

This is a matter of outdated documentation. Can you please open another PR to fix it? Thank you.

[2015-07-10 11:03] pascalbetz commented on #206
@jodosha so you don't want to modify the entity passed in as argument?

Something like this will fail:
[code]
but i would actually expect it to work (i only looked up the documentation after i realized my code is not working)

This would lead to something like
[code]
whenever you need to have the id (i.e. when you associate records). Looks error prone and superfluous to me. Care to explain the ide

[2015-07-10 22:34] darwinrc commented on #191
Thanks a lot @jodosha I'll take that into account.

[2015-07-11 02:20] joneslee85 opened #208 "` lotus db migrate` should not raise errors if migrations folder is empty"
*Given* that my `db/migrations` is empty
*When* I run `bundle exec lotus db migrate`
*Then* I should not see following errors:

[code]

[2015-07-11 04:01] g3d commented on #208
@joneslee85 will look into that

[2015-07-11 22:19] ericboehs opened #209 "`lotus db drop` fails saying "Cannot find database" (postgres)"
When trying to drop a postgres database, a `Cannot find database` error is thrown.

[code]
Last commands fails with:

[code]

I have not tested this on MySQL. Perhaps the same issue is there as well.

[2015-07-12 22:35] g3d commented on #208
This error was related to https://github.com/jeremyevans/sequel/blob/4.24.0/lib/sequel/extensions/migration.rb#L511.

Steps to reproduce:
1) you have non-empty folder without migration (.gitkeep, etc)
2) you run `bundle exec rake db migrate`
3) you got that error

Created PR for that

[2015-07-13 17:14] pascalbetz commented on #36
@jodosha @AlfonsoUceda

I created a proof of concept on how this could be done. Feedback welcome (i went a bit a different road). If you are interested in investigating this approach a bit further, then send me a message.

Commit + some comments are here: https://github.com/pascalbetz/lotus-model/commit/a033e6c15e37a8c6b4f89a66f97879f234e52da1

Could solve #183 and #136 as well, see examples + tes

[2015-07-13 19:16] pascalbetz commented on #36
Forgotten to explain the idea a bit:

I added _Type_ classes that represent either a _Atom_ or a _Composite_ attribute of an entity. They can form a hierarchy (for nested/composite attributes). And they can map an entity from/to a record.
This moved a lot of code out of Coercer and into those Types.

One can "easily" write a custom type (lets say your class does not provide writers).

Also one can

[2015-07-13 22:49] ziggurat opened #211 "lotus db create not using url credential (postgres)"
Trying to run lotus db create using an url like this:

    postgres://user:pass@localhost/db_name

but connection with the DB fail because the command is not using the user:pass provided. It seems it is attempting to use the linux logged in user. To provide more information, this issue does not seems to happen when running

    lotus db console

[2015-07-13 23:10] ziggurat commented on #211
Ok, debugging the code a little bit, the createdb command seems to be executed like this:

connection url:

    postgres://user:pass@localhost/db_name

runs:

    createdb db_name --owner=user

problem with this is that it's not setting the user that will be used to run the command, only the owner of the created db after it. According to the documentation:

So I think the command to be executed sh

[2015-07-14 03:08] ziggurat commented on #211
My comments above were not accurate now that I could analyze the code. It seems that before running the createdb command, environment variables used by postgres were not being loaded. I have created a PR here https://github.com/lotus/model/pull/212.

[2015-07-14 03:14] #211 closed

[2015-07-14 03:26] ziggurat commented on #209
I think this PR will fix this issue https://github.com/lotus/model/pull/213

[2015-07-14 09:02] pascalbetz commented on #36
Also looked into the failing tests regarding dirty tracking / repository.

DirtyTracking expects the initial state to be set using the _initializer_. Currently my approach sets the values from the record using the _setters_.

[2015-07-15 14:45] pascalbetz commented on #36
I created a PR on my clone so one can easily see the diff and i have place to add all the description...

https://github.com/pascalbetz/lotus-model/pull/1

[2015-07-20 09:38] pascalbetz commented on #206
@jodosha

I fixed the docs. https://github.com/lotus/model/pull/214 so that it is aligned with the code.

Still think that it would be better to assign the id to the entity that is passed in. Less error prone (even lotus model tests are not testing the right thing because of this!) for the user and things might even get trickier when associations are added:

[code]
Will it clone/copy the associate

[2015-07-20 10:06] pascalbetz opened #215 "Repository create/persist"
As already mentioned in https://github.com/lotus/model/issues/206 i think it is strange to not assign the ID to the passed in entity. I created a PR to fix the documentation so it is aligned but i'd be interested to discuss this. I'd confess that i'm very much used to having the ID assigned because of ActiveRecord. But that does not necessarily make this a bad thing:-)

Here are some questions/com

[2015-07-20 10:07] pascalbetz commented on #215
@jodosha I'd be interested in feedback.

[2015-07-23 09:16] AlfonsoUceda commented on #206
@pascalbetz IMO I prefer your approach because it's less error prone and you don't have to assing variables but I don't know if this behaviour is planned. what do you say @jodosha ?

does the repository pattern say something abouyt this?

[2015-07-23 09:21] pascalbetz commented on #206
@AlfonsoUceda thanks for the feedback: if i understand correctly then L:M actually did assign the id a while ago. This was dropped because coercion is applied on the values (the entity returned from those calls has coerced attributes). So without looking into code i think:

[code]
is the current behaviour .

[2015-07-23 09:25] AlfonsoUceda commented on #206
ah you're right @jodosha said that in his previous feedback.

Maybe we have to found some "fix" to do the coercions and modify the id but for now it isn't our priority, @jodosha @joneslee85 what do you think?

[2015-07-23 09:33] pascalbetz commented on #206
This PR will fix the doc so it is in sync with the current behaviour. I created an issue (https://github.com/lotus/model/issues/215) for the discussion where i describe some problems i see with the current approach. Would welcome some feedback there.

[2015-07-24 12:17] jodosha commented on #36
@pascalbetz Thanks for the PR and the explanation. I'm going to leave my comments over there.

[2015-07-24 12:54] pascalbetz commented on #36
@jodosha thanks for the feedback. As mentioned this is not a PR meant to be integrated but more to discuss the idea.

[2015-07-24 14:24] joneslee85 commented on #209
@ericboehs to me the problem seems to lie at the create part. There is a now a fix for creation upstream, you can try it out with lotus-model HEAD.

@ziggurat I tested the drop task for postgresql and it works perfectly.

[2015-07-27 19:07] pascalbetz commented on #215
Moved discussion over to https://discuss.lotusrb.org/t/change-the-behavior-of-repository-create-persist/117

[2015-07-27 19:07] #215 closed

[2015-07-29 03:16] vyper opened #217 "Error on entity dirty tracking"
I got an unexpected "error" in my entity using dirty tracking. If I change the includes order in my entity the `changed?` and `changed_attributes` does not work perfectly.
# For this includes order

[code]
# Inverting Validations and DirtyTracking

[code]

[2015-07-29 03:31] joneslee85 commented on #217
@vyper can you please update the description with more details on what this ticket is about?

[2015-07-29 03:31] #209 closed

[2015-07-29 08:53] AlfonsoUceda commented on #217
@joneslee85 if you see the order inclusion between `Lotus::Validations` and `Lotus::Entity::DirtyTracking` you'll see the problem

[2015-07-29 09:02] vyper commented on #217
Sorry @joneslee85, I sent incompleted description. But, @AlfonsoUceda is right.

[2015-08-06 08:11] joneslee85 opened #224 "Add convenient Repository.find_by() and Repository.find_all_by() helpers"
At the moment, I find that the lacking of `find_by()` and `find_all_by()` which find and return one or many entities makes my work very tedious. I have to repeat myself again many times, having method in Repository to do same job.

Just want to throw it out here for discussion

[2015-08-06 08:31] pascalbetz commented on #224
Maybe i misunderstood:

Isn't one of the intention of the repository to provide a clear interface that reveals the intention? Having generic methods would work against that.

[2015-08-06 08:44] AlfonsoUceda commented on #224
@joneslee85 for me it doesn't make sense use `find_all_by()` this is a `where`, `find_by()` can be replaced with `where().first`, can you give us an example of your problem?

[2015-08-06 08:48] joneslee85 commented on #224
@AlfonsoUceda can you? fix me if I am wrong, the rule is *All the queries are private*, thus `where()` or `first()` must be wrapped inside a `query` block and in a public method of the repo, this is what I meant about the repetitiveness

[2015-08-06 08:49] joneslee85 commented on #224
so here is an example

[code]

[2015-08-06 09:00] pascalbetz commented on #224
_User_  => _UserRepository_ ?

You would want to add a "magic" _find_by_/_find_all_by_ method to the repository? I guess this would reduce the code you have to write (i agree on that one) but violate some of the points mentioned in http://lotusrb.org/guides/models/repositories/ (Private Queries section). Mainly the clear intent would be missing.

[2015-08-06 09:04] AlfonsoUceda commented on #224
I agree with @pascalbetz

[2015-08-06 15:03] #224 closed

[2015-08-15 21:59] skinofstars opened #227 "Rack::URLMap throws Cannot find Lotus::Model adapter FileSystemAdapter"
I'm trying to mount a Lotus app on a subpath using

[code]

This throws the following error

/var/lib/gems/2.1.0/gems/lotus-model-0.4.1/lib/lotus/model/config/adapter.rb:99:in `rescue in instantiate_adapter': Cannot find Lotus::Model adapter FileSystemAdapter (Lotus::Model::Config::AdapterNotFound)

[2015-08-15 23:10] joneslee85 commented on #227
@skinofstars are you using lotus-model in your app?

[2015-08-15 23:12] skinofstars commented on #227
I have it in there, but I probably don't need it at the moment. Should that matter?

[2015-08-15 23:14] joneslee85 commented on #227
@skinofstars it does not matter, but trying to remove it first as it is optional component and see if the error persists

[2015-08-15 23:26] skinofstars commented on #227
@joneslee85 right, using Rack::URL works fine when lotus::model is removed.

[2015-08-15 23:32] joneslee85 commented on #227
@skinofstars will you be able to dig in further?

[2015-08-15 23:37] skinofstars commented on #227
@joneslee85 I'm happy to have a look in a couple of days.

[2015-08-15 23:43] joneslee85 commented on #227
@skinofstars  :+1:

[2015-08-20 12:03] theocodes opened #233 "Migrator assumes Lotus::Model.configuration and ignores dupes"
So I've encountered something that became an issue for me and since I don't know whether this is by design or oversight, thought I'd bring it here.

** Background **

I'm working on a gem that will live side by side with another lotus app. This gem's responsibility is to talk to a external database to build some associations with objects in the including app, based on their id's etc..

Since the g

[2015-08-20 14:04] joneslee85 commented on #233
@theocodes please bring it to discuss.lotusrb.org for further discussion

[2015-08-20 14:04] joneslee85 commented on #227
want any help?

[2015-08-20 21:14] skinofstars commented on #227
Ok, just come back, re-added the gem to my project and the problem no longer exists. If I come across it again, I'll re-open.

[2015-08-20 21:14] #227 closed

[2015-09-02 03:43] chenge opened #234 "How to run the sample with Mysql?"
![2015-09-02 11 44 16](https://cloud.githubusercontent.com/assets/252333/9622610/cca467e6-5167-11e5-8954-efd80bea32b1.png)

[2015-09-02 05:10] joneslee85 commented on #234
@chenge have you included `mysql2` gem in your Gemfile?

[2015-09-02 10:00] chenge commented on #234
![2015-09-02 6 01 28](https://cloud.githubusercontent.com/assets/252333/9628301/8205333e-519c-11e5-8db0-7f4bfd7064e8.png)

[2015-09-02 11:42] joneslee85 commented on #234
can you change the URI to `mysql2://`?

[2015-09-02 12:46] chenge commented on #234
mysql2:// works， Thank you!

[2015-09-03 01:15] #234 closed

[2015-09-03 14:59] chenge opened #236 "NoAdapterError, while using lotus-model with rails?"
![2015-09-03 11 00 22](https://cloud.githubusercontent.com/assets/252333/9661894/66f232c4-528f-11e5-8e86-8c53cdc31846.png)

[2015-09-03 18:33] #236 closed

[2015-09-10 14:57] mymai91 commented on #217
@vyper Can you make it clarify?
@joneslee85 I'm testing on lastest version Lotus model. I change order's `Lotus::Entity::DirtyTracking && Lotus::Validations`. It work okay with me.

[2015-09-10 23:00] joneslee85 commented on #217
@mymai91 that's right, as @vyper has described in the description, the ordering should not matter, the function should work in either ordering.

[2015-09-12 02:48] mymai91 commented on #217
@vyper Can you show me your code? I need to know more detail.

[2015-09-12 08:14] #183 closed

[2015-09-12 08:14] jodosha commented on #34
Implemented by #228

[2015-09-12 08:14] #34 closed

[2015-09-12 08:59] jodosha commented on #36
Implemented by #216

[2015-09-12 08:59] #36 closed

[2015-09-12 12:17] taylorfinnell opened #237 "Repository does not respect default values on persisted entities"
When you define a default value in the migrator, the repository does not respect it.

[code]

`ui = UserInfoRepository.create(UserInfo.new(version: 1))`

[code]

[2015-09-13 02:15] joneslee85 commented on #237
@taylorfinnell thanks for the bug report, for our investigation, can you please also provide your mapper?

[2015-09-13 02:40] taylorfinnell commented on #237
Mapping

[code]

Using the SQL adapter. Here is a potential solution for the issue, originally used the schema for the defaults but @solnic showed me the Dataset#returning method :)

https://github.com/taylorfinnell/model/commit/52f7683d88308fb8db265d926194c8ebab90e5ef

[2015-09-13 17:51] taylorfinnell commented on #237
Got a chance to run the tests. Looks like sqlite does not support RETURNING. So the commit in my previous comment is not a fully working solution

[2015-09-14 01:20] joneslee85 commented on #217
@vyper https://github.com/lotus/model/pull/238, My was trying to replicate the error but she could not

[2015-09-14 09:07] jodosha commented on #233
@theocodes Hello there :smile:  This is a known limitation. Did you found a way to overcome it?

[2015-09-14 13:02] theocodes commented on #233
hey @jodosha :)

Haven't put a lot of thought into it.. I've been running the migrations directly with sequel but it's definitely
in my list of things to look at :)

[2015-09-15 12:09] joneslee85 commented on #217
@mymai91 on second look, your test is not the same as the issue description, as you can see that @vyper was fetching the entity from the repository. Can you please update your PR to do it and see if it fails?

[2015-09-16 01:05] mymai91 commented on #217
@joneslee85 Got it. I will update.

[2015-09-16 08:50] mjacobus opened #240 "Any particular reason why Repository works with class methods?"
Hey guys.

I was wondering ever since I started reading the manual and playing a bit with lotus why repository is not a object. To me it would make more sense to instantiate the repo passing the adapter as argument in the constructor.

Sorry if this is not the correct to ask that.

Cheers!

[2015-09-16 09:19] jodosha commented on #240
@mjacobus Hello, you are encouraged to ask questions at any time :)

The initial design was influenced by a few factors. Firstly, it's a common pattern in Ruby libs to use classes for repositories (eg, ActiveRecord and Sequel Model CRUD methods). As second reason, It's a bit cumbersome to instantiate it and give the adapter as argument, because that means to pass the adapter around..

[code]

To f

[2015-09-16 09:19] #240 closed

[2015-09-16 09:46] mjacobus commented on #240
Thank you very much for your response, @jodosha =)

Yes, I understand that some adapters would expose some methods that others can't.
I think the adapter could come from a factory, and that most users could just not care about that.

Perhaps something like:

[code]

What a personally do not like is that the Repo is then a kind of global variable. In the above example ApplicationDependencies is glo

[2015-09-16 10:50] solnic commented on #240
(here I go again ;)) Most *common* patterns in Ruby are flawed. Class-interface-oriented design is one of them. For me classes are great as object factories, nothing more. Objects are nicer because you need to treat them explicitly as dependencies and they are easier to compose as opposed to class constants because they are not as flexible as objects. Given that we managed to build ROM in a way wh

[2015-09-17 07:27] jodosha commented on #217
We should make it to work, because this is clearly a bug.

However, I'm observing a dangerous pattern here: try to reproduce AR models with Lotus::Model. There is a reason why we shipped decoupled modules and gems for these behaviors: separation of concerns between roles.

One cannot agree with this design, but if a dev needs everything to live in the same object, it's better to use AR instead.

[2015-09-18 14:03] jodosha commented on #224
Agreed on NOT implementing this. :smile:

[2015-09-18 14:19] #208 closed

[2015-09-21 04:59] stepantubanov opened #242 "Too many open files error when running tests"
Hey,

I am getting some errors when running tests, could you give me a hand in figuring out what's wrong?

There are 15 errors in total, but they're all of 2 types:
1) SQLite not being able to open database file
2) Too many files open (file adapter tests)

Examples below:
[code]

I'm using ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14], SQLite version 3.8.11.1

[2015-09-28 10:50] adlersantos opened #243 "Postgres pattern matching on Query#where"
Hi Guys,

Is it possible to use Postgres pattern matchers on `Query#where`?

[code]

Otherwise, then I can probably do it via `SqlAdapter#execute`. How may I sanitize the interpolation of `name` in this manner?

[2015-10-09 14:13] matheusca opened #245 "Path glob to mapper files"
Hi!

Organize my mapping files I separate mapping in many files that makes sense for me. So I created a main mapping file that it got all path, as following:

[code]

It works very well, but it more redundancy for each mapping I will need putting these files in main mapping file.

My suggestion if will be possible use a glob path in main file. For instance, my file could be more elegant as followi

[2015-10-10 09:28] AlfonsoUceda commented on #243
@adlersantos hi sorry for the late response, yes you can, you have to use a block ;)
[code]

[2015-10-10 09:34] AlfonsoUceda commented on #245
I like the idea to separate in several files the mapping, because in big applications the mapping will be big.

what do you think @lotus/core-team ?

[2015-10-10 09:36] AlfonsoUceda commented on #242
@stepantubanov sorry for the late response, what OS do you have? mac os x?

[2015-10-10 11:08] joneslee85 commented on #245
@AlfonsoUceda I do like this idea too, I even think that having `lib/bookshelf/mappers` as a conventional placeholder. Thoughts?

[2015-10-10 14:02] AlfonsoUceda commented on #245
:+1:

[2015-10-12 07:49] jodosha commented on #136
Closing this for now, as we want to narrow the scope as much as possible before to hit 1.0.

[2015-10-12 07:49] #136 closed

[2015-10-12 07:50] jodosha commented on #206
@pascalbetz I'm closing this for now, because we need a wider discussion on the API improvements.

/cc @lotus/core-team

[2015-10-12 07:50] #206 closed

[2015-10-12 07:52] jodosha commented on #197
Closing this for now, as it isn't high priority.
Keeping track of this idea here: https://trello.com/c/rVuuMCxG

[2015-10-12 07:52] #197 closed

[2015-10-12 07:53] jodosha commented on #233
Closing as it isn't high priority or possibly out of scope. Thank you all :smile:

[2015-10-12 07:53] #233 closed

[2015-10-12 10:08] joneslee85 opened #246 "Display attributes for #to_s"
Imagine I have following Entity:

[code]

when I instantiate a new instance:

[code]

we could see that only assigned attributes are displayed. I think it'd be better if we display all attributes of the entity for inspection (even if they are nil):

So the output should be:

[code]

Thoughts?

[2015-10-12 12:08] jodosha commented on #246
@joneslee85 :+1: Should it be `#inspect` instead of `#to_s`?

[2015-10-12 12:18] AlfonsoUceda commented on #246
:+1: because no displaying attributes can be weird

[2015-10-12 15:19] adlersantos commented on #243
Got it, @AlfonsoUceda. Thank you! :)

[2015-10-12 15:19] #243 closed

[2015-10-13 02:30] joneslee85 commented on #245
On second look, doing multiple `mapping` does not work correctly in the current version, the latter one would override the one before that. So the PR should also handle that first.

[2015-10-14 07:29] jodosha opened #249 "Misleading error message for non configured mapper"
When we create a fresh new app and one entity/repository, but we **don't** configure the mapper, we get this misleading error message:

Expected:

[code]

Current:

[code]

Steps to reproduce:

[code]

[code]

/cc @lotus/core-team

[2015-10-14 07:47] jodosha opened #250 "Improve error message for `lotus db drop`"
Steps to reproduce.

[code]

Open another shell and left open the PG client

[code]

Get back to the initial shell:

[code]

The reason is that `dropdb` fails, because we forgot the other shell open with a connected client. The problem is that we don't see any help in the error message.

For instance if I try with `dropdb` I see the problem and how to fix it.

[code]

[2015-10-14 07:58] jodosha opened #251 "Improve error message for `lotus db prepare`"
This is similar to #250 and the steps to reproduce it are the same. The only difference is the command that we run and the output.

[code]

The reason is:

  1. It fails to drop the database, for the same reason of #250, but [we catch](https://github.com/lotus/model/blob/master/lib/lotus/model/migrator.rb#L246) this error.
  2. The database already exists, so it fails.

I'm not sure how to fix thi

[2015-10-14 15:18] mjacobus commented on #240
Hi @jodosha

Finally I got the time to work an example for what I meant. And I believe it is inline with what @solnic mentioned.

Here is an example how the repository can be created with its dependencies and easily used inside the application. That is a WIP and it is an app that I want to build.

- [Application dependencies](https://github.com/mjacobus/quizzy/blob/feature-quiz/lib/application/dep

[2015-10-14 17:02] lucasallan opened #252 "[Proposal] Async methods for repositories"
### Async methods
I'd like to suggest to add `Async` methods to `repository`, something like:

[code]

Basically, these methods will always return a `Future`, something similar to how Cassandra Ruby Driver works: http://datastax.github.io/ruby-driver/features/asynchronous_io/

For the `Future` implementation, we could use concurrent-ruby https://github.com/ruby-concurrency/concurrent-ruby .

####

[2015-10-15 13:34] #246 closed

[2015-10-16 13:26] jodosha commented on #252
@lucasallan Thanks for the suggestion, but this seems a unneeded complex feature for now. Low priority :mouse:

[2015-10-16 13:26] #252 closed

[2015-10-16 16:06] lucasallan commented on #252
@jodosha Fair enough! I know we have limited human resources right now, but I could definitely work on it, unless you have something else that I can work on.

[2015-10-16 23:34] t4deu commented on #250
Hi @jodosha ans @joneslee85, I can take a look on this and on the #251 if it is not a problem

[2015-10-16 23:44] joneslee85 commented on #250
@t4deu please go ahead

[2015-10-17 04:53] hlegius commented on #242
Just for the record, I am getting these errors now and then too. Travis CI is suffering with this as well. My PR has some random failures related to it.

Is there someone working on it?

[2015-10-17 16:46] jodosha commented on #242
@hlegius Nope, sorry. :(

[2015-10-17 16:46] stepantubanov commented on #242
@AlfonsoUceda yep, mac os x 10.11.

[2015-10-17 19:27] hlegius commented on #242
@jodosha can I take a look on it, then?
Is everybody getting these errors in yours local's env?

[2015-10-17 19:30] AlfonsoUceda commented on #242
@hlegius that is a problem related to mac os x, search in google about that error and how to fix it

[2015-10-17 20:47] hlegius commented on #242
@AlfonsoUceda hmm.. but it happens inside Travis [Jobs](https://travis-ci.org/lotus/model/jobs/83631364#L353) sometimes - maybe is not 100% related to this one reported here, but is also this sqlite random error. If you run it on localhost (Linux) you can reproduce, but when running only the 'broken' test, it passes.

Here is [another example](https://travis-ci.org/lotus/model/jobs/83477891#L164)

[2015-10-19 12:32] jodosha commented on #242
@hlegius Absolutely, thank you :green_heart:

[2015-10-19 13:40] aderyabin opened #257 "Improve tests"
I want to create PR that add possibility to run test with specific adapter, for example
[code]

Does it sense?

// cc @jodosha @joneslee85

[2015-10-19 13:42] joneslee85 commented on #257
@aderyabin can't we do it with UNIX variable instead?

[2015-10-19 13:44] aderyabin commented on #257
yes, we can do it like in AR
[code]

[2015-10-19 14:03] joneslee85 commented on #257
I like it, but wondering if it would brings the mutations of Travis CI matrix to unmanageable number

[2015-10-20 12:54] jodosha commented on #257
What if the default runs all the tests (like now), so we can use it with Travis CI, without growing the build matrix? I see this trick useful for dev mode. @aderyabin was this your intention?

[2015-10-20 14:01] aderyabin commented on #257
I suggest only add option – run test with specific adapter, for example:
[code]
without changes in default task (test all adapters)
[code]

[2015-10-20 15:05] jodosha commented on #257
@aderyabin :+1:

[2015-10-20 15:13] joneslee85 commented on #257
:+1:

[2015-10-21 07:50] #250 closed

[2015-10-22 07:22] #242 closed

[2015-10-26 11:00] hlegius commented on #257
@aderyabin I was talking to @jodosha about to split tests into two groups: unit and integration. IMO, it will help to prevent 'too many open files' error in the future due lots of resources left behind without closing it properly (sometimes its too way complicated to close anyway). Also, may improve _our_ development process. This separation will be also reflected within Travis which will call exp

[2015-10-26 13:03] pascalbetz commented on #257
i agree. but i don't have to manage the build matrix at travis:-)

but i disagree that this should be the fix to the "too many open files" problem. If this exists, then it's a problem with the tests allocating to many resources and should be fixed. Currently we assume that it's the tests which are causing these problems. But it might as well be the framework itself. Which would then go unnoticed.

[2015-10-26 14:58] hlegius commented on #257
@pascalbetz hmm.. I've fixed the 'too many open files' issue days ago. it was merged into master one day later. My concern is about when new files get added into repository people forget to close connections properly (as it was the issue before) - that's why I suggested split within Travis as well.

[2015-10-26 23:13] joneslee85 commented on #257
generally I find this idea useful for dev mode. Furthermore I think I would make tests simpler and easier to track down bugs.

Please go ahead

[2015-10-27 08:51] jodosha commented on #257
yup, agreed. :+1:

[2015-10-27 14:01] #251 closed

[2015-10-27 17:37] aderyabin commented on #257
Absolutely, all tests improvements for development usage only without changes in Travis integration.

[2015-10-29 08:27] jodosha commented on #251
:heart:

[2015-11-04 01:34] huynhquancam commented on #249
@jodosha @joneslee85  Do you think we can check if collections have been configured at this mapper building step?
https://github.com/lotus/model/blob/master/lib/lotus/model/configuration.rb#L250

[2015-11-04 10:15] jodosha commented on #249
@huynhquancam :-1: This happens when there is no corresponding collection for a given repository.

For instance, if my mapping has:

[code]

If you run the tests again, you'll get the same error.

I think `NullAdapter` should accept a name for the initializer and provide a batter error message.

[code]

[code]

[2015-11-06 00:15] huynhquancam commented on #249
@jodosha thanks, :+1:  I think your approach works but SRP wise, seriously do you think the adapter needs to care about which repository it's being attached to?

How about `NullAdapter` to accept a `NullMapper` by default?

[code]

[code]

[2015-11-06 14:45] jodosha commented on #249
@huynhquancam

I think this is true for `NullMapper` too. Your approach mimics the relation between adapter and mapper, but it looks like an unnecessary indirection.

[2015-11-27 03:35] cllns opened #264 "Show error message for `createdb` failure"
I'm using [Postgres.app](http://postgresapp.com/) on OS X, and I just ran into a problem running `lotus db create`

[code]

The problem was that running the `createdb ...` on my computer didn't succeed. I needed to follow [these directions](http://postgresapp.com/documentation/cli-tools.html) (i.e. add `createdb` to my PATH) in order to make it work.

Related: #200, #262

I solved it by looking at

[2015-11-27 04:46] joneslee85 commented on #264
@cllns definitely this could be improved by having a check for `createdb` and failed fast if the tool is not available, would you be able to create a PR?

[2015-11-27 22:27] cllns commented on #264
I can create a PR :)

If we want to check for `createdb` ahead of time, the best solution looks like using [`find_exectuable`](https://github.com/ruby/ruby/blob/trunk/lib/mkmf.rb#L1572) from 'mkmf' to do so (included in standard library). The downside to that is that it prints `checking for createdb... yes` to stdout. We could use its helper method, [`find_executable0`](https://github.com/ruby/rub

[2015-11-28 03:08] joneslee85 commented on #264
@cllns TIL `find_executable`, I am totally fine with the message. To me it is much simpler than `popen3`. Give it a shot

[2015-11-28 03:31] cllns commented on #264
Ah sorry, I should've linked to the code. Popen3 is already being used, I only propose adding begin/rescue around it: https://github.com/lotus/model/blob/master/lib/lotus/model/migrator/postgres_adapter.rb#L106

Still want to go with `find_executable`, or do you think rescuing SystemCallError would be better?

[2015-11-28 04:08] joneslee85 commented on #264
@cllns does `find_executable` work under JRuby? If not, we go `popen3`

[2015-12-08 22:15] davidpelaez opened #267 "No output on `lotus db migrate`"
After running the command I see no output. For instance in my machine I see an error of my bundle, but no confirmation of the migration occurring.

[code]

After checking on the DB the migration did occur but I couldn't tell so this is a usability issue, specially considering that DB migrations make people somewhat nervous!

[2015-12-09 11:39] jodosha commented on #267
@davidpelaez We designed it by following the UNIX philosophy: [Rule of Silence](http://www.linfo.org/rule_of_silence.html)

It's the same of this:

[code]

[2015-12-09 11:39] #267 closed

[2015-12-11 13:05] davidpelaez commented on #267
OK. I get where it comes from. I think putting the user's emotion first would be better. The machine using the program is less common that the user using it directly so I would prefer to prioritize on that direction. Sometimes you want a silent program so a flag like in curl makes sense `curl -s`. Also another option is using stderr by default for information messages. I understand the philosophic

[2015-12-21 13:46] #264 closed

[2015-12-21 14:26] #249 closed

[2015-12-23 08:45] trantuanckc commented on #249
Note again for any body (and for me :D ) still have this problem. (work for me) in `lib/<app name>.rb`
If you load specify mapping file `mapping "#{__dir__}/config/mapping"`
You should comment the mapping block below

[code]

Thanks to @jodosha to support me! :100:

[2015-12-23 09:08] huynhquancam commented on #249
:+1:

[2015-12-26 10:29] jodosha commented on #249
As future reference: last evaluation of `mapping` wins. If you have a mapping loaded from an external file (eg. `lib/bookshelf/config/mapping.rb`) **AND** an empty `mapping` block, the last one will take precedence.

Here a code example of an **INVALID** configuration:

[code]

[2016-01-01 01:47] SleeplessByte opened #272 "Booleans can't be dumped in repository"
[code]

Given the mapping

[code]

And the creation

[code]

[2016-01-01 01:50] SleeplessByte opened #273 "Empty values can't be coerced"
When a form is submitted and the value is empty (but present as key because it was in the form).

Coercing

[code]

[2016-01-01 19:34] jodosha commented on #273
@SleeplessByte Thanks for reporting this. We'll start reworking Lotus::Model low level mechanisms next week. So we'll take in account this problem.

For the time being, you can avoid to hit this problem, by validating your data.

[2016-01-01 19:37] jodosha commented on #272
@SleeplessByte Thanks again for reporting this. You should try with `Boolean` instead of `TrueClass` in your mapping. See https://github.com/lotus/model/blob/master/lib/lotus/model/mapping/coercers.rb#L43 for reference.

If there is some part of the documentation that reports `TrueClass` instead of `Boolean`, can you please point it to me, or open a PR with the fix? Thank you very much! :+1:

[2016-01-01 21:23] SleeplessByte commented on #272
Yeah the reference is made to Sequel, but the changes are not pointed out.
In Sequel for Ruby there is no Boolean class.

I'll check the docs again :)

On Fri, 1 Jan 2016 20:37 Luca Guidi <notifications@github.com> wrote:

[2016-01-01 23:33] SleeplessByte commented on #273
I actually unset empty values before I pass them to the repository, because the `skip?` if blank? only skips it for validation. Not for creation.

[2016-01-02 14:15] jodosha commented on #273
@SleeplessByte I'm confused. :cry:

You should invoke methods on the repository, only if you're sure they are valid. This is a framework design. In pseudo code:

[code]

As opposite of other libraries like ActiveRecord, where the control happens inside the repository role:

[code]

---

Do you have some code to share with us? It would help to understand better your use case :smile: Thanks!

[2016-01-03 15:48] SleeplessByte commented on #272
@jodosha the `TrueClass` type is never referenced in the documentation but neither is `Boolean`. I assumed `TrueClass` because of the last paragraph on [Migrations: Overview](http://lotusrb.org/guides/migrations/overview/).

I would suggest adding this to the documentation, as `Boolean` is not a stdlib type, same for `Array`.

[2016-01-03 16:01] SleeplessByte commented on #273
@jodosha Sorry about the confusion.

Adding validations to the `action#params` actually solved this because it filters out empty `params`. This however is not clear from the documentation. After I updated my gems I think entity.valid? / action#params.valid? both ignored the empty values correctly.

[2016-01-03 16:01] SleeplessByte commented on #273
Woops. The bug is still there off course for no validations.

[2016-01-05 11:47] jodosha commented on #272
@SleeplessByte The problem with migrations is that the internal block is delegated to Sequel, which doesn't support `Boolean` but `TrueClass`/`FalseClass`.

`Array` isn't a stdlib type? It's core, but it's shipped with Ruby. What do you mean by that?

[2016-01-05 11:48] jodosha commented on #273
Which version do you used before, and which one after the upgrade?

[2016-01-05 19:56] SleeplessByte commented on #273
`0.5.0` to `0.6.x` + `lotusrb edge`.

I have not encountered the error since yesterday.

[2016-01-05 19:57] SleeplessByte commented on #272
@jodosha I guess what I am saying is is it is really weird imo to use `Boolean` in one place and `TrueClass` in another place, and it's not documented anywhere.

[2016-01-05 20:17] jodosha commented on #272
@SleeplessByte Oh okay :)

[2016-01-05 20:17] jodosha commented on #272
@SleeplessByte

Good point, I'm reopening this. :+1:

[2016-01-05 20:19] jodosha commented on #273
@SleeplessByte Thank you. I suspect this could be related to https://github.com/lotus/validations/pull/82 /cc @hlegius

[2016-01-06 21:33] TheSmartnik opened #275 "Make .update consistent with .initialize"
When we initiailize, we [check](https://github.com/lotus/model/blob/master/lib/lotus/entity.rb#L191-L196) if attribute can be assigned. What if we make the same for [.update](https://github.com/lotus/model/blob/master/lib/lotus/entity.rb#L282-L286)?

[2016-01-07 00:14] hlegius commented on #273
@SleeplessByte if I got you correctly, you're trying to persist `params` directly thought your Entity, instead of use the validated params (a.k.a Lotus Validation output (with `.to_h` method) after you've checked if its valid (`.valid?`, `.invalid?`). This way, you'll get this coerce issue.

About blank values, since lotus/validations#82, you can have blank param's keys for both `size` and `type`

[2016-01-07 09:40] jodosha commented on #275
@TheSmartnik Hi, why this feature request? Update expects an entity as input. So the control is provided by entity and update can indirectly take advantage of it.

[2016-01-07 19:17] Moratorius opened #276 "Handle adapter exceptions as Lotus errors"
When creating an entity, the `SqlAdapter` does not raise a `Lotus::Model::Error`.  Exceptions are bubbled up from the adapter, e.g. `Sequel::UniqueConstraintViolation` is exposed directly to the application.  Applications should only be concerned with the Lotus interface and not the underlying adapter implementation.

Ideally there would be an equivalent `Lotus::Model::Error` for each of the `Sequ

[2016-01-08 01:19] joneslee85 commented on #276
@Moratorius that's true, would you be able to instantiate a PR for this? TIA

[2016-01-08 17:46] SleeplessByte commented on #273
@jodosha It was, that's why switching to edge resolved it.

@hlegius I was and I was not. I realised quickly that I had to do `params.valid?` to validate parameters. Right now I just have `Lotus::Validations` in both `model` and `params`. In the documentation `.to_h` is not mentioned, and it should if that is the way to go.

Right now the flow is something along the lines of:

[code]

And this wor

[2016-01-08 18:28] Moratorius commented on #276
Yes.

[2016-01-11 13:43] TheSmartnik commented on #275
@jodosha Hi, sorry not sure we are on the same page. I meant [entity update method](https://github.com/lotus/model/blob/master/lib/lotus/entity.rb#L191-L196), which accepts hash

[2016-01-11 13:57] jodosha commented on #275
@TheSmartnik The goal is to remove soon mutable state for entities. So it's very likely that `Entity#update` will be deprecated/removed in a few months.

[2016-01-11 14:03] #275 closed

[2016-01-11 14:12] TheSmartnik commented on #275
@jodosha Oh, I see. Thanks :smile:

[2016-01-13 16:50] davidpelaez opened #277 "Cannot log raw SQL"
Hi.

I tried finding a way to log the requests being sent to the server but I couldn't find anything related to that in the code. Is there a way to do this that I'm unaware of or this is not currently possible? I saw Sequel has an option but that would mean having direct access to the DB object and I see it's under a couple of layers in the code and I couldn't find a way to reach it simply (which

[2016-01-13 17:13] davidpelaez opened #278 "Raise error when :id isn't defined in a mapping since it's required by the repositories"
If you set a custom field as primary key using the identity method in a collection mapping, the update action on the repository doesn't work because it checks explicitly for the id of the entity. It's defined here:

https://github.com/lotus/model/blob/9801dd781dc107aa0888430b220c0293d3eff258/lib/lotus/repository.rb#L830-L837

[2016-01-13 17:34] davidpelaez commented on #278
I just checked some more and I found that you can make it work using something like `  attribute :id,    Integer, as: :_id`. I'm changing the issue title so that lotus should complain if the :id attribute isn't defined because it's required.

[2016-01-13 19:42] davidpelaez opened #279 "An update action should not include the ID"
If you define an alternate primary key in a mapping with 'identity' this is included in the fields to be updated. Consider this query arriving in an SQL server, it was generated with Lotus model of course:

[code]

A validation in the DB complain that I cannot change the primary key. I would assume it makes sense not to send the primary key to be modified or only send the keys that have changed, e

[2016-01-13 21:07] cllns opened #280 "Show message about including `.load!` after config"
I got this following error, even though I had set both `adapter` and `mapping`
[code]

The problem was that the end of the config block didn't call `.load!`.

It'd be nice if the error handling checked to see if that was the problem, and provided a specific error message in that case!

[2016-01-13 21:35] AlfonsoUceda commented on #280
@cllns thanks for the issue, could you make a PR?

[2016-01-13 21:39] AlfonsoUceda commented on #279
@davidpelaez thanks for the issue, but our goal for lotus v0.7.0 is rewrite lotus model

[2016-01-14 09:52] jodosha commented on #277
@davidpelaez Hey, thanks for asking :+1: It's a missing feature that we want to address. :smile: For now it's not possible unless you fiddle with low level Sequel connection.

[2016-01-14 09:54] jodosha commented on #278
@davidpelaez I understand the problem and how you solved it. What's not clear to me is where, when and how an exception should be raised and under which situation? Can you please clarify? Thank you! :smile:

[2016-01-14 09:58] jodosha commented on #280
@cllns Okay, In our docs we specify a lot of times that `.load!` should be invoked before to use it. See [README](https://github.com/lotus/model/blob/master/README.md). In `lotusrb`, the generated code does it for you.

We're open for an improved error message, unless it requires to change too much the internal code. Thank you very much :smile:

[2016-01-14 10:01] jodosha commented on #279
@davidpelaez I see what you mean. Sorry about this trouble. What @AlfonsoUceda was trying to say is that we have the plan to change the internals of Lotus::Model to make them more solid.

I'm leaving this open, because for the next release this problem should be solved. Thanks for reporting this. :+1:

[2016-01-14 19:17] davidpelaez commented on #279
Thanks @AlfonsoUceda @jodosha for the info. I'll use a small library for the use case using Sequel directly in the meantime. Glad to hear your are improving Model. It's already awesome but I get the benefits of even greater code.  Looking forward to the updates, best of luck and thank your for contributing this to open source. :)

[2016-01-14 19:19] davidpelaez commented on #278
What I mean is that having an `id` attribute is required. So it could be nice to throw an error when a mapping doesn't contain an `id` attribute. Just a edge case of throwing errors to help the user know what she did wrong. In a way I refer to complaining because a requirement as not fulfilled.

[2016-01-14 19:20] davidpelaez commented on #278
Is it clear? I'm glad to clarify if not. :)

[2016-01-14 19:21] davidpelaez commented on #277
Ok. Thanks for replying. Can we leave this opened and include it in a feature release?

[2016-01-15 07:31] Moratorius commented on #276
I've opened a PR to address this issue here: https://github.com/lotus/model/pull/281

[2016-01-15 08:44] jodosha commented on #279
@davidpelaez Why don't stick with Lotus::Model? That would be **extremely helpful** for us.

We want to improve it, but we need real world feedback to understand if the new direction is valid or not. Does it sounds reasonable for you? Take it as a way to contribute to OSS. :wink:

[2016-01-15 08:44] jodosha commented on #278
@davidpelaez Now, it's clear. Thank you :+1:

[2016-01-15 08:45] jodosha commented on #277
@davidpelaez Absolutely :+1: I'm gonna create a special GH label for this purpose.

[2016-01-15 21:10] davidpelaez commented on #279
@jodosha I'll be staying, don't worry about it. It's just that the bug affects my ability to work with a legacy SQL Server that I need to connect to for a project that has to be finished within two o three weeks. But I'll be using it for regular Postgres stuff I do in my company. Will you be launching a prerelease or what would be the best way to provide feedback?

[2016-01-16 13:32] jodosha commented on #279
@davidpelaez We'll open PR for these changes, I'll ping all the people in chat. Are you in there? https://gitter.im/lotus/chat

[2016-01-19 04:39] cllns commented on #280
Closed via #282 !

[2016-01-19 04:39] #280 closed

[2016-01-19 08:44] jodosha commented on #276
Resolved by #281

[2016-01-19 08:44] #276 closed

[2016-01-19 20:48] hlegius opened #284 "Other types of Lotus::Model::Error for some specific adapter exceptions"
Trying out Lotus Model v0.5.2 here, I've found that Lotus::Model::Error missed a more specialized way to deal with Sequel Exceptions.

For example: I need to deal with `Sequel::UniqueConstraintViolation` for any repository I might have. My PK’s are Postgres’ _uuid fields_ which throws that exception if I try to query any data but UUID Format. Something like this:

[code]

In 0.5.2, I will get a ge

[2016-01-19 22:06] joneslee85 commented on #284
@hlegius the implementation allows you to query the original exception raised via `Exception#cause`:

[code]

it is a bit awkward but works for now

[2016-01-20 05:49] joneslee85 commented on #284
cc @jodosha

[2016-01-20 07:12] cllns opened #285 "Better error for 'deadlock; recursive locking' - Memory Adapter"
A week ago or so I came across a problem where, inside a `query` block, I called another method which called `query`, using the `memory_adapter`. I got this error:

[code]

This is because [`query`](https://github.com/lotus/model/blob/master/lib/lotus/model/adapters/memory_adapter.rb#L125) uses a mutex to `synchronize` the query, so it can't recursively call another `query`.

I fixed it by storing

[2016-01-20 16:34] hlegius commented on #284
I see, thanks for quick replay! Yep, it works, but we'll need to always `rescue` and use `error.cause`. I've got into a case when I'd declare what Exception to expect, i.e:

[code]

Maybe it worth to add more Lotus Exceptions someday later, IMO.

[2016-01-29 14:15] jodosha commented on #284
@hlegius This is a good catch. I made a mistake by suggesting to @Moratorius to unify all the errors raised by Sequel into a generic `Lotus::Model::Error`. See https://github.com/hanami/model/pull/281

This doesn't allow to rescue from specific and precious Sequel exceptions like unique constraint violations. With this change there is no way to handle record uniqueness. My apologize to @Moratorius

[2016-01-29 14:21] hlegius commented on #284
I can take care of it, @jodosha o/

[2016-01-29 14:35] jodosha commented on #285
@cllns Do you have a concrete example to reproduce the problem?

[2016-01-29 17:41] cllns commented on #285
Here you go @jodosha!
https://gist.github.com/cllns/f8726cbd71b78d1ae5b6

Looking at `by_most_recent_comment_working` and `by_most_recent_comment_broken`, you should be able to see what I was talking about above :)

[2016-01-30 18:58] bolshakov opened #287 "Trying to find using unexpected type"
I have a JSON API with primary keys of all entities of Postgres UUID type. Users search a lot by ids, and the problem happens when user occasionally enter random string instead of proper UUID.

[code]

I'd rather expect this request returns just `nil`, instead of type error. I think controlling such type of things is pretty verbose and annoying.

[2016-01-30 22:41] hlegius commented on #287
Hello!

I think there are two concepts here. One is _not found_ a record by given a valid/expected type; In the other hand, there are cases when your client tries to request some data from the API with an `invalid type`.

If I request a record like:

`BooksRepository.find(1234)` and my _expected type_ is an Integer, I should respond `nil` if there is non-existing records for `1234` id.

if I try t

[2016-02-01 08:25] bolshakov commented on #287
I understand that, it is may be counterintuitive to suppress such errors.  That how behaves ActiveRecord in the same case:

[code]

But it performs convention string to UUID and returns nil value. Here is the generated SQL:

[code]

Hanami in some cases performs conversation too. For example if I have integer primary keys, it is possible to successfully  perform both queries:

* `BooksRepository.f

[2016-02-01 09:28] jodosha commented on #287
Let's start from the beginning. What PG does if I try to run that query?

[code]

This is the reason why Model raises a `Hanami::Model::InvalidQueryError: PG::InvalidTextRepresentation` exception.

---

That's true that we accept both string and integer representations for ID, when they are stored as an integer in the database too.

Now, this isn't Model, but Ruby.

We send SQL queries as strings

[2016-02-01 09:30] jodosha commented on #287
I forgot to mention that the example reported by @bolshakov is useful for testing purposes. If I want to assert that my endpoint returns a `404` for an unknown ID, I'd test with `GET /books/unknown` and it's _"natural"_ to expect a `404`, not a `500`.

Getting back to the lower level where Model belongs. To make this example to work, a repository should return `nil`, instead of raise an error.`

[2016-02-02 13:46] kirantpatil commented on #35
Sir, Any updates on this issue ?

[2016-02-02 14:26] jodosha opened #290 "Expose repositories instance methods instead of class methods"
## Actual

We use class methods from repositories. For instance `BookRepository.find`. This approach has a couple of pitfalls:

  * We are forced to assign a class level adapter (`BookRepository.adapter = adapter`) before the application starts. We should reduce as much as possible global state.

  * Class methods resist refactoring

  * Dependency injection should work with instances. Having repo

[2016-02-02 14:41] pascalbetz commented on #290
@jodosha

I think this is a very good change! Class methods almost always lead to trouble and bad design.
I can give it a try.

[2016-02-02 15:10] hlegius commented on #290
It will be a good and welcome improvement in an OOD perspective. :ok_hand:

[2016-02-02 16:09] jodosha opened #291 "Make repositories to work with data"
## Actual

Right now we only accept entities as input for repositories default CRUD operations. This often leads to awkward and unnecessary objects allocations.

[code]

That intermediate line is unnecessary. We should adopt the _"data in, entities out"_ principle.
## Proposal

Default CRUD operations should accept any object that respond to `#to_hash`.

[code]

To maintain backward compatibility

[2016-02-02 16:37] jodosha opened #292 "SQL Automapping"
## Actual

In order to add an attribute to an entity, we need to:
- add the database column via a migration
- add the attribute to the entity (via `.attributes`)
- map the database column with the corresponding attribute

While this is a powerful approach, it's really frustrating to deal with it.
## Proposal

Eliminate the need of mapping database columns to entities attributes.

This is an unnece

[2016-02-02 17:05] jodosha opened #293 "Introduce Hanami::Query and Hanami::Command"
**Please note that this is a proposal that needs to be refined.**

**Query and Command are NOT mandatory, but an OPTIONAL tool to express domain concepts with objects**.

---

Complex database operations can make the implementation of a repository really complex. This is true when multiple database tables are involved.

Sometimes we want to express a domain concept with an object, instead of a met

[2016-02-02 17:09] hlegius commented on #292
Good points! I am struggling with lots of domain/infra mapping right now.

By removing database <-> entity mapping could be a great :+1:, but IMO, we need to be careful in _how much magic_ we'll create here. Giving the coerce decision up to developer is _essential_ to build complex entities. By complex, I mean, BigDecimal, UUID, and even user defined types.

I don't think it would be a good idea r

[2016-02-02 17:18] jodosha opened #294 "Make entities immutable"
**Please note that this is a proposal. We want to discuss first and evaluate if this will be implemented and included in the next release.**

---

Mutable state is known to be difficult to handle and dangerous for concurrency.

This is a proposal to remove the following features from `Hanami::Entity`:
- Setters
- `#update`
- `Hanami::Entity::DirtyTracking`

Besides to these changes, we should prob

[2016-02-02 17:21] jodosha commented on #292
@hlegius

Do you mean to remove the mapper? Nope, that's not my intention. We still need be able to target schema-less databases.

[2016-02-02 17:24] jodosha commented on #292
For the record, I've implemented this feature with a code spike, by using ROM. Please check [this Gist](https://gist.github.com/jodosha/c893b5130664fd26e86d). I'm not sure if it still works. :wink:

[2016-02-02 17:31] solnic commented on #292
It makes sense to infer 'entities' from schema definition to avoid info duplication and have an option to define entities explicitly when query results no longer return data representation that matches the canonical schema.

[2016-02-02 17:41] davydovanton commented on #294
I liked this :+1:
`update` method looks much better

[2016-02-02 18:36] booch commented on #294
:+1: You guys seem to be headed in the same direction I'm wanting to go.

If mutability is found to be needed in some corner case, it should be opt-in. Or even better, have a copy/dup method that takes a hash of which attributes to change in the new copy.

[2016-02-02 18:39] booch commented on #291
I hadn't considered the "data in, entities out" idea, but it looks like a good idea. Given that we can still use an entity as input, I don't see the harm in the proposed change.

[2016-02-02 18:49] booch commented on #292
I'm strongly in favor of alternative 2. One of my biggest frustrations with ActiveRecord is having to look in 2 separate places for all the details for an entity. Having the associations defined in the model and the other attributes defined in the schema drives me nuts. If you define them all in the entity/model, you could always create schema and schema migrations from that. The repository could

[2016-02-02 18:57] booch commented on #293
It's not clear where `users` is coming from in the first example. When you say "Tables should be avaliable with their name as private methods", are you suggesting that the `UsersOnTrial` in the example would define `users` as a private method? If so, show that in the example to clarify.

Would a `Command` be similar to a `Query`? (Like for creating/updating?) If not, it'd probably be better to put

[2016-02-02 19:32] cllns commented on #292
I prefer **2**. It would sort of be like having [`annotate_models`](https://github.com/ctran/annotate_models) for the entity's attributes. Plus it's actual code, instead of generated comments.

For Repository: `BookRepository`, `BooksRepository`, or even just `Books` are all fine by me (though `Books` v `Book` could be confusing.)

Would coercions would be moved from `hanami/validations` to `hanam

[2016-02-02 19:41] davydovanton commented on #292
I also prever second alternative :+1:

[2016-02-02 19:44] solnic commented on #292
The only reason to have this kind of API is convenience in the early days of a project. Your entities are not definitions of your tables, they are definitions of your domain objects. For convenience you can infer their definitions from the schema when they match, but it won't last for long in every non-trivial project (although I'm 99% sure even in simple projects schema and domain objects will di

[2016-02-02 19:50] solnic commented on #294
I'm so happy to this proposal! :+1: * 1000

[2016-02-02 20:02] hlegius commented on #292
:+1:

@solnic

So, you are agreed in **alternative 2**, but in your exp, `attribute :foo` not necessarily will be mapped to a row called `foo` in database' table. So, are your suggestion downs to have Entities detached from any knowledge from persistence layer, mapping could be defined somewhere later by a proper class?

[2016-02-02 20:15] pascalbetz commented on #292
:+1: for alternative 2

given that hanami wants to support a multitude of databases this makes also sense, as not all databases will provide the possibility to reflect on data types.

providing a convenience mechanism would be nice though.

[2016-02-02 20:17] solnic commented on #292
It seems like I don't like either of the options, now that I think about it. I think an explicit schema should be defined (I'm working on this for rom already) because it's the canonical source of information about your db tables and you can infer migrations from that *as well as basic canonical models* that match db schema *for early-stage project convenience*. You can also define "associations"

[2016-02-02 20:40] jodosha commented on #293
@booch

Sorry for the misunderstanding.

If you have 3 tables in your database:

  * `users`
  * `products`
  * `orders`

Then you'll have three methods available as private methods in any object that include `Hanami::Query` and `Hanami::Command`.

[2016-02-02 20:47] jodosha commented on #292
@solnic

Do you mean have a "master schema/types definition" that can be represented as a database migration and entity coercions?

Is this approach similar to "Alternative 1"? Is the attribute entities definition implicit in this case?

I'm confused by this one :smile:

That's the goal here as well.

[2016-02-02 20:48] jodosha commented on #292
@solnic One last question about ROM :smile: How does it works with schema-less databases?

[2016-02-02 20:55] pascalbetz commented on #294
Useful for:

* audit trails
* user guidance (i.e. please change your password)
* performance (don't trigger update statement when there is no change)

Which can of course all be done without dirty tracking from entities. But might be more complex.

[2016-02-02 20:56] pascalbetz commented on #294
But i like the idea:-)

[2016-02-02 21:03] solnic commented on #292
I think an explicit schema should be defined (I'm working on this for rom

no, I’m talking about an explicit database schema definition. It does not
have any information about entities or some high-level types, these should
be defined in entities.

Sort-of. You can infer models from schema but personally I don’t see any
reason for defining my own classes. I treat these objects as pure data
objects

[2016-02-02 21:09] solnic commented on #292
It just works. You persist whatever you want and make a mess in your database :joy:

Seriously though - that's why I'm introducing explicit `schema` dsl in relations, to have a place to specify the structures you're gonna work with.

[2016-02-02 22:14] jodosha commented on #294
@pascalbetz

Can you please expand these examples? Maybe with some pseudocode. Thank you! :smile:

[2016-02-02 23:17] joneslee85 commented on #290
Will you consider keep class method as transitional interface for backward-comparability for one or two releases before killing them off completely?

[2016-02-03 01:56] joneslee85 commented on #294
:100: on this proposal

[2016-02-03 02:01] joneslee85 commented on #291
Seems a safe change to me.

What's data?

What type of hash should  `to_hash` return? A string vs symbol key hash?

[2016-02-03 04:24] joneslee85 commented on #35
@kirantpatil we are in the cycle of improving model so please stay tuned.

[2016-02-03 05:01] schrockwell commented on #292
I disagree. What matters most to me is long-term readability and maintainability, as opposed to saving a few keystrokes creating an MVP.

After reading the other proposals for 0.7.0, it seems like entities are trending towards lightweight, immutable objects. This entire proposal seems to contradict that mentality. If you want to go fully "data in, entity out", then entities should be simple PORO o

[2016-02-03 05:47] accuser commented on #292
I think that the mapping configuration (as it stands right now) adds an unnecessary complexity, and I would prefer to define an entity on the basis of the attributes I expect it to have (as a PORO). The associated repository should be concerned about the persistence of entities, and how they map to an underlying table / document / JSON object of a remote service. I would never expect an entity to

[2016-02-03 06:09] pascalbetz commented on #290
I would prefer to have a clean cut. Less confusion.

[2016-02-03 06:13] pascalbetz commented on #294
@jodosha

Audit Trails: with Rails dirty tracking it is easy to find what attributes have changed and store in a way such that one reconstruct the changes later on (who did what when on what model)

If you ask a user to change his password, then you need to know the old and the new password. In Rails it is, due to dirty tracking, just ```password_changed?```

[2016-02-03 06:17] pascalbetz commented on #292
@schrockwell

Re Reusability: reusing such tiny bits of code (author, copyright) will hurt readability by saving some lines of code, i would not consider this an advantage.

[2016-02-03 06:55] accuser commented on #294
Assuming that the repository is already going to be filtering out unchanged attributes when performing updates, this is an ideal place to perform audits or provide mechanisms to support this easily (`after :update, :log_update` anyone?)

[2016-02-03 06:55] pascalbetz commented on #290
@jodosha

I read through the source code. Repository has ```adapter``` and ```collection``` injected through ```Collection._configure_repository!```.

How would the repository get hold of those when not static anymore? Constructor? Lookup?

[2016-02-03 07:35] pascalbetz commented on #294
@accuser

How would the repository do this without an additional select? (I have to admit that this is required in rails as well (because entities are persisted, not hashes))

[2016-02-03 07:46] joneslee85 commented on #292
I am not a big fan of alternative 1 approach, it is like AR.

Having the entity to implicit handle coercion/validation turns entity complex than needed.  I'd prefer to keep it as is. I am thinking if we need a third alternative, that is to let our generator handle all mapping.

[2016-02-03 08:17] jodosha commented on #290
@joneslee85

We're introducing breaking changes with the next milestone. It's probably better to ship all of them at once. So developers will know that this release will change how they work with data layer.

[2016-02-03 08:19] jodosha commented on #290
@pascalbetz I'd like to introduce small steps. For now, just leave everything as it is, just make CRUD interface available at the instance level.

We can't make that kind of decisions now, without considering the outcome of #292

[2016-02-03 08:21] pascalbetz commented on #292
In general: i think the new solution should not be driven by the goal of reducing lines of code, ease of use for beginner developers or simple applications.

The solution should be consistent, extensible, future proof. And if we can simplify the code by some convenience methods/helpers/tools (automapper, generators) then that is fine for me.

@solnic can you give a quick summary of the layers/comp

[2016-02-03 08:23] pascalbetz commented on #290
@jodosha ok, this is what i went with.

This is what I did:
Move the current class methods to instance methods. Make accessors for ```adapter``` and ```collection``` at the instance level that forward to the class level.

What do you think?

[2016-02-03 08:24] jodosha commented on #290
@pascalbetz That's what we needed!

[2016-02-03 08:26] jodosha commented on #292
I forgot to mention a few issues that we should solve when implementing this:

  * Respect database default values (#237)
  * Booleans can't be dumped in repository (#272)
  * Empty values can't be coerced (#273)
  * Raise error when :id isn't defined in a mapping since it's required by the repositories (#278)
  * An update action should not include the ID (#279)

To me, they all expose the limit

[2016-02-03 08:30] Bounga commented on #287
@jodosha :+1: I agree it should be consistent.

That's what I would do too, you shouldn't get a `500` because ID is "invalid". Repository should handle this for us since it's a pretty common case.

[2016-02-03 09:07] Bounga commented on #290
I understand the benefits in regards with Hanami code maintainability but for the end-user it's a bit cumbersome to call `BookRepository.new.find(1)`. He won't see any immediate benefit when using it.

Maybe we could have convenience class methods that wrap it?

`BookRepository.find(1)` => `BookRepository.new.find(1)`

As a programmer it's awkward to think that I have to instantiate an object when

[2016-02-03 09:10] Titinux commented on #292
I don't want to offend anyone but why not use rom directly ? Let hanami be the frame of the house and use rock solid project inside (rom, dry-validation, trailblazer, ...) Let's put efforts in one common goal and why not one day we may eclipse the good old Rails. :triumph:     :sweat_smile:

[2016-02-03 09:11] accuser commented on #294
@pascalbetz good point, I misread the examples. :weary:

[2016-02-03 09:21] accuser commented on #294
Before making any decision, it would be pertinent to decide what an entity actually represents. If an entity is immutable, it is, in effect, a representation of the current state of the persisted record. In order to affect any change, we need to modify the underlying record first, and then reload the entity.

If, on the other hand, an entity is mutable, it represents the intended state of the reco

[2016-02-03 09:39] accuser commented on #294
Here is a classic User entity with a secure password:

[code]

This differs from Rails' `has_secure_password` in that the process-specific logic for authentication is removed. I would argue that the transformation of a plaintext password into a digest is entity-specific logic.

With an immutable entity, this becomes impossible. Therefore I have to encrypt the password outside of the entity and ens

[2016-02-03 10:10] Bounga commented on #294
I don't understand how we can be aware of what changed with this solution. At least, I can see any simple solution. Tracking attributes changes is a must have. I often need it in my apps to log changes to be able to reconstruct the history of objects.

How would you do this with the new proposal?

[2016-02-03 10:13] solnic commented on #292
Here's how it works in ROM (not everything is released yet though):

- relations define their schemas as the canonical source of information about data structures stored in the database, this includes names of attributes and their database types, ie we have `SQL::Types::JSON` etc. so when you're persisting data, values are being properly coerced
- relations can project data however you want, which

[2016-02-03 10:20] Bounga commented on #291
It look really good to me :+1:

It's a huge step forward in term of flexibility.

@joneslee85 I'd like to be able to use both. I think it's simple to handle.

[2016-02-03 10:27] pascalbetz commented on #292
@solnic thanks.
@Titinux there still needs to be some "glue" between hanami and rom. So if "backend" is switched to rom instead of something homegrown (as currently discussed) it is still up to the framework how rom is configured and what the exact interface looks like.
But I'm with you on "reuse" when there is a good fit.

[2016-02-03 10:29] solnic commented on #292
I believe many people in Hanami community have different expectations when it comes to the database/model part of the framework. ROM has a different philosophy and doesn't have common features like "saving entities" or handling mutable state. ROM's repositories are not typical ORM-like repositories with abstract query interfaces and swappable adapters. I ditched these concepts to simplify the libr

[2016-02-03 11:01] pascalbetz commented on #290
@Bounga

It kind of defeats the purpose. When we want to get rid of class level configuration, then we can not provide class level access. First step is to only remove class level access to repo operations but keep the class level config. So during that time it would still be possible. But i'd rather have people switch how they use repositories sooner than later.

A programmer should understand wh

[2016-02-03 11:14] solnic commented on #294
You want a changeset concept, like in Elixir's Ecto. You can achieve all the functionality that you want without having mutable entities.

The example with password encryption is a classic example of mixing responsibilities. Your users don't have passwords, they have encrypted password digests. Making them responsible for encryption clutters their interface. You only want to do the encryption when

[2016-02-03 11:46] #284 closed

[2016-02-03 12:20] pascalbetz commented on #294
@Bounga

You can compare two entities to check for the diff. It is what Rails does, only there the "previous" and "current" state is in the same entity.

@Solnic I agree. That would be a nice "side-effect" of read only. If they are read-only then they are also dumb. All business logic would then live in services or whatever. Having a custom type for passwords is interesting but not sure of it woul

[2016-02-03 13:39] solnic commented on #294
Yes, having pure data objects in your system as [the boundaries](https://www.youtube.com/watch?v=yTkzNHF6rMs) is *awesome*. That's how I've been using ROM and it's a great approach.

Uhm, sorry I didn't explain this properly. I meant a custom data type *constructor*, the primitive is still a string, but the constructor coerces input into a digest. This is what I'm doing with dry-data types, and it

[2016-02-03 13:41] accuser commented on #294
@solnic that make sense - thanks for taking the time to explain the pure data approach. I guess there are still some railsism to shake out of me... ;-)

[2016-02-03 13:41] hlegius commented on #294
I think that's the most challenging part of all these proposals.

When @jodosha came with his ideas, my first thought was [Use Case driven design](http://www.amazon.com/Object-Oriented-Software-Engineering-Approach/dp/0201544350) (Hexagonal Architectural, whatever). There, biz-rules 'lives' inside Interactors and Use Cases (a.k.a Application Services) deals with requests (Controllers, for example)

[2016-02-03 14:41] hlegius commented on #287
@jodosha I am working with these specific errors (see #284). If we will keep the consistence by returning `nil` here, I can deal with this one as well. o/

[2016-02-03 21:15] pascalbetz commented on #290
@jodosha @joneslee85 @AlfonsoUceda and of course everybody else: Feedback welcome: https://github.com/hanami/model/pull/299

[2016-02-04 01:08] jxxcarlson commented on #293
This seems like an excellent idea to me.  It is clear, powerful, but nevertheless not magical.

[2016-02-04 22:33] booch commented on #293
@jodosha I'm kinda scared of the magic of the tables just appearing as private methods. If I'm reading some code like your example, I'm not going to have any easy way to figure out where those methods are coming from.

And what about conflicts with other methods I might write?

[2016-02-05 06:29] pascalbetz commented on #290
@joneslee85 updated.

[2016-02-05 06:42] pascalbetz commented on #293
@jodosha
IMHO providing access to those tables automatically (by table name?, mapped name?) might lead to trouble:

* conflicts
* naming conventions/ugly names (unless there is some mapping taking place) especially for legacy DBs
* debugging (where does it come from, what else is available?)
*

[2016-02-05 21:05] solnic commented on #294
@hlegius what kind of concepts should be introduced? here it's a simple question: do you want to model your domain using mutable objects, or not? :)

[2016-02-09 00:41] hlegius commented on #294
@solnic

Concepts like [CQRS](http://martinfowler.com/bliki/CQRS.html) and how they collaborate between each other and with external (inner/outer) layers. Those patterns and architecture should be well developed/connected into the framework, otherwise, people won't have a reason to adopt.

IMO, both mutability and immutability have its uses, pros and cons.
I am not convinced yet that having a doma

[2016-02-09 19:42] hlegius commented on #294
@jodosha If you don't mind, I'd like to exercise a bit:

The idea is to turn Entities Immutable and allow [Repositories to work with Hashes](https://github.com/hanami/model/issues/291). So, if I need to update a record after some biz-rules got applied, will I need to extract the diff between I've fetch from database (as Entity) and what I've changed, like this:

[code]

Or, I will only use Entitie

[2016-02-11 15:48] jodosha commented on #291
@joneslee85

This is an excellent question that opens a new, huge topic. Please keep in mind that most of the times data means a Hash that is coming from a Rack env.

Here's the status of symbol vs string per MRI version.

### MRI 2.0, 2.1

#### Symbol

  * Immutable: VM efficient
  * Non GC'd: security threats

#### String

  * Mutable: less efficient
  * GC'd: no security threats

Until we suppo

[2016-02-11 16:24] jodosha commented on #292
@Titinux

No offence at all. :smile: As @solnic said, it's just a matter of setting expectations for the Hanami Community. We are a good Rails alternative also because we offer a full stack framework with consistency across the layers.

Removing the M in MVC can make things harder for adoption and put Hanami in a position where we can't decide how the business logic should be organized in a projec

[2016-02-11 16:28] jodosha commented on #290
@Bounga

This would have two negative effects, it will **double** the public API and nobody will use the instance level methods, because nobody force them to do so.

[2016-02-11 16:35] jodosha commented on #293
@booch @pascalbetz In understand the method conflicts issue. We have a similar issue for views that we solved easily. All the [exposed data](http://hanamirb.org/guides/actions/exposures/) is available as methods in views. In case of conflicts you can access the exposed value with `locals[:book]` instead of `#book`.

In case of conflicts in Command/Query we can think of a method like `relation(:boo

[2016-02-11 16:42] jodosha commented on #294
@accuser What about this?

[code]

[2016-02-11 16:56] jodosha commented on #294
@hlegius Why you would go for that first example while the second works better?
What I would do is:

[code]

It accepts the identifier and the data and returns a new Book instance with the updated data.

---

The example above is a "coarse grained" example where we're able to update all the data. Let's imagine how we can just update the version:

[code]

Similar to the one above. That method accep

[2016-02-11 17:24] accuser commented on #294
@jodosha I actually prefer the `PasswordCoercer` above (I might have got the base class wrong though) as the concern is completely removed from the entity, and is reusable.

I am aware that `BCrypt::Password.new` has a very real cost associated with it, and the cumulative impact of coercing a password attribute in this way should be mitigated. I realise the your suggested approach does this, but t

[2016-02-11 19:25] pascalbetz commented on #293
@jodosha

I'd just not add "magical" methods to the C/Q. A lookup method like ```relation(:books)``` or similar would be better IMHO.

* You can produce better errors ("there is no relation called 'books', available relations are  X, Y, Z" vs. "NoMethodError: books"
* It is clear what the "reserved keywords" are (```relations```) vs. a unlimited (theoretically, at least) list of relations
* When r

[2016-02-11 19:28] hlegius commented on #294
@jodosha this approach drives us to something more functional. There is no Object concept there. Just function calls over some data. I am afraid in lost OOD 'power' with immutability.

Here is what I am thinking about for a while:

**1 - Mutability** dependency on the Repository: can't detach biz-logic from repository because all entities are immutable. All mutable actions are just repository meth

[2016-02-11 20:43] hlegius commented on #293
@pascalbetz agreed :+1:

[2016-02-12 00:22] solnic commented on #294
"Object concept" can be anything, an object that doesn't mutate is still an object, an object that performs some work based on data it received is still an object. It is more functional but it's still OO. I can also guarantee you that with this type of objects encapsulation and reusability is actually *better* than with the "classic" approach of mixing data and behavior. I've been doing this for a

[2016-02-12 01:14] joneslee85 commented on #291
@jodosha :+1: on detailed explanation. If I were to cast a vote, I would go for *Symbol only* for the sake of consistency with other components. It helps transition to String (if we decided to adopt it when Ruby 2.x are all dead).

[2016-02-12 01:23] hlegius commented on #294
@solnic

It's hard to me to see more pros than cons with this approach in a lang like Ruby. I was wondering how can I describe a concept/idea keeping data + behaviour. This approach remembers old Services objects: class methods whom receive scalar structures, perform something and return something else instead of passing messages through objects and its collaborators.

When dealing with OO, I real

[2016-02-12 07:29] accuser commented on #293
@booch @pascalbetz whilst I might not be correct, this is how I understood @jodosha initial comment on `users` and other dependencies being private methods:

[code]

No magic there. ;-)

[2016-02-12 08:36] jodosha commented on #291
@joneslee85 Me too.

[2016-02-12 08:44] pascalbetz commented on #293
@accuser not sure about that because @jodosha talks about conflicts and in this comment https://github.com/hanami/model/issues/293#issuecomment-178809603 about methods that are available.

[2016-02-12 08:45] jodosha commented on #294
@hlegius

This isn't our goal. I started this discussion because we can improve the quality of software and speed with these changes. Of course, this does NOT means we're going to implement it, we're still evaluating this decision.

[2016-02-12 08:47] pascalbetz commented on #294
it should not be about making the framework simpler but the code that uses the framework.

[2016-02-12 08:54] jodosha commented on #293
@accuser @pascalbetz Yes, that DI injection wasn't in my mind, however it could be a good starting point.

What about this?

[code]

That `Hanami::Model::Context` is invented and doesn't exist yet. It's just an object that holds the references to all the collections. Please note that it responds to `#[]`, like `Hash`. This can be useful for testing purposes, where we may want to pass a fake collec

[2016-02-12 08:56] accuser commented on #293
@jodosha much better :smile:

[2016-02-12 08:56] jodosha commented on #293
@accuser The idea of injecting a single repository is nice and eliminates the need of having `Hanami::Query` at all.

However, this approach doesn't solve the problem of referencing multiple collections (eg for SQL JOINs). Sure, you can inject many repositories, but that becomes too verbose.

[2016-02-12 08:58] jodosha commented on #294
Okay, to be clear when I say the quality of software, I'm talking about projects using Hanami, not Hanami::Model internals :wink:

[2016-02-12 09:07] pascalbetz commented on #293
@jodosha i like the idea of injecting "a context". Are there any other dependencies that need to be injected?

[2016-02-12 09:16] jodosha commented on #293
@pascalbetz Nope, as far I can see.

[2016-02-12 09:24] Nerian commented on #294
I wonder, are these two options mutually exclusive? I mean, can we implement both strategies in Hanami and let the user decide which one to use in a case by case?

I am thinking that the user could simply include one module or another, and it sets the entity as mutable or inmutable.

This way the developer makes the decision, for its specific project, that he knows much better than we do and there

[2016-02-12 09:29] jodosha commented on #294
@Nerian That could be another option. In that case, I'd introduce `Hanami::Value` and leave entity as it is.

[2016-02-12 09:31] pascalbetz commented on #294
@Nerian i think that would be confusing as these alternatives are really different. Every sample code, tutorial, test, answer in the forum would need to specify what type of entities it is. Besides maintaining those two different aspects could be complicated.

[2016-02-12 09:46] accuser commented on #294
@pascalbetz :+1:

`Hanami::Model` is optional: I can remove it as a dependency, and replace it with any number of alternatives. This is a Good Thing. As a developer using Rails, I had abandoned ActiveRecord in favour of [Mongoid](http://mongoid.org). I was able to do this because ActiveRecord was optional, and the Rails developers had gone out of their way to ensure this was the case. The Hanami d

[2016-02-12 11:17] solnic commented on #294
I believe it's a decision that will have serious consequences wrt development effort that will go into Hanami::Model. Managing mutable state of entities is going to complicate Hanami::Model significantly and it's gonna take you literally years to get it right. The worse part is that you will never get it 100% right to make it work for all possible use cases, thus simpler, lower level interfaces wi

[2016-02-12 16:58] Titinux commented on #292
That make sense. Hanami is versatile enough to have a solid, simple and complete base and for more complexes senarii we can replace whatever part we want.

[2016-02-19 05:48] booch commented on #291
Small correction to @jodosha's description of symbols versus strings: MRI 2.2 introduced garbage collection of symbols. See http://www.infoq.com/news/2014/12/ruby-2.2.0-released for more details.

[2016-02-19 05:52] booch commented on #291
I vote for symbol-only hash keys. That seems to be the preference in most situations in Ruby, especially given the Ruby 1.9+ JavaScript-style `key: value` syntax.

[2016-02-19 06:02] booch commented on #293
I like the suggested explicit `collection(:users)`. (I don't care so much about the name `collection` --- you could pick any of a variety of other names.) Looks good.

[2016-02-19 07:31] #287 closed

[2016-02-19 08:37] jodosha commented on #291
@booch Thanks for let me know. It was a copy and paste mistake :smile: Thanks for expressing your opinion, we appreciate it :+1:

[2016-02-19 08:48] pascalbetz commented on #293
update: i started working on something. but some days of skying will give it a delay:-)

[2016-02-28 22:00] AlfonsoUceda commented on #290
closing because of #299

[2016-02-28 22:00] #290 closed

[2016-02-29 12:59] jbodah commented on #292
Would just like to add that we've been using data mapper to map data from multiple databases (Cassandra, Redis, Postgres) into entities of the same type, which is a huge plus of the data mapper pattern in our eyes. Entities wind up being composed from data from multiple repositories (or a composite repository). While this is an entirely separate beast, it's something to consider.

On that note, I'

[2016-03-02 13:44] jxxcarlson commented on #292
Let me also say that having a data mapper available has been crucial for my work.

[2016-03-02 13:50] jxxcarlson commented on #292
With alternative 2, how do we do database mapping?  In the project I am working on I have legacy data and new data.  Having a mapper has been a godsend.  Will this functionality be preserved in some form for those who need it?  Sorry that I am late to the discussion and don't fully understand the issues.

[2016-03-02 13:51] solnic commented on #292
I don't think anybody tries to say that data mappers are not useful, I'm just saying that having to manually define mappers all the time is a PITA, and that's one of the biggest problems that we managed to solve in ROM. You can compose data from multiple dbs without the need to define mappers explicitly.

[2016-03-03 08:57] jodosha commented on #292
@jxxcarlson This is the point :point_up:

[2016-03-03 11:39] solnic commented on #292
Something I've been trying to explain is that most databases support pretty advanced data mapping features, so first of all - use that. In many, many cases you can retrieve data structures from the databases without the need to do anything special in Ruby, except instantiating objects by passing these data structures to the constructors.

In cases where you need to do mapping in memory - you shoul

[2016-03-03 23:50] gingenhagen commented on #292
Why does the magic have to happen in the Model?  Why not put the magic in the mappings?  Something like this...

[code]

If you're starting out, you probably want to start with the automatic mapping as the default, and then define exceptions until you hit the tipping point, when you go back to the old explicit mappings.

As for having to add the attributes to the Model, I don't really see an issue

[2016-03-07 14:40] jodosha commented on #293
Quick update: me and @pascalbetz just had a video call to touch base about the progress. He's doing a really good job. We should have a PR soon.

[2016-03-07 15:01] accuser commented on #293
@jodosha @pascalbetz awesome! :+1:

[2016-03-09 21:53] accuser opened #306 "Inherited entities not exposing base attributes"
From the documentation:

[code]

I'm expecting all the attributes (including inherited) to be available via `#attributes` and `#to_h`.

[2016-03-10 13:12] jodosha commented on #306
@accuser Thanks for reporting this problem.
@hlegius This is something that you should take in account while working on #292 Thanks! :+1:

[2016-03-10 14:27] hlegius commented on #306
@jodosha sure. My pleasure :tophat:

[2016-03-29 19:00] cllns opened #309 "Question mark methods for attributes"
While developing a program that uses `Hanami::Entity`, I expected I'd have access to [a question mark method](http://api.rubyonrails.org/v4.1/classes/ActiveRecord/Base.html#class-ActiveRecord::Base-label-Attribute+query+methods), which returns whether an attribute is truthy.

For example:
[code]

It'd use meta-programming to define those question mark methods for each attribute.

In my opinion,`bo

[2016-04-01 07:55] jodosha commented on #309
@cllns For each added attribute, we increase the interface of that object of two methods: a getter and a setter. This would add a third method, that isn't always needed.

So, if you have 5 attributes, you have 5 question mark methods. It's the case that you want to just check 1 or 2, not all of them.

---

If a developer needs this method, they can add it:

[code]

I'd resist for now to add a Publ

[2016-04-01 07:55] #309 closed

[2016-04-01 17:14] cllns commented on #309
Sounds good.

@hlegius made a great point that it encourages violating "Tell, Don't Ask".

[2016-04-07 19:30] solnic commented on #291
This will be supported in the next release of rom-repository. Here's a preview: https://gist.github.com/solnic/b369420c32b1432f6d239db470dbd2d3

Re symbol-vs-strings - of course symbols-only. Indifferent access is such a smell...it's not even funny. Input from http requests should be properly coerced, lower layers shouldn't even know that there's such a thing as params hash with string keys.

[2016-04-15 12:36] jodosha commented on #257
Closing this issue. Read more at: https://github.com/hanami/model/pull/312#issuecomment-210447550

[2016-04-15 12:36] #257 closed

[2016-05-24 20:08] vyper opened #314 "Wrong example adapter use"
In https://github.com/hanami/model#adapter we have an example but I received an error!

# Definitions
[code]

# Consume
[code]

# Using adapter directly work
[code]

[2016-05-24 20:15] vyper commented on #314
It's necessary add also:

[code]

[2016-05-24 20:16] #314 closed

[2016-05-31 19:54] cllns commented on #306
@fteem `hanami-model` is currently being reworked by @jodosha to be based on [`rom`](https://github.com/rom-rb/rom).
You can see work here: https://github.com/hanami/model/tree/new-engine

This issue should be fixed by that effort. (If it's not, it'll need to be fixed in the new code, not this current existing code)

[2016-06-01 12:38] jodosha commented on #306
I manually merged this PR to fix the problem https://github.com/hanami/model/pull/316

The fork is: https://github.com/gramo-org/model and `fix_inherited_attributes` is the branch.

[2016-06-01 12:38] #306 closed

[2016-06-01 18:40] anatol opened #318 "'model' depends on unreleased 'hanami-utils ~> 0.8' gem"
Dependency `hanami-utils ~> 0.8` cannot be satisfied as rubygems.org does not know about such version. The last released gem is 0.7.2 https://rubygems.org/gems/hanami-utils

[2016-06-01 19:10] jodosha commented on #318
@anatol Thanks for reporting this. It's a mistake of mine 😞 . Today I released `0.7.2` with the wrong dependency.

A new release is on the way.

[2016-06-01 19:35] jodosha commented on #318
Released a new version https://rubygems.org/gems/hanami-model/versions/0.6.2.1

[2016-06-01 19:35] #318 closed

[2016-06-02 20:00] mereghost opened #319 "Includes that extend the objects"
Hi there,

I was mucking around the code and got glimpse of a certain "rail-ism" on [repository.rb](https://github.com/hanami/model/blob/master/lib/hanami/repository.rb#L132).

The whole `include InstanceMethods` and `extend ClassMethods` have been somewhat abandoned even in Rails (that started the practice) since it was considered harmful. Josh Cheek makes the point way better than I'll ever be a

[2016-06-03 15:17] vasspilka opened #320 "problems when user creates hanami app with - in name"
I noticed that if someone creates an app with an - in the name, for example, `hanami new my-hanami-app`.
It will create an app in the following folder `my-hanami-app` as expected.

This results to the following problems however. When someone wants to generate a model for example
with `hanami g model user` it will look at the project folder name and then will create the model in `lib/my-hanami-app`

[2016-06-03 15:18] vasspilka commented on #320
Actually this should be on https://github.com/hanami/hanami/issues closing..

[2016-06-03 15:18] #320 closed

[2016-06-07 15:41] jodosha commented on #319
@mereghost Hey, thanks for spotting this problem. That `InstanceMethods` was recently introduced by #299 and I haven't noticed it when merged. I agree this is a design flaw which is unique for this case.

I'm [reworking repositories](https://github.com/hanami/model/blob/master/.github/PULL_REQUEST_TEMPLATE.md), so this refactoring isn't necessary because the implementation will change a lot. Thank

[2016-06-07 15:41] #319 closed

[2016-06-11 18:31] daniel-ferguson opened #321 "hanami db apply fails with postgres 9.5.x"
[code]

The `-i` option was removed in postgres 9.5 - release notes: <https://www.postgresql.org/docs/current/static/release-9-5.html#AEN127317>

`pg_dump` is called with `-i` in the `dump_structure` method of `lib/hanami/model/migrator/postgres_adapter.rb` - removing this flag seems to fix the issue, though I'm not familiar with postgres's history, and whether the flag is used in the adapter to c

[2016-06-13 01:57] joneslee85 commented on #321
@daniel-ferguson thanks for the bug report. I'd suggest that you dig further to learn why Fuji Masao introduced this change. It is only then we could make a good decision how to address this issue.

[2016-06-13 18:24] daniel-ferguson commented on #321
That makes sense, thank you.

Flag History
---------------------

After going through PostgreSQL's history, it appears that the `-i` flag started being ignore in version 8.4.
Release notes: <https://www.postgresql.org/docs/current/static/release-8-4.html#AEN150189>

This is also reflected in the docs for `pg_dump` <https://www.postgresql.org/docs/8.4/static/app-pgdump.html>

Removing this flag wou

[2016-06-17 15:52] wjdhamilton opened #322 "Does Postgres Adapter display the correct error when db exists?"
Hello everyone!

When running `hanami db create` and there is already a database in existence, the error returned is as follows:

[code]

A quick look at the code in model/lib/hanami/model/migrator/postgres_adapter.rb reveals the following snippet:

[code]

Which implies to me that the error message is the same regardless of whether or not there really _is_ another 1 (or many more) sessions using

[2016-06-17 18:21] cllns commented on #322
Thanks for reporting this!
This is a really good point. We definitely want accurate and helpful error messages.

Right now, @jodosha is working on re-working the back-end of `hanami-model` to be based on [Ruby Object Mapper (`rom`)](https://github.com/rom-rb/rom) and I *think* this code will be going away.
So, I don't think it's worth creating a PR, but @jodosha can correct me if I'm wrong :)

[2016-06-17 20:21] wjdhamilton commented on #322
No problem! Glad to have been of service. I'll await @jodosha 😄

[2016-06-20 10:54] jodosha commented on #322
@wjdhamilton I think that this is fine to be fixed in master first **with the current code**. So the `new-engine` branch will already have working code.

@wjdhamilton or @cllns Can you please open a PR that fix this problem? It should target `master` branch, of course. Thanks! 👍

[2016-06-20 11:07] #321 closed

[2016-06-20 11:07] jodosha commented on #321
@daniel-ferguson Hi and thanks for this detailed explanation. ✨

I'm fine to keep compatibility with latest PG. With #323 We fixed the problem.

[2016-06-20 15:39] cllns commented on #322
@wjdhamilton Want to take this one? If not, I can do it. Feel free to ping me in the [Hanami Gitter chat](https://gitter.im/hanami/chat) if you need any help :)

[2016-06-20 15:42] wjdhamilton commented on #322
Yes, I’ll take this one. I will probably have to ask you a few questions first but I’ll get on it later this week.

[2016-06-20 17:55] daniel-ferguson commented on #321
Thanks all :+1:

[2016-06-20 20:05] katafrakt opened #324 "Problem with tables order in tests with PostgreSQL"
I have 2 failures when running `hanami/model` tests:

[code]

It seems like tables order cannot be ensured in PostgreSQL (?). Everything passes after changing assertions to:

[code]

However, just below there are those tests:

[code]

Which suggest that order in the test that are failing for me is important, because assertion do not look like that.

I'm using PostgreSQL 9.5.3.

[2016-07-03 05:40] wendy0402 opened #326 "database username and password"
Hi guys, currently I am playing around with hanami. It seems interesting, however since coming from rails background and use sql adapter for hanami. At first glance, I confused how to put username and password since the config example only show uri without username and password, such as:

[code]

my suggestion, It'll be better if you explicitly tell how to add database username and password like t

[2016-07-06 16:34] vasspilka opened #327 "Mapping the same sql table for multiple Entities/Repositories"
I've been trying to do something like the following

[code]

to map a `users` table with multiple entities but it seems to only register the last one.

Also I tried doing inheritance to the special user repositories

[code]

but that also failed any ideas? Is this a missing feature?

`hanami-model 0.6.1`

[2016-07-11 15:58] brafales opened #328 "Use a non autogenerated column as primary key"
Hi. We are trying to use `hanami-model` in a non standard way, and we are running into some issues. I'd like to see if we're using it the wrong way, we are missing something, or simply `hanami-model` was never intended to be used like this.

We are basically writing an app that will listen to some network events, and persist them into a database for further processing. The unorthodox behaviour her

[2016-07-31 11:38] Defman21 commented on #35
Are you still in the cycle of improving Model? I'm missing any sort of relations between tables.

[2016-07-31 21:57] cllns commented on #35
@Defman21 Yup. @jodosha is working on changing the backend of `hanami-model` to use [Ruby Object Mapper (rom)](http://rom-rb.org/). He's started it on the `new-engine` branch, so you can check it out there, but it's in progress and the docs don't reflect the changes.

[2016-07-31 22:04] Defman21 commented on #35
I'm happy to see that there's some work going on for solving this issue :)

[2016-08-06 18:16] TheFarmingBunny opened #330 "Cannot run db prepare"
I am attempting to run `bundle exec hanami db prepare` but I get this error: `Hanami::Model::MigrationError: Current adapter () doesn't support create.` I have already created the database and given myself full privileges. I'm using postgressql

[2016-08-06 18:19] Defman21 commented on #330
What adapter are you using?

http://hanamirb.org/guides/models/overview/#adapters

[2016-08-06 18:30] TheFarmingBunny commented on #330
SQL with a Postgresql database on localhost

06.08.2016, 19:19, "Sergey Kislyakov" <notifications@github.com>:

[2016-08-07 05:01] cllns commented on #330
We should improve that error message, since it's not clear at all.

Is your url is `postresql://` instead of `postgres://`?
https://github.com/hanami/model/blob/3e99c5682c45264e12ac08f7c479e6c01682f656/lib/hanami/model/migrator/adapter.rb#L33

[2016-08-07 09:33] TheFarmingBunny commented on #330
I worked out it might be because of `jdbc:` so I removed that and I now get this error: `RuntimeError: Cannot instantiate adapter of Hanami::Model::Adapters::SqlAdapter (LoadError: no such file to load -- pg)`

07.08.2016, 06:01, "Sean Collins" <notifications@github.com>:

[2016-08-07 13:20] Defman21 commented on #330
Add `gem "postgres"` to your Gemfile and run `bundle install`.

[2016-08-07 14:06] TheFarmingBunny commented on #330
I'm using jruby with the `jdbc-postgres` gem

07.08.2016, 14:20, "Sergey Kislyakov" <notifications@github.com>:

[2016-08-07 14:40] Defman21 commented on #330
Then you should find a package which could be loaded using `require "pg"`.

[2016-08-07 19:20] TheFarmingBunny commented on #330
I think we should start using `jruby-pg` instead of `jdbc-postgres` since I have found that it works better.

[2016-08-10 10:33] jodosha commented on #330
@TheFarmingBunny Does `jruby-pg` solves your issue?

[2016-08-10 10:38] TheFarmingBunny commented on #330
Yes, I created a pull request to add it into the default Gemfile on java platforms

10.08.2016, 11:33, "Luca Guidi" <notifications@github.com>:

[2016-08-18 09:26] tejasbubane commented on #322
I guess this can be closed.

[2016-08-20 16:15] theCrab commented on #293
@jodosha how is this going with ROM now on full steam?

[2016-09-27 21:21] lleolin commented on #35
In lieu of hanami-model, what would be the downsides of just straight-up using rom? What will hanami-model provide that rom doesn't right now?

[2016-09-28 01:16] solnic commented on #35
hanami-model will provide more conventional usage than "plain rom" which comes with various conveniences like model inference, auto-timestamps, auto-field renaming etc. Pretty much what you would expect from a full-stack framework.

[2016-10-04 07:58] brbrr opened #335 "created_at forget about timezone after persisting to PG"
Im persisting new record in to Postgres:
[code]

Here is my project: https://github.com/brbrr/message_app

After loading that record from db - `DateTime` uses my local Time zone instead of 00:00

[2016-10-04 18:46] beauby commented on #335
As you can see [here](http://hanamirb.org/guides/migrations/create-table/#type-definition), if you specify `DateTime` as a type for your `created_at` field, it will be created as a `timestamp` field within postgres, which defaults to `timestamp without time zone`. So what you want is to mutate this field into a `timestamp with time zone` (official SQL type), or `timestamptz` (postgres-specific abb

[2016-10-04 19:22] beauby commented on #327
As you can see [here](https://github.com/hanami/model/blob/3e99c5682c45264e12ac08f7c479e6c01682f656/lib/hanami/model/mapper.rb#L101), the collection is overwritten each time you call `collection` with the same key.
After a quick glance, my conclusion is that there can be only one mapping per table. Which, I agree, is sad.

[2016-10-10 03:13] beauby commented on #328
[This commit](https://github.com/hanami/model/commit/ab151074c09523438bbea40540d2cfe6c04d5cc0) that is part of [this PR](https://github.com/hanami/model/issues/334) might be of interest.

[2016-10-19 00:47] beauby commented on #335
Can we close this?

[2016-10-20 09:19] brbrr commented on #335
Its solved. Thanks!

[2016-10-20 09:19] #335 closed

[2016-11-10 17:31] #217 closed

[2016-11-10 17:31] #237 closed

[2016-11-10 17:31] #245 closed

[2016-11-10 17:31] #272 closed

[2016-11-10 17:31] #273 closed

[2016-11-10 17:31] #278 closed

[2016-11-10 17:31] #279 closed

[2016-11-10 17:31] #285 closed

[2016-11-10 17:31] #291 closed

[2016-11-10 17:31] #294 closed

[2016-11-10 17:33] jodosha commented on #217
As of v0.7.0 we won't support _dirty tracking_ anymore. In the future we'll support [Changesets](https://hexdocs.pm/ecto/Ecto.Changeset.html) which are able to tell the attributes that changed.

[2016-11-10 17:34] jodosha commented on #245
As of v0.7.0 we don't support global `mapping` anymore.

[2016-11-10 17:35] jodosha commented on #285
As of v0.7.0 we don't ship Memory and File System adapters.

[2016-11-10 17:36] jodosha commented on #292
Closing as it was implemented by #334

[2016-11-10 17:36] #292 closed

[2016-11-10 17:39] jodosha commented on #322
Fixed by #325

[2016-11-10 17:39] #322 closed

[2016-11-11 18:06] beauby commented on #328
This should be fixed on master now.

[2016-11-14 11:08] jodosha commented on #293
@theCrab This doesn't gonna be included in v0.7.0.

[2016-11-14 11:09] jodosha commented on #324
@katafrakt Hi and thanks for reporting this. We can safely close it because, master's tests are now working fine.

[2016-11-14 11:09] #324 closed

[2016-11-14 11:20] jodosha commented on #327
@vasspilka This isn't possible with the upcoming 0.7.0, but we can consider it for the future.

[2016-11-14 11:26] #326 closed

[2016-11-14 11:27] jodosha commented on #326
@wendy0402 Thanks for reporting this. The README now mentions username and password in the basic example.

[2016-11-14 11:29] jodosha commented on #328
@brafales Hi, can you please check if the current version in master works for you?

[2016-11-14 11:32] jodosha commented on #330
@TheFarmingBunny I'm closing this as I discovered that `jruby-pg` is [outdated](https://github.com/headius/jruby-pg/commits/master).

The upcoming `hanami-model` v0.7.0 (in master now), supports JRuby and PG via `jdbc-postgres` and it works well. Please check if this gem works for you too.

[2016-11-14 11:32] #330 closed

[2016-11-14 16:40] brafales commented on #328
It looks like a lot has changed since then, we moved to a different schema to allow both our own uuid and the autogenerated one, so it may not be worth investigating this anymore.

Hopefully when the move to ROM has been officially released I'll be able to revisit this.

[2016-11-14 16:40] #328 closed

[2016-11-15 16:56] beauby opened #343 "Expose pre-mapped relations"
## Current behavior

Currently, instances of `Hanami::Repository` expose the underlying `ROM::Relation`s directly as methods with names those of the SQL table. I.e. `class UserRepository < Hanami::Repository; end` will have a `users` method defined that returns the `ROM::Relation` for the `users` SQL table (along with all the other existing relations).

This allows for code that looks like this:
[

[2016-11-15 17:05] beauby opened #344 "Current power of associations"
All available associations examples only deal with a single association at a time.

* Can multiple associations be aggregated at the same time? Answer: yes, `aggregate` takes a variable number of symbols as arguments (source: ROM source code)
* Can multiple levels of association be aggregated at the same time? Short answer: not really at the moment. Longer answer: not via `aggregate`, but it is po

[2016-11-15 17:09] beauby commented on #327
This is interesting, especially when dealing with legacy databases where it happens that two logical entities are stored in the same table (arguably poor design, factual reality).

[2016-11-15 17:59] vasspilka commented on #327
Ecto is now supporting stuff like these, I assume ROM will follow, therefore hopefully we can see this in hanami through ROM

[2016-11-15 21:57] solnic commented on #327
rom supports it from the very start, you can configure multiple relations to point to the same table, you can load data from multiple relations into a single entity too, you are free to do whatever you want with the data (in general)

[2016-11-17 08:36] choallin opened #345 "Perform raw sql in a Hanami::Repository subclass"
I our app (pre 0.9) we use raw sql statements quite often to use our database to the fullest. To be able to upgrade to version 0.9 we would really need to have something similar like the fetch/execute methods that used to be available.
Can this be done right now?

[2016-11-17 11:19] solnic commented on #345
There's no public API in hanami for this at the moment, but you *can* do that with rom easily. Before I show you how, please tell me what exactly you need in terms of the query results. ie do you just want plain hashes back, or do you need to map them to entities or some other custom objects?

[2016-11-17 14:08] choallin commented on #345
Right now we handle the initialisation of the entities on our own after we get the fetched result. I.e. a hash is all we need.

[2016-11-18 16:12] mereghost opened #347 "Support for Namespaced Repositories"
There should be a way to support a `NamespaceDomain::StuffRepository`.

Currently it complains about the relation name (it tries to use something along the lines of  `namespacedomain/stuffs`), if you set the relation name, you have to setup  the mapping or else it complains about some method (`first` IIRC) being sent to `nil` and even then it still does not work.

[2016-11-22 16:09] beauby opened #349 "Overriding #create."
The way `Hanami::Repository` defines the standard query methods on subclasses seems not to be compatible with overriding those (`super` fails).

[code]

[code]

[2016-11-22 17:28] cllns commented on #349
Hm, this is very similar to a `before_create` callback.

Instead, how do you feel about writing an `Interactor` that creates a User and encrypts their password?

[2016-11-22 17:47] beauby commented on #349
@cllns I can't say that I've seen any mention of `Interactor`s in the guides – do you have a link?

Regardless, I'm curious why the default commands are implemented the way they are (i.e. by dynamically `prepend`ing a module during class inheritance, rather than simply defining them in the parent class – my guess is that it either has to do with the fact that `Hanami::Repository` was initially int

[2016-11-22 18:15] cllns commented on #349
There's [no guide for Interactors yet](https://github.com/hanami/hanami.github.io/issues/215) but you can see the docs here: http://www.rubydoc.info/gems/hanami-utils/Hanami/Interactor

You don't have to use `Hanami::Interactor`, and 'service' object will do.

[2016-11-22 18:55] beauby commented on #349
@cllns Thanks for the reading material :+1:.

After a bit of investigation, the commands are created dynamically by the call to `commands`, so the definition of the overriding of the methods that Hanami does must happen after that. I understand why the `prepend` would prevent overriding the overrides that `Hanami::Repository` does, but it's not clear to me why in the above example `super` does not

[2016-11-22 19:26] solnic commented on #349
I wouldn't recommend overriding core methods like `create` and introduce your own APIs that use `create`. Regardless though, this is a violation of POLS so we gotta fix that in rom-repository (I was actually aware of that, just didn't have time to make it better).

[2016-11-22 23:26] davydovanton opened #351 "Count method"
I think it will be awesome to create `COUNT` command for repository object. What do you think?
If you agree I can send PR 😊

[2016-11-23 04:33] mereghost commented on #351
Not sure if I follow the reasoning. ROM already provides a `#count` method. Keeping it private to the repository would remain consistent (besides I rarely needed a count without either a filter or an aggregation, but YMMV).

[2016-11-23 04:34] mereghost commented on #349
+1 for using `Hanami::Interactors`. =D

[2016-11-24 14:28] vladra opened #352 "Customisations of Sequel"
Sometimes there is a need to access lower level details of hanami-model to configure some use case specific stuff.

For example, if there are infinite timestamps in DB, Sequel will throw error. With access to the Sequel connection this could be easily solved:
`connection.convert_infinite_timestamps = 'nil'`

There are some other possible cases when this would be helpful. Such as DB sharding, trans

[2016-11-24 14:42] davydovanton commented on #351
/cc @hanami/core-team, @hanami/contributors, @solnic and @flash-gordon

[2016-11-24 15:14] davydovanton commented on #351
After a little discussion with @flash-gordon I want to update my point of view.

Of course I can call `count` method from rom relation object like this `UserRepo.new.users.count`. But I think it looks strange in hamani model. That's why I suggest adding `count` alias like `where`, `find` and `create`. And after that, it'll look like more understandable like `UserRepo.new.count`

[2016-11-24 15:31] beauby commented on #351
@davydovanton Note that in the latest version of hanami-model there is no publicly available `#where` method.
In your suggestion, your `count` method would only return the count of all users, without scoping, right? If so, it would have little use IMO (since you can't combine it with `where` from the outside).

[2016-11-24 15:34] davydovanton commented on #351
@beauby yep, I think that `#count` should return only integer value

[2016-11-24 16:12] beauby commented on #351
@davydovanton Right. What I meant was more: would you expect this `Hanami::Repository#count` method to take parameters?

[2016-11-24 16:17] davydovanton commented on #351
@beauby good question. I can't answer this question. Now I want to see a simple implementation of  `#count` method. Without params. But maybe someone want to see something like rails `#count` with conditions and etc.

[2016-11-24 16:20] beauby commented on #351
@davydovanton That's what I thought. The philosophy of the new hanami-model, though, is to not expose such query methods externally, and instead have you define intent-stating methods.

[2016-11-24 16:26] flash-gordon commented on #351
It probably can be done via blocks, like `repo.count { active }` so you can't detach a query object from a repo.

[2016-11-27 10:56] senei commented on #35
`attribute :author, belongs_to(User, collection: :users, foreign_key: :author_id)`

returns error **_uninitialized constant Book::User (NameError)_** -- why
in db it is working correctly

[2016-11-27 17:19] beauby commented on #35
@senei Please open a separate issue.

[2016-11-30 16:06] jodosha commented on #35
@senei Where did you found that syntax? And where it is used?

[2016-11-30 16:11] jodosha commented on #347
Yes, I think this is a feature that we should consider. 👍

@mereghost Can you please investigate what changes are needed here and in `hanami` to make it to work? Eg. how to deal with model generators?

[2016-11-30 16:14] jodosha commented on #349
Also, `Hanami::Repository` adds another `#create` on top of `ROM::Repository`, by prepending a mixin. Hence your problem.

I agree with @solnic. POLS violation here, better to write an explicit method for it. I see general consensus with @solnic comment, so I'm closing this.

[2016-11-30 16:14] #349 closed

[2016-11-30 16:17] jodosha commented on #351
Please cast your vote here. What do you think about this feature?

It would be:

[code]

[2016-11-30 16:46] davydovanton commented on #351
@jodosha awesome 👍

[2016-11-30 16:49] beauby commented on #351
So basically it's an ActiveRecord scope? You can do `BookRepository.new.where(foo: :bar).combine(...).limit(5)`.

[2016-11-30 16:57] beauby commented on #349
@jodosha I don't understand your sentence "POLS violation here, better to write an explicit method for it.". Do you mean "The behavior of the framework is violating the principle of least surprise, so use a different name."? I would see how using a different name would be a temporary fix, but expecting people never to override inherited methods does not seem appropriate.

[2016-11-30 17:23] solnic commented on #351
@beauby relation API is not exposed via repos so it'd be something like `repo.books.where(...).count`

[2016-11-30 17:25] solnic commented on #351
FWIW I don't think repos should expose such a db-specific API as `count`. If you need this, just reach to a specific relation, ie `repo.books.count`. Having a `Repo#count` would be super hard to implement if it was supposed to work with any adapter.

[2016-11-30 17:33] beauby commented on #351
@solnic My bad, I edited my answer (forgot the `.on_sale` method, to build upon @jodosha's example).

[2016-11-30 20:04] cllns commented on #347
I agree!

My two cents: I'd prefer generating the files like:
[code]
rather than
[code]
That way, code within the same namespace can be used easily. :)

[2016-11-30 20:16] beauby commented on #347
@jodosha In terms of generators it would be quite straightforward. The "hard" part would probably be to ensure that namespaced repositories use the "right" relation (which brings the question of what happens when two repositories have the same name, but in different namespaces).

[2016-11-30 20:49] mereghost commented on #347
@beauby Hmmm. Can you come up with a use case that would generate that problem? I'm not sure if the namespace should be reflected on the relation name as I usually namespace things to isolate behavior in bundles of functionality. That, in itself, shouldn't duplicate entities (or repositories for that matter).

[2016-11-30 21:49] beauby commented on #347
@mereghost You could be running two websites, one for users, one for admins, with two distinct `session` databases, and both `Users::SessionRepository` and `Admins::SessionRepository`. I think being able to specify the underlying relation painlessly should solve all problems.

[2016-11-30 22:12] solnic commented on #347
In rom-repository it is possible to specify relation identifier via `ROM::Repository[rel_name]` like this:

[code]

So, I'm wonder if that would just work with hanami repos:

[code]

If you don't like that syntax, you can just specify root relation of a repository like that:

[code]

I can see that hanami repositories define their own `relation` class attribute though...so, if that one is used in

[2016-12-02 07:10] jodosha commented on #351
I forgot about this aspect, thank you @solnic to reminding us.

---

Folks, I think this changes the direction of this discussion. We can't have `#count` as part of the public interface of `Hanami::Repository`, because count logic isn't necessary implemented by the underlying ROM adapter (and database).

[2016-12-02 08:55] jodosha commented on #345
@choallin Hey, can you please give a look at https://github.com/hanami/model/pull/354 ? Thanks.

[2016-12-02 08:56] jodosha commented on #351
Folks, I've implemented a proposal at #354, can you please have a look? Thanks.

[2016-12-10 15:14] thhermansen opened #356 "Question, Entity: How to express attribute which is another Hanami::Entity type"
In [the docs for Entity](http://hanamirb.org/guides/models/entities/) you have the following example

[code]

The example shows that you can have an array of Comments, where Comment is a `Hanami::Entity`.

### The question

How would you do it if you where to express that a User had _one_ comment?

In other words, something like `attribute :comment, Comment`. If you do this you get an error (`unde

[2016-12-10 15:27] solnic commented on #356
I'd say this is a bug because `attribute :comment, Comment` should Just Work™; or maybe it's a missing feature, something like `attribute :comment, Types::Entity(Comment)` that would create a coercible type. Not sure.

[2016-12-10 16:17] thhermansen commented on #356
Thanks for your reply! :-)

Yes, I though of maybe doing a pull request with `Types::Entity`, so it mirrors `Types::Collection`. They schema is doing the correct thing thing as far as I see when I decorated the entity class with `Types::Schema::CoercibleType`. The showstopper became [symbolize!](https://github.com/hanami/model/blob/master/lib/hanami/entity/schema.rb#L207-L211) which makes a hash o

[2016-12-10 18:59] solnic commented on #356
I don't think entities should be responsible for that, this type of transformation belongs to a different "layer" (ie http boundary, or some database that gives you hashes with string keys, etc.)

[2016-12-13 23:50] panthomakos opened #360 "mapping (Hanami::Model::Error)"
I get a `mapping (Hanami::Model::Error)` when running [this simple program](https://gist.github.com/panthomakos/7e3a5c3745b8ab729bb3ac1a68a3eb0a). Can you explain why this is happening; and how the issue can be resolved?

[2016-12-19 16:01] mereghost commented on #347
Thanks for the info @solnic . I'll (finally) take a look at this issue.

[2016-12-19 18:33] mereghost commented on #360
It seems that the SQL Configuration for `hanami-model` isn't loaded by default.

You will need to require `hanami/model/sql` to make it work. This file is the one that really registers all the plugins used with `rom`.

That being said, we should update the documentation to reflect that.

[2016-12-20 02:30] Moratorius opened #361 "ROM::SQL::UnknownDBTypeError exception is raised when a PostgreSQL table has an enum column"
ROM raises `ROM::SQL::UnknownDBTypeError` when it attempts to infer the type for an enum column, which prevents the application from being loaded.

Steps to reproduce:

% hanami new bookshelf --database=postgres
% cd bookshelf
% bundle install
% bundle exec hanami generate migration create_books
[code]
% bundle exec hanami db prepare
% bundle exec hanami generate model book
% bundle exec hanami co

[2016-12-20 09:23] solnic commented on #361
bad news: rom-sql schema inference doesn't support enums yet

good news: I'm working on rom-sql actively in December/January, so I'll take care of this. My plan is to release 1.0.0.beta but in this specific case, I'll just push a smaller 0.9.1 release with support for enums so you can easily upgrade without having to bump to the beta release

@jodosha is it now possible to define an explicit relat

[2016-12-20 13:31] AMHOL commented on #360
BTW you can run your migrations using `Hanami::Migration` rather than using Sequel directly, see https://gist.github.com/AMHOL/222b175c0c375184fb4b0351cd3c7c77

[2016-12-21 09:06] jodosha commented on #35
I'm closing this in favor of future, smaller, focused, and actionable proposals.

[2016-12-21 09:06] #35 closed

[2016-12-21 09:07] jodosha commented on #293
I'm closing this as it won't be part of Hanami 1.0. Maybe it will be included in the future, according to the upcoming discussion of the core team.

[2016-12-21 09:07] #293 closed

[2016-12-23 10:33] solnic commented on #361
I just released rom-0.9.1 with support for inferring enums. Unfortunately there's one caveat - it turned out hanami-model doesn't support additional options to gateways, and we need to configure connection with `:pg_enum` extension in order to make this work. This means we need to extend model DSL with support for something like this:

[code]

This option hash can be simply passed to gateway and t

[2016-12-23 13:39] jodosha commented on #349
@beauby Because `#create` is a public method exposed by default by a repository. Its role is to persist a single object into the database.

If we override `#create` to enhance it, this situation may "surprise" other devs in a project.

[2016-12-23 14:44] jodosha commented on #327
Unfortunately this can't be part of Hanami 1.0.

I'll bring this feature on the discussion table for the post 1.0.

[2016-12-23 14:44] #327 closed

[2016-12-23 14:48] jodosha commented on #345
@choallin Hey, I closed #354 in favor of #362. Please check it! 😄

[2016-12-24 12:14] jodosha commented on #361
@solnic Thanks for taking care of this. 👍 💯 💚

Not yet.

[2016-12-24 15:08] beauby commented on #349
@jodosha I understand what you mean, and I agree that overriding `#create` is probably a bad practice. However, exposing a method that is **not overridable** is the actual surprising thing here, especially as one of the stated goals of hanami is to be less magical than rails and make use of POROs.

[2016-12-25 18:19] jodosha commented on #349
@beauby I agree on the expectations about `#create`.

If you can, would you like to solve this problem? Thanks.

[2016-12-25 22:24] beauby commented on #349
@jodosha Sure, I'll look into it – just wanted to make sure you were on board.

[2016-12-27 22:47] AlfonsoUceda commented on #360
@panthomakos did you fix your problem?

[2016-12-27 23:09] panthomakos commented on #360
Yes, requiring `hanami/model/sql` fixed the issue. Thanks!

[2016-12-27 23:09] #360 closed

[2016-12-27 23:11] AlfonsoUceda commented on #360
Thanks @panthomakos

[2016-12-27 23:15] AlfonsoUceda commented on #361
For reference this is the [commit](https://github.com/rom-rb/rom-sql/commit/41561c56bba935b623d7c862d03d97c414f56d76) where `rom-sql` supports enums

[2017-01-01 14:00] mfinelli opened #364 "Migrations fail when using mysql and utf8mb4"
The default schema_migrations table creates a primary key varchar(255) which exceeds the maximum size for an index.

`Sequel::DatabaseError: Mysql2::Error: Specified key was too long; max key length is 767 bytes`

The size of the filename key should change to varchar(190).

This currently prevents running _any_ migrations (since we can't create the schema_migrations table.

[2017-01-01 14:12] mfinelli opened #365 "Migrations should support unsigned integers"
It would be nice if we could specify unsigned integers in migrations

`column :test, Integer, unsigned: true`

[2017-01-02 10:12] TiteiKo commented on #365
Hi @mfinelli

Hanami model uses Rom which uses Sequel. You can see available column types [here](http://sequel.jeremyevans.net/rdoc/files/doc/schema_modification_rdoc.html#label-Column+types). You can use a string as column type, so the following works:
[code]

[2017-01-02 10:12] #365 closed

[2017-01-02 10:16] TiteiKo commented on #364
Hi @mfinelli

This is a bug you should be reporting on [Sequel github issues](https://github.com/jeremyevans/sequel)
As Hanami model uses Sequel's migrations, I'm sorry to say that there's nothing we can do about your issue here.

[2017-01-02 10:16] #364 closed

[2017-01-02 14:11] mfinelli commented on #364
Thanks, I've opened the following issue: https://github.com/jeremyevans/sequel/issues/1282

[2017-01-02 14:12] jodosha commented on #364
@mfinelli Thank you :smile:

[2017-01-03 10:11] jodosha commented on #361
I tried to reproduce the problem and it's still there, **even with** `rom-sql-0.9.1`, which shipped the support for PG enums.

/cc @solnic @flash-gordon

[2017-01-03 10:32] jodosha commented on #351
Now that we have a more clear picture of both the implications and the solutions, I think we can close this.

---

"Count" is a concept not generally available to all the databases. SQL databases have it, but others don't.

If you're using a SQL database you can expose a method for that.

[code]

If you want to count the records, under specific conditions:

[code]

If you want to use raw SQL you c

[2017-01-03 10:32] #351 closed

[2017-01-03 10:35] jodosha commented on #345
Fixed by #362

[2017-01-03 10:35] #345 closed

[2017-01-03 10:38] jodosha commented on #343
@beauby This completely makes sense. Thanks for taking time to write an extended explanation of the problem.

IMO this should be included in 1.0.

[2017-01-03 12:01] solnic commented on #361
@jodosha did you enable `pg_enum` extension in sequel connection?

[2017-01-03 13:36] jodosha commented on #347
@mereghost To solve the relation name problem you described in the description. What you should do is to add `demodulize` here, before `underscore`: https://github.com/hanami/model/blob/master/lib/hanami/model/relation_name.rb#L20

[2017-01-03 13:43] mereghost commented on #347
@jodosha Nice! That method escaped my notice before.

[2017-01-03 15:00] jodosha commented on #361
@solnic Nope :sweat_smile: - I confirm it works with the `pg_enum` extension in the sequel connection.

Would you and @Moratorius review this related PR https://github.com/hanami/model/pull/367 that allows to customize the connection? Thanks.

[2017-01-03 15:01] jodosha commented on #352
@vladra Hi, would you please review https://github.com/hanami/model/pull/367 ? It introduces a DSL to customize the connection. Thanks!

[2017-01-03 15:05] flash-gordon commented on #361
I believe we need to add pg_enum to [the list of enabled extensions](https://github.com/rom-rb/rom-sql/blob/master/lib/rom/sql/gateway.rb#L27). I overlooked this because I had to enable this extension manually for the spec I wrote to prepare the database. I'll add it to master and release-0.9 branches /cc @solnic

[2017-01-03 15:08] jodosha commented on #361
@flash-gordon That would be great! :100: I assumed it was already there, that's the reason of the failure described [above](https://github.com/hanami/model/issues/361#issuecomment-270083406).

[2017-01-04 06:36] flash-gordon commented on #361
@solnic @jodosha OK, done https://github.com/rom-rb/rom-sql/commit/5c7fb0d583beb1fbddd333eda359ecba08faa7d4 :)

[2017-01-04 16:49] jodosha commented on #361
@flash-gordon :green_heart:

[2017-01-08 19:31] jackbit commented on #351
wisely it should be external plugin / gem and not in core modules. It is classic issue in ActiveRecord at beginning and till now, we can not combine mongoose, mongoid, oracle or any else into the same active record, the solution is remove active record and use external plugin or create an enhanced adapter. It should be the same game for hanami.

[2017-01-10 01:30] panthomakos opened #369 "`rescue in create': comparison of String with 0 failed (Hanami::Model::Error)"
I get a comparison of `String` with `0` failed exception when trying to create a Hanami Model that doesn't use an auto-increment primary key. Can you help explain what I am missing here?

https://gist.github.com/panthomakos/11fb27801014e557a9a67e9fbc31c05b

[2017-01-13 18:14] #277 closed

[2017-01-20 16:18] jodosha commented on #344
@beauby I'm sorry, but this kind of issues are left behind because are more a discussion than an actionable request (bug, enhancement, feature).

At this point in time, we're focused on shipping Hanami 1.0 as it is and then to iterate where needed. Associations deserve more love for sure. But it will require a Community effort to improve their design.

Closing this as not actionable.

[2017-01-20 16:18] #344 closed

[2017-01-20 16:18] jodosha commented on #347
I'm closing this a stale proposal. If somebody wants to take action, you're more than welcome.

[2017-01-20 16:18] #347 closed

[2017-01-20 16:22] jodosha commented on #356
@thhermansen Thank you for this proposal. I'm hesitant to add this feature. It's quite similar to one-to-one relationship which we want to add soon. So it's better to not commit to this design, but to expand associations.

[2017-01-20 16:22] #356 closed

[2017-01-20 16:28] jodosha commented on #369
@panthomakos Hi I'm sorry about this problem, but we don't support primary key that isn't a serial ID as number.

[2017-01-20 16:28] #369 closed

[2017-01-21 07:37] #352 closed

[2017-01-21 07:37] #361 closed

[2017-01-21 14:12] Nondv opened #373 "Class methods in repositories"
Hi guys!
I think there was a discuss on this topic, but I couldn't find it:(
I am new to Hanami (just playing around with it)

Why do you use instance methods instead of class methods?
I mean, I can think of some reasons on my own, but can't we add something like this:

[code]

and if not, why?

Sorry for my english

[2017-01-21 15:27] AlfonsoUceda commented on #373
Hi @Nondv
This is the original issue https://github.com/hanami/model/issues/290

[2017-01-21 15:29] #373 closed

[2017-01-23 22:50] bbonislawski opened #374 "Repository find method acts weird when table has no primary_key set"
I've created model without primary key with that migration:
[code]
And then had some fun with repository
[code]
It's a little weird and I hope I'll find some time to do more research on that

[2017-01-23 23:00] beauby commented on #374
I would consider the behavior of `Repository#find` to be undefined for tables without a primary key, though I agree that the `find(nil)` behavior (which seems to be "return all rows") is a bit surprising.
The fact that `find(1)` returns `nil` is what I expected.

[2017-01-23 23:05] bbonislawski commented on #374
Ok, I reconfigure my postgres to log everything and this is what I found `SELECT "id" FROM "users" WHERE (NULL IS NULL)` after calling `UserRepository.new.find(nil)`. That's quite surprising

[2017-01-23 23:09] beauby commented on #374
The corresponding line in hanami model is [that one](https://github.com/hanami/model/blob/master/lib/hanami/repository.rb#L375):
[code]

`root` is a ROM relation, and I assume `#by_primary_key` is defined by ROM as well. The question is (cc @solnic), what is the expected behavior of ROM when calling `#by_primary_key` on a ROM relation that has no primary key?

[2017-01-23 23:14] solnic commented on #374
No, it's a bug in hanami-model right [here](https://github.com/hanami/model/blob/master/lib/hanami/repository.rb#L163-L165)

This should be fixed by using `by_pk` which is a built-in relation view provided by rom-sql

[2017-01-23 23:19] beauby commented on #374
@solnic My bad, I spoke too fast ;)
@bbonislawski Do you feel like taking care of this change?

[2017-01-23 23:25] bbonislawski commented on #374
I'll try my best!

[2017-01-23 23:35] beauby commented on #374
@bbonislawski Cool! Basically, as @solnic mentioned, you'll have to replace the call to `by_primary_key(id)` with `by_pk(id)` ([here](https://github.com/hanami/model/blob/master/lib/hanami/repository.rb#L375)), and remove the definition of `#by_primary_key` ([here](https://github.com/hanami/model/blob/master/lib/hanami/repository.rb#L163-L165)).

[2017-01-24 00:00] bbonislawski commented on #374
@beauby unfortunately, it doesn't fix the issue. `root.by_pk(nil)` returns something like
[code]

[2017-01-24 00:18] solnic commented on #374
@bbonislawski uhm, I see what's going on, so you don't really had a PK in the db schema, that's why it's nil in the relation schema. I'll fix this in rom-sql by simply skipping definition of `by_pk` when `primary_key` is nil so this view won't exist. Not sure how to handle it in other places though, because we shouldn't require PK to exist (even though it's silly not to have one, but legacy dbs ar

[2017-01-24 00:24] bbonislawski commented on #374
I thought about defaulting to `:id` here https://github.com/rom-rb/rom-sql/blob/release-0.9/lib/rom/sql/relation.rb#L104 when `primary_key_name` is nil, but raising exception would be more reasonable imo, so it's better to do it that way.
Thanks for everything!

[2017-01-24 08:45] jodosha commented on #374
Hey, I'm sorry about this problem. I'm working on the fix.

[2017-01-24 09:28] jodosha commented on #374
Please review #375

[2017-02-06 17:42] #374 closed

[2017-02-09 16:56] #343 closed

[2017-02-14 10:48] gizotti opened #380 "`last` method always returns a hash"
I have the following repository:

[code]

The `newest_post` method will always return a `Hash` instead of an `Post` instance.
If I change `last` to `first`, I get a `Post` instance as I want.

I have no clue where to start looking for the problem. If someone could give me a clue, I can try to fix this one myself.

[2017-02-15 00:17] davydovanton commented on #380
@gizotti confirmed. I have this bug too 👍
Also, I founded that `lasts` returns hash only with `where` method, e.g:
[code]

[2017-02-15 00:26] gizotti commented on #380
@davydovanton do you know where I can start looking for it? I'd love to dive into this one.
However, if someone already know exactly where to fix it and can get that done faster than me thats ok for me too.

[2017-02-15 00:48] davydovanton commented on #380
@gizotti it's a problem of `ROM::Repository::RelationProxy` class and `rom-repository` project. I created PR with reproducing this problem.

/cc @solnic, @flash-gordon and @AMHOL

[2017-02-15 00:57] solnic commented on #380
This won't be fixed in rom because it's not a bug in rom. See [here](https://github.com/rom-rb/rom-sql/issues/64#issuecomment-275660022) for more info.

[2017-02-15 01:01] davydovanton commented on #380
@solnic oh, sorry it's my mistake 😞 Thanks for explanation 👍

@jodosha, @hanami/documentation I think we need to update documentation for this case. WDYT?

[2017-02-15 01:03] solnic commented on #380
FWIW I don't think that having `first` and `last` is a good practice, I know it's common because it exists in `Array` and popular ORMs provide it too, the problem is that you can't really tell what the order is, and you can't possibly expect to get consistent results when order is not enforced in any way. Personally I see this is as a weird antipattern that we've happily adopted :(

[2017-02-15 01:04] gizotti commented on #380
@solnic fair enough :) Thanks for the reply.

@davydovanton @jodosha, would it be worth implementing a "fix" on `hanami-model`? Or because of how it depends on `rom-repository` that wouldn't be possible?

[2017-02-15 01:06] davydovanton commented on #380
@solnic I understand right that now you prefer to use something like `#to_a` with `#last`/`#first`  for solving this problem?

[2017-02-15 03:24] solnic commented on #380
@davydovanton we have `one` and `one!` so:

[code]

[2017-02-16 07:25] jodosha commented on #380
@solnic

You're right, `Repository#first` and `#last` were introduced for convenience and to make the transition from AR more soft.

---

But here we have another problem. The line `root.order(:created_at).as(:entity)` returns a `ROM::Relation::Composite` which applies the `:entity` mapping only when `#to_a` is triggered, but not when `#last` is invoked.

---

To recap: `Repository#first` and `#la

[2017-02-16 07:27] solnic commented on #380
@jodosha yeah you could just do this:

[code]

This will make sure you only fetch a single tuple, and it uses default ordering by pk.

[2017-02-16 08:24] jodosha commented on #380
@solnic Thanks for the quick reply. We'll document this.

[2017-02-16 16:43] baschtl opened #381 "MySQL Database migrator fails on creating a database with dashes in the name"
Running this

[code]

fails with

[code]

when the database name includes dashes, e.g., `db-name`.

I guess the issue can be found in https://github.com/hanami/model/blob/master/lib/hanami/model/migrator/mysql_adapter.rb#L22. And probably

[code]

solves the issue.

[2017-02-23 08:49] jodosha commented on #380
Cross referencing https://github.com/rom-rb/rom-sql/issues/64

[2017-02-23 20:21] cllns commented on #380
We're working on documenting this, but I wonder if we can't do something in the code to help avoid this. Before `1.0.0.rc1`, should we do any of the following:
1. remove `first` and `last` from `Hanami::Repository` altogether? Instead we could encourage `limit` & `one` (and, optionally, `order`). @solnic [mentioned considering removing](https://github.com/rom-rb/rom-sql/issues/64#issuecomment-2756

[2017-02-24 05:19] gizotti commented on #380
@cllns IMO the second would be the way to go. `first` and `last` are convenient methods to quickly access that data.

If we remove those methods we would just end up making people write their own `first` and `last` methods when they are implementing their own repos.

Now, when they are writing their own queries inside their repos I think we should enocurage `limit` and `one` over `first` and `last

[2017-02-24 05:22] cllns commented on #380
Yes, that makes sense @gizotti. Thanks for your feedback. I'm not sure of how the internals work here, so we'll @jodosha's input. I'm not sure if 2) is easily implementable. Also we might not be able to get any changes in to `v1.0`, but we'll see :crossed_fingers:

We're interested in hearing what others think is the right course of action as well :)

[2017-02-24 05:49] davydovanton commented on #380
@cllns about the second point: I think we need to use `#one!` here, WDYT?

[2017-02-24 17:59] cllns commented on #380
Maybe! We can discuss, if that option is feasible and we decide to go for it :)

[2017-02-27 17:12] jodosha commented on #380
Folks, I went straight with the refactoring regarding `Repository#first` and `#last`, as you suggested. See https://github.com/hanami/model/commit/57377946bcc0bf13e4a947309ac4c90add0cb283

The reason why this is a good idea is simple: it removes `Sequel` from the implementation of `#last`. See the commit diff.

---

But please note that this GH issue is **NOT** about `Repository#first` and `#last`

[2017-02-27 17:15] jodosha commented on #380
@cllns I assigned this to you as you're working on the documentation for this. Can we get a PR out in a couple of days? Thank you!

[2017-02-27 17:23] jodosha commented on #381
@baschtl Hi and thank you for reporting this. I created a PR with the fix #383. Can you please check it? Thanks.

[2017-02-28 08:18] #381 closed

[2017-02-28 09:35] baschtl commented on #381
@jodosha Thanks for addressing this. Looks good! :)

[2017-03-01 12:22] choallin opened #385 "Overwrite/Add attributes to inferred entity"
With rom-sql it is possible to infer a schema but override just a few attributes for specific purpose. (See [here](http://rom-rb.org/learn/core/schemas/) under Inferring Schemas)
It would be great if we could have this option too, maybe even just add some (meta data) attributes so we can define some special attributes without the need to write the whole schema definition in the entity
Maybe it cou

[2017-03-01 12:46] jodosha commented on #385
@choallin Hi, how your proposal is different from this? http://hanamirb.org/guides/models/entities/#custom-schema

[2017-03-01 14:59] choallin commented on #385
@jodosha At the end of the guide it states this:

The difference now is, that because of the `infer: true` the entity gets automatically all attributes from the database but you can overwrite some of them like it is possible in rom (see link above) or you can define the meta attributes as it is necessary for has_many/has_one/belongs_to without the need to define every attribute in the database as

[2017-03-01 15:05] jodosha commented on #385
@choallin I'm sorry but this will unnecessary complicate _custom schema_ implementation. Associations like `has_many` are already handled by the _automatic schema_. As long we'll add more associations they will be available to the _automatic schema_ as well.

[2017-03-01 15:05] #385 closed

[2017-03-04 17:46] vyper opened #387 "Strange behavior following documentation"
In [documentation](http://hanamirb.org/guides/migrations/alter-table/) has a `#set_column_not_null` method, but doesn't work.

[code]

[2017-03-04 21:54] cllns commented on #387
Thanks for submitting this and sorry you're having trouble.

Writing it in this way should work:
[code]
But I agree this is a bug and people should be able to use either syntax, or the documentation should be updated :)

[2017-03-20 09:58] jodosha opened #392 "Migrate from Minitest to RSpec"
A few rules to follow:

  * If you want to work on this, please leave a comment here. We want to avoid many people to work on the same task.

  * We expect this migration to happen within a week from now.

  * Do not change the tests, only migrate from Minitest to RSpec syntax. If not sure, please ask here.

  * Do not remove the old tests, only add the new ones.

  * Make CI build to use RSpec te

[2017-03-21 08:22] tejasbubane commented on #392
I would like to work on this.

[2017-03-21 10:35] AlfonsoUceda commented on #392
@tejasbubane go ahead ;)

[2017-03-27 10:11] zenspider commented on #392
Can you please record some baseline numbers from minitest (probably from the CI) such that you can compare to the rspec version? # tests run, % passed, # assertions/expections, and time to run (and memory RSS if you can!)?

[2017-03-27 11:14] jodosha commented on #392
@zenspider Yes, of course.

[2017-04-07 07:01] morrme commented on #392
@tejasbubane  Are you still working on this task?  How's it going?

[2017-04-07 07:31] tejasbubane commented on #392
Working on it. Was on holidays for a few days. Will send a PR soon.

[2017-04-19 15:17] jodosha commented on #392
@tejasbubane ping.

[2017-04-21 08:27] kaikuchn opened #394 "schema calls `deep_symbolize` turning everything into hashes"
Hey folks,

I have this entity
[code]

where `Types::AlertCriterion` and `Types::AlertAction` are custom types which coerce the input to instances of `AlertCriterion` and `AlertAction` respectively. Those are Virtus value objects, since I haven't yet switched them to dry-structs or hanami-entities yet, and respond to `to_hash`. Therefore when I instantiate an `AlertRule` the schema hashifies crite

[2017-04-21 09:00] jodosha commented on #394
@kaikuchn That is a problem that also @mereghost stumbled on while working on associations. Can you folks please explore if we can replace `deep_symbolize` with `symbolize`?

[2017-04-21 10:34] kaikuchn commented on #394
Have a look at the proposed change: https://github.com/hanami/model/pull/395
This would keep deep symbolising for schema-less entities but leave it up to the user to specify whether or not he wishes to symbolise nested hashes through use of `Type::Hash.symbolized`.
Automatic schema uses `schema` instead of `symbolized` though. Since `symbolized` is based on `weak` we cannot simply substitute this.

[2017-04-21 13:44] kaikuchn commented on #394
After investigating how automatic schema inference works I've adapted the linked PR to deeply symbolise hashes for inferred/automatic schemas.

[2017-05-03 08:29] kaikuchn opened #399 "relation override must be symbol to avoid error "undefined method `first' for nil:NilClass""
@andru1989 reported a difficult to debug error in the hanami chat on [25. April 2017 00:45](https://gitter.im/hanami/chat?at=58fe7ff58fcce56b2032d087). A look at the [implementation of one of his  repositories](https://gitter.im/hanami/chat?at=58ff7a526aea30763d3f50ce) revealed the source of the error.
[The guides](http://hanamirb.org/guides/models/repositories/#legacy-databases) show an example o

[2017-05-05 14:32] mereghost commented on #399
Code in question:

[code]

[2017-05-05 14:38] mereghost commented on #364
BTW it's due to default collation and [mysql limitations](https://bugs.mysql.com/bug.php?id=6604).

[2017-05-13 05:00] bigtunacan opened #402 "Invalid URI error"
If you have the @ symbol in your password, which is allowed by Postgres for example, an invalid URI error is raised.

Example:

DATABASE_URL="postgresql://username:p@ssword@localhost/bookshelf_test"

[2017-05-17 07:37] kaikuchn commented on #402
Any significant symbols must be URL encoded, otherwise the URL parser cannot process the URL. Postgres will happily decode the URL https://www.postgresql.org/docs/current/static/libpq-connect.html#AEN45571

[2017-05-17 11:47] jodosha commented on #387
@vyper Sorry about the trouble. It looks like the guides are now updated. I'm gonna close this.

[2017-05-17 11:47] #387 closed

[2017-05-17 12:21] jodosha commented on #402
@bigtunacan Thanks for reporting this. It looks like it's a Sequel bug. I'm gonna report it there.

[2017-05-17 12:21] #402 closed

[2017-05-18 13:28] #399 closed

[2017-05-18 13:29] jodosha commented on #394
Fixed by #395 and #401

[2017-05-18 13:29] #394 closed

[2017-05-18 14:48] jodosha commented on #392
Implemented by #396

[2017-05-18 14:48] #392 closed

[2017-05-19 07:32] emaren84 opened #404 "Stack Overflow on thousands `update` call"
You could try this code block.

[code]

This code got Stack Overflow when it reached around 3650th iteration.
Assuming that there are 3 Hanami customized methods in the update method, which is subclass of ROM::Repo. and That methods was getting propagated every time update method had been called.

[2017-05-21 10:16] davydovanton opened #406 "Proposal: multi_create method for bulk records"
Now we can use `#create` method for this. But I think it will be better to create the different method for this. We should use `#command` here. If you don't mind, I can create PR for this 👍

How we can use in in projects:
[code]

[2017-05-22 09:14] jodosha commented on #404
Fixed by #405

[2017-05-22 09:14] #404 closed

[2017-05-22 09:19] jodosha commented on #406
I'm not for expanding repository public API to bulk operations, because it's a gateway for "find", "update", "delete" in bulk feature requests.

As they aren't common use case, developers can implement by their own, and/or use upcoming `Hanami::Model::Command` /cc @hlegius

[2017-05-22 09:19] #406 closed

[2017-05-22 09:21] jodosha commented on #406
@davydovanton PS Please use the forum for proposals and please leave GH issues for actionable tickets that we have already agreed on. Thank you very much. 💚